@font-face {
    font-family: 'FrutigerNextLTW1G-Black';
    src: url('fonts/FrutigerNextLTW1G-Black.eot?#iefix') format('embedded-opentype'), url('fonts/FrutigerNextLTW1G-Black.otf') format('opentype'), url('fonts/FrutigerNextLTW1G-Black.woff') format('woff'), url('fonts/FrutigerNextLTW1G-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'FrutigerNeueLTW1G-Book';
    src: url('fonts/FrutigerNeueLTW1G-Book.eot?#iefix') format('embedded-opentype'), url('fonts/FrutigerNeueLTW1G-Book.otf') format('opentype'), url('fonts/FrutigerNeueLTW1G-Book.woff') format('woff'), url('fonts/FrutigerNeueLTW1G-Book.ttf') format('truetype');
}

@font-face {
    font-family: "FrutigerNeueLTW1G-BlackIt";
    src: url("fonts/FrutigerNeueLTW1G-BlackIt.eot");
    src: url("fonts/FrutigerNeueLTW1G-BlackIt?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-BlackIt.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-BlackIt.ttf") format("truetype");
}

@font-face {
    font-family: "FrutigerNeueLTW1G-Bold";
    src: url("fonts/FrutigerNeueLTW1G-Bold.eot");
    src: url("fonts/FrutigerNeueLTW1G-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-Bold.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "FrutigerNeueLTW1G-Regular";
    src: url("fonts/FrutigerNeueLTW1G-Regular.eot");
    src: url("fonts/FrutigerNeueLTW1G-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-Regular.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-Regular.ttf") format("truetype");
}

@font-face {

    font-family: "FrutigerNeueLTW1G-Thin";
    src: url("fonts/FrutigerNeueLTW1G-Thin.eot");
    src: url("fonts/FrutigerNeueLTW1G-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-Thin.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-Thin.ttf") format("truetype");
}

@font-face {

    font-family: "GaramondPremrPro-MedIt";
    src: url("fonts/GaramondPremrPro-MedIt.eot");
    src: url("fonts/GaramondPremrPro-MedIt?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-MedIt.woff") format("woff"), url("fonts/GaramondPremrPro-MedIt.ttf") format("truetype");
}

@font-face {
    font-family: "SchoolBookC";
    src: url("fonts/SchoolBookC.eot");
    src: url("fonts/SchoolBookC?#iefix") format("embedded-opentype"), url("fonts/SchoolBookC.woff") format("woff"), url("fonts/SchoolBookC.ttf") format("truetype");
}

@font-face {
    font-family: "GaramondPremrPro-Med";
    src: url("fonts/GaramondPremrPro-Med.eot");
    src: url("fonts/GaramondPremrPro-Med?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-Med.woff") format("woff"), url("fonts/GaramondPremrPro-Med.ttf") format("truetype");
}

@font-face {
    font-family: "FrutigerNeueLTW1G-Light";
    src: url("fonts/FrutigerNeueLTW1G-Light.eot");
    src: url("fonts/FrutigerNeueLTW1G-Light?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-Light.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-Light.ttf") format("truetype");
}

@font-face {
    font-family: "FrutigerNeueLTW1G-LightIt";
    src: url("fonts/FrutigerNeueLTW1G-LightIt.eot");
    src: url("fonts/FrutigerNeueLTW1G-LightIt?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-LightIt.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-LightIt.ttf") format("truetype");
}
@font-face {
    font-family: "GaramondPremrPro-It";
    src: url("fonts/GaramondPremrPro-It.eot");
    src: url("fonts/GaramondPremrPro-It?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-It.woff") format("woff"), url("fonts/GaramondPremrPro-It.ttf") format("truetype");
}
@font-face {
    font-family: "GaramondPremrPro-BdIt";
    src: url("fonts/GaramondPremrPro-BdIt.eot");
    src: url("fonts/GaramondPremrPro-BdIt?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-BdIt.woff") format("woff"), url("fonts/GaramondPremrPro-BdIt.ttf") format("truetype");
}

@font-face {
    font-family: "GaramondPremrPro-Smbd";
    src: url("fonts/GaramondPremrPro-Smbd.eot");
    src: url("fonts/GaramondPremrPro-Smbd?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-Smbd.woff") format("woff"), url("fonts/GaramondPremrPro-Smbd.ttf") format("truetype");
}

@font-face {
    font-family: "FrutigerNeueLTW1G-Black";
    src: url("fonts/FrutigerNeueLTW1G-Black.eot");
    src: url("fonts/FrutigerNeueLTW1G-Black?#iefix") format("embedded-opentype"), url("fonts/FrutigerNeueLTW1G-Black.woff") format("woff"), url("fonts/FrutigerNeueLTW1G-Black.ttf") format("truetype");
}

@font-face {

    font-family: "GaramondPremrPro-Bd";
    src: url("fonts/GaramondPremrPro-Bd.eot");
    src: url("fonts/GaramondPremrPro-Bd?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-Bd.woff") format("woff"), url("fonts/GaramondPremrPro-Bd.ttf") format("truetype");

    font-family: "GaramondPremrPro-SmbdIt";
    src: url("fonts/GaramondPremrPro-SmbdIt.eot");
    src: url("fonts/GaramondPremrPro-SmbdIt?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-SmbdIt.woff") format("woff"), url("fonts/GaramondPremrPro-SmbdIt.ttf") format("truetype");

}
