@@include('../chunks/head.html')
</head>

<body>
<div class="papab js-papab__close"></div>
@@include('../chunks/papab_s.html')
<div id="page-wrapper" class="page-wrapper">
  @@include('../chunks/header.html')
  <div id="page-body" class="page-body">
  		
    @@include('../chunks/404s.html')
      </div>
      </div>

  @@include('../chunks/footer.html')


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
