@@include('../chunks/head.html')
</head>

<body>
<div class="papab js-papab__close"></div>
@@include('../chunks/papab_s.html')
    <div id="page-wrapper" class="page-wrapper">
        @@include('../chunks/header.html')
        <div id="page-body" class="page-body">
            <div class="personal grey-b p-t-zero">
                <div class="content">
                    <div class="bread-crumbs">
                        <ul>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">Главная    </a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">Университет </a>
                            </li>
                            <li class="bread-crumbs__item">
                                История университета
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content cf">
                    <h1>История университета</h1>
                </div>
                @@include('../chunks/history.html')
            </div>
        </div>

        @@include('../chunks/footer.html')

    </div>


    <!-- scripts
___________________________________________________________________________-->

    @@include('../chunks/scripts.html')
</body>

</html>