@@include('../chunks/head.html')
</head>

<body>
<div class="papab js-papab__close"></div>
@@include('../chunks/papab_s.html')
    <div id="page-wrapper" class="page-wrapper">
        @@include('../chunks/header.html')
        <div id="page-body" class="page-body">
            <div class="personal grey-b grey-b-mod">
                <div class="content">
                    <div class="bread-crumbs">
                        <ul>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">Главная    </a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">Новости и события </a>
                            </li>
                            <li class="bread-crumbs__item">
                                Новости университета
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content cf">
                    @@include('../chunks/news-inner.html')
                    @@include('../chunks/sidebar-ads.html')
                </div>
            </div>
        </div>

        @@include('../chunks/footer.html')

    </div>


    <!-- scripts
___________________________________________________________________________-->

    @@include('../chunks/scripts.html')
</body>

</html>
