/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$email-name: 'email';
$email-x: 35px;
$email-y: 0px;
$email-offset-x: -35px;
$email-offset-y: 0px;
$email-width: 13px;
$email-height: 10px;
$email-total-width: 48px;
$email-total-height: 42px;
$email-image: 'sprite.png';
$email: (35px, 0px, -35px, 0px, 13px, 10px, 48px, 42px, 'sprite.png', 'email', );
$feedback-name: 'feedback';
$feedback-x: 16px;
$feedback-y: 0px;
$feedback-offset-x: -16px;
$feedback-offset-y: 0px;
$feedback-width: 19px;
$feedback-height: 15px;
$feedback-total-width: 48px;
$feedback-total-height: 42px;
$feedback-image: 'sprite.png';
$feedback: (16px, 0px, -16px, 0px, 19px, 15px, 48px, 42px, 'sprite.png', 'feedback', );
$location-name: 'location';
$location-x: 35px;
$location-y: 10px;
$location-offset-x: -35px;
$location-offset-y: -10px;
$location-width: 9px;
$location-height: 13px;
$location-total-width: 48px;
$location-total-height: 42px;
$location-image: 'sprite.png';
$location: (35px, 10px, -35px, -10px, 9px, 13px, 48px, 42px, 'sprite.png', 'location', );
$phone-name: 'phone';
$phone-x: 16px;
$phone-y: 15px;
$phone-offset-x: -16px;
$phone-offset-y: -15px;
$phone-width: 12px;
$phone-height: 13px;
$phone-total-width: 48px;
$phone-total-height: 42px;
$phone-image: 'sprite.png';
$phone: (16px, 15px, -16px, -15px, 12px, 13px, 48px, 42px, 'sprite.png', 'phone', );
$schedule-name: 'schedule';
$schedule-x: 0px;
$schedule-y: 32px;
$schedule-offset-x: 0px;
$schedule-offset-y: -32px;
$schedule-width: 11px;
$schedule-height: 10px;
$schedule-total-width: 48px;
$schedule-total-height: 42px;
$schedule-image: 'sprite.png';
$schedule: (0px, 32px, 0px, -32px, 11px, 10px, 48px, 42px, 'sprite.png', 'schedule', );
$sprite-ch-name: 'sprite-ch';
$sprite-ch-x: 0px;
$sprite-ch-y: 0px;
$sprite-ch-offset-x: 0px;
$sprite-ch-offset-y: 0px;
$sprite-ch-width: 16px;
$sprite-ch-height: 32px;
$sprite-ch-total-width: 48px;
$sprite-ch-total-height: 42px;
$sprite-ch-image: 'sprite.png';
$sprite-ch: (0px, 0px, 0px, 0px, 16px, 32px, 48px, 42px, 'sprite.png', 'sprite-ch', );
$spritesheet-width: 48px;
$spritesheet-height: 42px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($email, $feedback, $location, $phone, $schedule, $sprite-ch, );
$spritesheet: (48px, 42px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
