<div class="not-f-s">
	<div class="content">
		<div class="bread-crumbs">
		    <ul>
		        <li class="bread-crumbs__item">
		            <a class="bread-crumbs__link" href="#">Главная    </a>
		        </li>
		    	<li class="bread-crumbs__item">
		            Страница не найдена
		        </li>
		     </ul>
		</div>
		<div class="not-f-page">
			<h1 class="left-page__title">Страница не найдена</h1>
			<p class="not-f-page__txt">Воспользоваться поиском</p>
			<div class="sort-wrap cf">
		        <!-- <span class="sort-wrap__icon found-stile">
		            <input type="text" class="sort-wrap__search" placeholder="Искать на сайте">
		        </span> -->
				<form class="sort-wrap__form found-stile">
		                <input type="text" class="sort-wrap__search" placeholder="Искать на сайте">
		                <input type="submit" class="sort-wrap__submit">
		            </form>
		    </div>
		    <div class="block-but">
				<a href="#" class="item-news__b-more">Перейти на главную страницу</a>
			</div>
		</div>
	</div>
</div>
