<div class="left-page">
    <h1 class="left-page__title line-mod">Объявления</h1>
    <div class="filter clearfix">
        <div class="sort-wrap__select-wrapper">
            <select class="select pad-mod">
                <option>Выберите институт/факультет</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
        </div>
        <div class="date date-pad-mod">
            <div class="period-wrapper">
                <div class="period">За период:</div>
            </div>
            <div class="daterange-wrapper">
            <input type="text" name="daterange" id="daterange" value="" />
            <div class="i-calendar"></div>
            </div>
              <a href="javascript:void(0)" class="js-daterange-drop cancelBtn">Сбросить</a>
        </div>
      
    </div>
    <div class="adve-wrapper">
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="btn-rect show-more">Показать еще</a>
        <div class="pagination__info">
            Показаны <span>10</span> из <span>1034</span>
        </div>
    </div>
</div>
