<div class="rel-b">
  <div class="fotorama fotorama_1" data-width="100%" data-height="552" data-arrows="false">
    <div data-img="img/slider-img.jpg" data-fit="cover"><div class="content"><p class="text-slider">Олимпиада <br>по физической культуре</p><a href="javascript:void(0)" class="but-link">Подробнее</a></div></div>
    <div data-img="img/slider-img.jpg" data-fit="cover"><div class="content"><p class="text-slider">Олимпиада <br>по физической культуре</p><a href="javascript:void(0)" class="but-link">Подробнее</a></div></div>
    <div data-img="img/slider-img.jpg" data-fit="cover"><div class="content"><p class="text-slider">Олимпиада <br>по физической культуре</p><a href="javascript:void(0)" class="but-link">Подробнее</a></div></div>
  </div>
  <div class="content block-for-but">
  <a href="javascript:void(0)" class="ne"></a>
  <a href="javascript:void(0)" class="pr"></a>
  </div>
  <a href="javascript:void(0)" class="move-but"></a>
</div>
<div class="grey-b">
  <div class="content cf">
  <div class="item-news item-news__right">
    <div class="item-news__co">
      <img src="img/news-ban-img.jpg" alt="" class="item-news__img">
    </div>
      <div class="abs-date">22<span class="abs-date__mun">марта</span></div>
      <div class="item-news__title">Тема недели</div>
      <a href="" class="item-news__link dot-ellipsis">«Вестник  МарГУ» включен в Ulrich's Periodicals Directory</a>
      <div class="item-news__txt dot-ellipsis">
        <p>Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory — самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности.</p>
        <p>Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха)...</p>
      </div>
      <a href="#" class="item-news__b-more">Читать полностью</a>
    </div>
    <div class="cont-tab">
      <ul class="b-tab">
        <li class="b-tab__item"><a href="main_1" class="b-tab__link b-tab__link-new is-active">Новости</a></li>
        <li class="b-tab__item"><a href="main_2" class="b-tab__link b-tab__link-new">Объявления</a></li>
      </ul>
      <a href="" class="link-news some-ho-kl main_1 active">Все новости</a>
      <a href="" class="link-news some-ho-kl main_2 ">Все oбъявления</a>
    </div>

    <div class="some-ho-kl main_1 active">
    <ul class="b-labes">
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link b-labes__link-active">ВСЕ</a></li>
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Образование</a></li>
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Наука</a></li>
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Культура и общество</a></li>
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Спорт</a></li>
      <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Жизнь университета</a></li>
    </ul>
    <div class="item-news item-news__big">
      <div class="item-news__co">
        <img src="img/news-ban-img-2.jpg" alt="" class="item-news__img">
      </div>
      <a href="" class="item-news__link item-news__txt-big dot-ellipsis">Это самая последняя и актуальная новость на данный момент, поэтому она такая большая</a>
      <p class="item-news__txt item-news__txt-big dot-ellipsis">30 марта на базе Чувашского государственного педагогического университета им. И. Я. Яковлева (ЧГПУ) прошел конкурс-фестиваль студентов и молодежи «Профессия, которую я выбрал».</p>
      <div class="item-news__footer cf">
        <p class="item-news__type">спорт</p>
        <p class="item-news__time">Сегодня, 08:54</p>
      </div>
    </div>
    <ul class="item-news__list new-s item-news-f cf">
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
            <div class="item-news__co">
              <img src="img/news-ban-img-3.jpg" alt="" class="item-news__img">
            </div>
            <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
            <p class="item-news__time">Сегодня, 08:56</p>
          </div>
        </a>
      </li>
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
            <div class="item-news__co">
              <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
            </div>
            <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
            <p class="item-news__time">12.05.16, пятница</p>
          </div>
        </a>
      </li>
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
            <div class="item-news__co">
              <img src="img/news-ban-img-5.jpg" alt="" class="item-news__img">
            </div>
            <p class="item-news__link dot-ellipsis">Студенты МарГУ участвовали в конкурсе «Музыкальный март»</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
            <p class="item-news__time">11.05.16, четверг</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="paginator gulgul">
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link paginator__link-active"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
    </ul>
  </div>


  <div class="some-ho-kl main_2">
    <div class="time-lost item-news__big">
      <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
        </div>
        <div class="adve-block">
            <div class="time-date fln">
                Сегодня, <span>08:56</span>
            </div>
            <a href="javascript:void(0)" class="title">Объявление о педагогической олимпиаде</a>
            <div class="lead">
                Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.
            </div>
            <div class="adve-links">
                <a href="javascript:void(0)">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                <a href="javascript:void(0)">ПРИЛОЖЕ</a>
            </div>
        </div>
        <ul class="paginator">
        <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
        <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link paginator__link-active"></a></li>
        <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
        <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      </ul>
    </div>
    
  </div>


    
  </div>
</div>
<div class="dark-gray">
  <div class="content">
    <h2>Как поступить в МарГУ?</h2>
    <ol class="list-way">
      <li class="list-way__item list-way__item-1"><p class="list-way__txt list-way__txt-1">Оставить заявку <br>на обучение</p></li>
      <li class="list-way__item list-way__item-2"><p class="list-way__txt list-way__txt-2">Подать заявление <br>в приемную комиссию</p></li>
      <li class="list-way__item list-way__item-3"><p class="list-way__txt list-way__txt-3">Предоставить пакет <br>документов</p></li>
      <li class="list-way__item list-way__item-4"><p class="list-way__txt list-way__txt-4">Получить документы <br>о зачислении <br>и студенческий билет</p></li>
    </ol>
    <form action="/hello" class="form-send style-sel">
      <select class="form-select selectbox">
        <option>Все направления</option>
        <option>Все направления</option>
        <option>Все направления</option>
        <option>Все направления</option>
      </select>
      <div class="form-send__block">
        <div class="border-co">
          <input type="text" placeholder="Имя" class="form-send__input" required>
        </div>
      </div>
      <div class="form-send__block">
        <div class="border-co">
          <input type="number" placeholder="Телефон" class="form-send__input" required>
        </div>
      </div>
      <div class="form-send__block">
        <div class="border-co">
          <input type="email" placeholder="Почта" class="form-send__input" required>
        </div>
      </div>
      <div class="form-send__block">
        <div class="border-co  send-b__block">
          <input type="submit" class="send-b" value="Подать заявку">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="grey-b plan-mobl">
  <div class="content cf">
    <div class="dis-b">
      <div class="cont-tab">
        <ul class="b-tab">
          <li class="b-tab__item"><a href="javascript:void(0)" class="b-tab__link">Ближайшие мероприятия</a></li>
        </ul>
        <a href="" class="link-news">Все мероприятия</a>
      </div>
      <ul class="b-labes">
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link b-labes__link-active">ВСЕ тематики</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Конференции</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Олимпиады</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Выставки</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">СПОРТ</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Творчество</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Конкaурсы</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Досуг</a></li>
      </ul>
    </div>
    <!-- ch -->
    <div class="datepicker-here m-15"></div>
    <!-- /ch -->
    <div class="item-news item-news__big">
      <div class="item-news__co">
        <img src="img/news-ban-img-6.jpg" alt="" class="item-news__img">
      </div>
      <div class="abs-date">22<span class="abs-date__mun">марта</span></div>
      <a href="" class="item-news__link item-news__txt-big dot-ellipsis">В блоке ближайшего мероприятия заголовок и основной текст выстраиваются в две колонки</a>
      <p class="item-news__txt item-news__txt-big dot-ellipsis">Здесь основная информация о мероприятии. Достаточно 5 строк текста, чтобы уравновесить колонки и сделать их удобочитаемыми. В редких случаях можно обойтись меньшим количеством текста...</p>
      <div class="item-news__footer cf">
        <p class="item-news__type">спорт</p>
      </div>
    </div>
    <ul class="item-news__list cf">
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
            <div class="item-news__co">
              <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
            </div>
            <div class="abs-date">25<span class="abs-date__mun">марта</span></div>
            <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
          </div>
        </a>
      </li>
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
            <div class="item-news__co">
              <img src="img/news-ban-img-8.jpg" alt="" class="item-news__img">
            </div>
            <div class="abs-date">24<span class="abs-date__mun">марта</span></div>
            <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
          </div>
        </a>
      </li>
      <li class="item-news">
        <a href="#">
          <div class="ov-h zero-img">
            <div class="blou-b"></div>
            <div class="abs-date">24<span class="abs-date__mun">марта</span></div>
            <p class="item-news__link dot-ellipsis">Студенты МарГУ участвовали в конкурсе «Музыкальный март»</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае мы закрываем образовавшиеся пустоты небольшим количеством текста, кратким содержанием конференции и так далее...</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="paginator">
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link paginator__link-active"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
    </ul>
    <a href="" class="item-news__b-more cal">Календарь</a>
  </div>
</div>
<div class="dark-gray">
  <div class="content">
    <div class="cf">
      <div class="conteiner-txt">
        <h2>МарГУ сегодня</h2>
        <a href="" class="mar-tu">Сегодня Марийский государственный университет представляет собой комплекс из 6 учебных корпусов, 8 общежитий и оздоровительного лагеря «Олимпиец» на берегу прекрасного озера Яльчик.</a>
        <div class="cf">
          <p class="conteiner-txt__p conteiner-txt__p-1">В университете ведется исследовательская работа по многим основным направлениям гуманитарного, физико-математического, биолого-химического, сельскохозяйственного и технического профилей. Их возглавляют ведущие ученые - доктора наук. Исследовательская проблематика ежегодно расширяется за счет перспективных направлений науки и технологий.</p>
          <p class="conteiner-txt__p conteiner-txt__p-2">Налаживаются деловые связи с крупнейшими отечественными и зарубежными учебно-научными центрами. Студенты университета являются победителями и призерами крупнейших международных, всероссийских и региональных олимпиад и конкурсов...</p>
          <a href="" class="link-news">Читать дальше</a>
        </div>
      </div>
      <div class="ask-b">
        <ul class="ask-b__list">
          <li class="ask-b__item"><a href="" class="ask-b__link ask-b__link-1">Как поступить</a></li>
          <li class="ask-b__item"><a href="" class="ask-b__link ask-b__link-2">Направления и специальности</a></li>
          <li class="ask-b__item"><a href="" class="ask-b__link ask-b__link-3">Студгородок</a></li>
          <li class="ask-b__item"><a href="" class="ask-b__link ask-b__link-4">Вопрос-ответ</a></li>
        </ul>
        <a href="#" class="item-news__b-more">Задать вопрос</a>
      </div>
    </div>
    <div class="rel-b">
      <div class="fotorama fotorama_2" data-width="100%" data-height="425" data-arrows="false">
        <div data-img="img/b-about-carus.jpg" data-fit="cover"><p class="fotorama-2__txt"><span class="fotorama-2__span">45%</span>студентов с отличием завершили учебу в 2015 году</p></div>
        <div data-img="img/b-about-carus.jpg" data-fit="cover"><p class="fotorama-2__txt"><span class="fotorama-2__span">45%</span>студентов с отличием завершили учебу в 2015 году</p></div>
        <div data-img="img/b-about-carus.jpg" data-fit="cover"><p class="fotorama-2__txt"><span class="fotorama-2__span">45%</span>студентов с отличием завершили учебу в 2015 году</p></div>
      </div>
      <div class="content block-for-but">
      <a href="javascript:void(0)" class="ne_1"></a>
      <a href="javascript:void(0)" class="pr_1"></a>
      </div>
    </div>
  </div>
</div>
<div class="grey-b hide-m-b">
  <div class="content rel-b">
    <h2>Образовательные услуги Университета</h2>
    <ol class="list-way-sec">
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">1</div><p class="list-way-sec__txt">Курсы <br>для школьников</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">2</div><p class="list-way-sec__txt">Подготовительное <br>отделение</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">3</div><p class="list-way-sec__txt">Бакалавриат <br>специалитет</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">4</div><p class="list-way-sec__txt">Магистратура</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">5</div><p class="list-way-sec__txt">Аспирантура <br>докторнатура</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">6</div><p class="list-way-sec__txt">Дополнительное <br>профессиональное <br>образование</p></a></li>
      <li class="list-way-sec__item"><a href="" class="list-way-sec__link"><div class="list-way-sec__number">7</div><p class="list-way-sec__txt">Дистанционное <br>образование</p></a></li>
    </ol>
    <div class="line-cen"></div>
  </div>
</div>
<div class="dark-gray swap-color-2">
  <div class="content cf">
    <div class="dis-b">
      <div class="cont-tab">
        <ul class="b-tab">
          <li class="b-tab__item"><a href="javascript:void(0)" class="b-tab__link">Жизнь Университета</a></li>
        </ul>
      </div>
      <ul class="b-labes">
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link b-labes__link-active">Фото</a></li>
        <li class="b-labes__item"><a href="javascript:void(0)" class="b-labes__link">Видео</a></li>
      </ul>
      <div class="soc-icon">
        <p class="soc-icon__txt">Присоединяйтесь</p>
        <ul class="soc-icon__list">
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-1"></a></li>
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-2"></a></li>
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-3"></a></li>
        </ul>
      </div>
    </div>
    <ul class="b-life-un cf">
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life-1.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life-2.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life-3.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life-4.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
      <li class="b-life-un__item"><a href="" class="b-life-un__link">
          <img src="img/life-5.jpg" alt="" class="b-life-un__img">
          <p class="b-life-un__txt">Короткий комментарий к фотографии</p>
        </a></li>
    </ul>
    <ul class="paginator">
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link paginator__link-active"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
      <li class="paginator__item"><a href="javascript:void(0)" class="paginator__link"></a></li>
    </ul>
    <div class="sentr-but">
      <div class="item-news">
        <a href="#" class="item-news__b-more">Перейти в фотогалерею</a>
      </div>
    </div>
  </div>
</div>
<div class="grey-b swap-color-1">
  <div class="content rel-b fotorama-3">
    <h2>Студенты о МарГУ</h2>
    <div class="rel-b">
      <div class="fotorama fotorama_3" data-width="100%"  data-height="460" data-arrows="false">
        <div class="content">
          <img src="img/face.png" alt="" class="fotorama-3__foto">
          <p class="fotorama-3__name">Мария Иванова</p>
          <p class="fotorama-3__chair">Студентка физико-математического факультета</p>
          <p class="fotorama-3__txt">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
        </div>
        <div class="content">
          <img src="img/face.png" alt="" class="fotorama-3__foto">
          <p class="fotorama-3__name">Мария Иванова</p>
          <p class="fotorama-3__chair">Студентка физико-математического факультета</p>
          <p class="fotorama-3__txt">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
        </div>
        <div class="content">
          <img src="img/face.png" alt="" class="fotorama-3__foto">
          <p class="fotorama-3__name">Мария Иванова</p>
          <p class="fotorama-3__chair">Студентка физико-математического факультета</p>
          <p class="fotorama-3__txt">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
        </div>
      </div>
      <div class="content block-for-but">
      <a href="javascript:void(0)" class="ne_2"></a>
      <a href="javascript:void(0)" class="pr_2"></a>
      </div>
    </div>
  </div>
</div>
<div class="dark-gray hide-m-b">
  <div class="content cf">
    <div class="dis-b">
      <div class="cont-tab">
          <ul class="b-tab">
            <li class="b-tab__item"><a href="#news" class="js-personal-tabs-s is-active b-tab__link b-tab__link-active">Новости партнеров</a></li>
            <li class="b-tab__item"><a href="#resources" class="js-personal-tabs-s b-tab__link b-tab__link-active">Интернет-ресурсы</a></li>
          </ul>
          <a href="" class="link-news">Все новости</a>
      </div>
    </div>
    <ul id="news" class="b-date cf tabl-style is-active">
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">23 <span>сентября</span></p>Портфель действующих карт сбербанка по итогам 2015 года составил 118 млн.
        </a></li>
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">01 <span>мая</span></p>Портфель действующих карт сбербанка по итогам 2015 года составил 118 млн.
        </a></li>
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">31 <span>декабря</span></p>Путин посоветовал бизнесменам не продавать активы на Украине
        </a></li>
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">11 <span>сентября</span></p>СНГ обсудит реформу содружества
        </a></li>
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">25 <span>мая</span></p>The Rolling Stones выпустят новый альбом
        </a></li>
      <li class="b-date__item"><a href="" class="b-date__link">
          <p class="b-date__date">28 <span>февраля</span></p>Суд Швеции запретил Wikimedia выкладывать фотографии с выставок
        </a></li>
    </ul>
    <ul id="resources" class="b-date ir tabl-style">
      <li class="b-date__item res"><a href="" class="b-date__link portal">
          Официальный портал Президента России
        </a></li>
      <li class="b-date__item res"><a href="" class="b-date__link min">
          Министерство образования и науки Республики Марий Эл
        </a></li>
      <li class="b-date__item res"><a href="" class="b-date__link wiki">
          Википедия - свободная энциклопедия
        </a></li>
      <li class="b-date__item res"><a href="" class="b-date__link books">
          Электронная библиотека
        </a></li>
      <li class="b-date__item res"><a href="" class="b-date__link portal">
          Сайт правительства России
        </a></li>
      <li class="b-date__item res"><a href="" class="b-date__link portal">
          Официальный сайт Ми- нистерства образования и науки Российской Федерации
        </a></li>
    </ul>
  </div>
</div>
<div class="grey-b hide-m-b lightSlider_1">
  <div class="content rel-b">
      <h2>Наши партнеры</h2>
      <div id="lightSlider_1">
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
          <div style='background: url("img/b-about-carus.jpg")'></div>
    </div>
  </div>
</div>
