<div class="left-page">
    <div class="campus">
        <h1 class="left-page__title">Кампусные карты</h1>
        <div class="campus__bl cf">
            <div class="campus__right-img">
                <img src="img/bank-im-2.jpg" alt="" class="campus__img">
            </div>
            <div class="campus__left-txt">
                <p class="campus__txt">С начала нового учебного года ОАО «Сбербанк России» и Федеральное государственное бюджетное образовательное учреждение высшего профессионального образования «Марийский государственный университет» (МарГУ) при поддержке Министерства образования и науки Республики Марий Эл реализуют совместный инновационный проект – «Кампусная карта».</p>
                <p class="campus__txt_bold">МарГУ стал первым вузом в стране, специально для которого Сбербанк России разработал уникальную кампусную карту.</p>
            </div>
        </div>
        <div class="campus__bl cf">
            <div class="campus__left-img">
                <img src="img/bank-im-1.png" alt="" class="campus__img">
            </div>
            <div class="campus__right-txt">
                <p class="campus__txt">Маленькая карта — большие возможности. Кампусная карта или «универсальная карта студента» сочетает в себе несколько функций:</p>
                <ul class="list-dot">
                    <li class="list-dot__item">пропуск в вуз;</li>
                    <li class="list-dot__item">получение доступа  к информационным ресурсам (расписанию, библиотеке и пр.);</li>
                    <li class="list-dot__item">является электронным аналогом студенческого билета и зачетной книжки;</li>
                    <li class="list-dot__item">можно использовать как обычную дебетовую карту для оплаты товаров и услуг на территории вуза по бесконтактной технологии Pay Pass.</li>
                </ul>
            </div>
        </div>
        <p class="campus__txt-s">Также «Сбербанк он-лайн», «Мобильный банк», «Автоплатеж» — все эти услуги студенты могут подключить абсолютно бесплатно в день выдачи кампусных карт. Специалисты Сбербанка не только
        выдают карты взамен заполненных анкет, но и объясняют каждому, как пользоваться новинкой.</p>
        <p class="campus__txt-s">Теперь стипендию студенты могут получать совершенно новым для вуза способом - на кампусную карту. Для их удобства в учебных корпусах МарГУ Сбербанк установил терминалы и банкоматы. Впрочем, перечислить деньги за обучение или общежитие без очередей в терминалах Сбербанка студенты могут в любом районе республики. Комиссия при оплате за обучение или общежитие через банкоматы будет составлять 1% в случае оплаты кампусной картой и 3%, если платеж производится наличными через платежный терминал. В кассе главного корпуса МарГУ оплату данных услуг можно произвести без комиссии.</p>
        <p class="campus__txt-s">В рамках проекта карты выдаются не только студентам и преподавателям, но и всем сотрудникам университета. Всего выпущено 11 тысяч кампусных карт. Первые четыре экземпляра были торжественно вручены своим владельцам на празднике, посвященном Дню знаний.</p>
        
        <div class="st-reviews">
            <h2 class="st-reviews__title">Отзывы студентов о проекте</h2>
                <div class="multiple-items fotorama-reviews">
                    <div class="st-reviews__item cf">
                        <img src="img/feedback-avatar-1.png" alt="" class="st-reviews__img">
                        <div class="st-reviews__right">
                            <p class="st-reviews__name">Мария Иванова</p>
                            <p class="st-reviews__state">Студентка физико-математического факультета</p>
                            <p class="st-reviews__coll">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом» «Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом» «Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
                        </div>
                    </div>
                    <div class="st-reviews__item cf">
                        <img src="img/feedback-avatar-1.png" alt="" class="st-reviews__img">
                        <div class="st-reviews__right">
                            <p class="st-reviews__name">Мария Иванова</p>
                            <p class="st-reviews__state">Студентка физико-математического факультета</p>
                            <p class="st-reviews__coll">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
                        </div>
                    </div>
                    <div class="st-reviews__item cf">
                        <img src="img/feedback-avatar-1.png" alt="" class="st-reviews__img">
                        <div class="st-reviews__right">
                            <p class="st-reviews__name">Мария Иванова</p>
                            <p class="st-reviews__state">Студентка физико-математического факультета</p>
                            <p class="st-reviews__coll">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
                        </div>
                    </div>
                    <div class="st-reviews__item cf">
                        <img src="img/feedback-avatar-1.png" alt="" class="st-reviews__img">
                        <div class="st-reviews__right">
                            <p class="st-reviews__name">Мария Иванова</p>
                            <p class="st-reviews__state">Студентка физико-математического факультета</p>
                            <p class="st-reviews__coll">«Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»</p>
                        </div>
                    </div>
                </div>
        </div>
        <form action="/hello" class="form-card">
            <h3 class="form-card__title">Заявка на получение карты</h3>
            <p class="form-card__txt">Заполните, пожалуйста, все необходимые данные. <br>После этого с вами свяжутся.</p>
            <p class="form-card__title-s">Общие сведения</p>
            <div class="cf form-card__b">
                <div class="form-card__block">
                    <label for="l1" class="form-card__input-title">ФИО ПОЛНОСТЬЮ</label>
                    <input type="text" class="form-card__input" id="l1" required>
                </div>
                <div class="form-card__block">
                    <label for="l2" class="form-card__input-title">E-MAIL</label>
                    <input type="email" class="form-card__input" id="l2" required>
                </div>
                <div class="form-card__block">
                    <label for="l3" class="form-card__input-title">НОМЕР ТЕЛЕФОНА</label>
                    <input type="number" class="form-card__input" id="l3" required>
                </div>
            </div>
            <p class="form-card__title-s">Специальность и группа</p>
            <div class="cf">
                <div class="form-card__block">
                    <label for="l4" class="form-card__input-title">ФАКУЛЬТЕТ</label>
                    <select class="select" id="l4">
                        <option>Выберите факультет</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="form-card__block">
                    <label for="l5" class="form-card__input-title">СПЕЦИАЛЬНОСТЬ</label>
                    <select class="select" id="l5">
                            <option>Выберите специальность</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                    </select>
                </div>
                <div class="form-card__block">
                    <label for="l6" class="form-card__input-title">КУРС</label>
                    <select class="select" id="l6">
                            <option>Выберите курс</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                    </select>
                </div>
                <div class="form-card__block">
                    <label for="l7" class="form-card__input-title">НОМЕР ГРУППЫ</label>
                    <input type="number" class="form-card__input" id="l7" required>
                </div>
            </div>
            <input type="submit" class="form-card__send" value="Отправить заявку">
        </form>
        <div class="b-ne">
            <div class="cont-tab">
                <p class="b-ne__title">Новости проекта</p>
                <a href="" class="link-news">Показать еще</a>
            </div>
            <ul class="item-news__list item-news-f cf">
              <li class="item-news">
                <a href="#">
                  <div class="ov-h">
                    <div class="item-news__co">
                        <img src="img/news-ban-img-3.jpg" alt="" class="item-news__img">
                    </div>
                    <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                  </div>
                  <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                    <p class="item-news__time">Сегодня, 08:56</p>
                  </div>
                </a>
              </li>
              <li class="item-news">
                <a href="#">
                  <div class="ov-h">
                     <div class="item-news__co">
                        <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
                    </div>
                    <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                  </div>
                  <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                    <p class="item-news__time">12.05.16, пятница</p>
                  </div>
                </a>
              </li>
            </ul>
        </div>
    </div>   
</div>
