<div class="cf">
	<div class="left-page left-st">
		<h1 class="left-page__title">Контакты</h1>
		<ul class="contact-list">
			<li class="contact-list__item contact-list__item-big"><span class="contact-list__title">Юридический адрес:</span>424000, Республика Марий Эл г. Йошкар-Ола, <br>пл. Ленина, д. 1</li>
			<li class="contact-list__item"><span class="contact-list__title">Телефон приемной:</span>+7 (8362) 68-80-02</li>
			<li class="contact-list__item"><span class="contact-list__title">Факс: </span>+7 (8362) 56-57-81</li>
			<li class="contact-list__item"><span class="contact-list__title">E-mail (приемная ректора)</span>rector@marsu.ru</li>
			<li class="contact-list__item"><span class="contact-list__title">E-mail (приемная комиссия)</span>prk@marsu.ru</li>
		</ul>
		<div class="block-but">
			<a href="#" data-papa="papa_10" class="item-news__b-more show-papab">Написать администрации</a>
		</div>
	</div>
	<div class="right-page contact-new-st">
		<div class="b-requisites">
			<h3 class="b-requisites__title">Реквизиты</h3>
			<ul class="b-requisites__list">
				<li class="b-requisites__item"><span class="b-requisites__sm-title">ИНН: </span>1215026836</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">КПП: </span>121501001</li>
				<li class="b-requisites__item">УФК по Республике Марий Эл (ФГБОУ ВПО «Марийский государственный университет» л/с 20086Х03110)</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">Банк получателя: </span>ГРКЦ НБ Респ. Марий Эл Банка России</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">БИК </span> 048860001</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">Расчетный счет: </span>40501810500002000002</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">ОКТМО </span>88701000</li>
				<li class="b-requisites__item"><span class="b-requisites__sm-title">КБК </span>00000000000000000130</li>
			</ul>
			<div class="right-page__footer">
				<a href="" class="link-download">Скачать реквизиты <span class="link-download__size">174 kb (DOC)</span></a>
			</div>
		</div>
	</div>
</div>
<div class="b-table">
	<div class="personal-select">
        <a href="#tabl1" class="personal-select__link is-active js-personal-tabs-s">Ректорат</a>
        <a href="#tabl2" class="personal-select__link js-personal-tabs-s">АДМИНИСТРАТИВНЫЕ ПОДРАЗДЕЛЕНИЯ</a>
        <a href="#tabl3" class="personal-select__link js-personal-tabs-s">Институты, факультеты и кафедры</a>
        <a href="#tabl4" class="personal-select__link js-personal-tabs-s">Учебные корпуса</a>
        <a href="#tabl5" class="personal-select__link js-personal-tabs-s">Филиалы</a>
    </div>
</div>
<div id="tabl1" class="tabl-style">
	<div class="sort-wrap cf">
		<form class="sort-wrap__form found-stile">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>

    </div>
  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
	</div>
	  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
  	</div>
</div>
<div id="tabl2" class="tabl-style">
	<div class="sort-wrap cf">
		<form class="sort-wrap__form found-stile">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>
        <div class="sort-wrap__select f-left">
			<div class="sort-wrap__select-wrapper">
              	<select class="select">
                    <option>Деятельность подразделения</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                </select>
             </div>
        </div>
    </div>
  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
	</div>
	  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
  	</div>
</div>
<div id="tabl3" class="tabl-style">
	<div class="sort-wrap cf">
		<form class="sort-wrap__form found-stile">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>
        <div class="sort-wrap__select f-left">
			<div class="sort-wrap__select-wrapper">
              	<select class="select">
                    <option>Выберите институт/факультет</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                </select>
             </div>
        </div>
    </div>
  	<h3 class="main-title-table">Аграрно-технологический институт</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
	</div>
	  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
  	</div>
</div>
<div id="tabl4" class="tabl-style">
	<div class="sort-wrap cf">
        <div class="sort-wrap__select f-left">
			<div class="sort-wrap__select-wrapper">
              	<select class="select change-st">
                    <option>Выберите корпус</option>
                    <option>Корпус A</option>
                    <option>Корпус B</option>
                </select>
             </div>
        </div>
    </div>
    <div class="txt-show txt-1">
	    <h3 class="main-title-table">Учебный корпус «А»</h3>
	    <ul class="list-per-com zer-st cf">
	    	<li class="list-per-com__item list-per-com__item-tel">+7 (8362) 68-80-00, добвочный 1154</li>
	    	<li class="list-per-com__item list-per-com__item-tel">+7 (8362) 68-80-00, добвочный 1154</li>
	    	<li class="list-per-com__item list-per-com__item-addres">г. Йокшар-Ола, пл.Ленина, 1</li>
	    	<li class="list-per-com__item list-per-com__item-name"><span class="list-per-com__span">КОМЕНДАНТ:</span> Кузнецова Ольга Анатольевна</li>
	    </ul>
    </div>
    <div class="txt-show txt-2">
	    <h3 class="main-title-table">Учебный корпус «Б»</h3>
	    <ul class="list-per-com cf">
	    	<li class="list-per-com__item list-per-com__item-tel">+7 (8362) 68-80-00, добвочный 1154</li>
	    	<li class="list-per-com__item list-per-com__item-tel">+7 (8362) 68-80-00, добвочный 1154</li>
	    	<li class="list-per-com__item list-per-com__item-addres">г. Йокшар-Ола, пл.Ленина, 1</li>
	    	<li class="list-per-com__item list-per-com__item-name"><span class="list-per-com__span">КОМЕНДАНТ:</span> Кузнецова Ольга Анатольевна</li>
	    </ul>
    </div>
    <div id="map" class="map"></div>
</div>
<div id="tabl5" class="tabl-style">
	<div class="sort-wrap cf">
		<form class="sort-wrap__form found-stile">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>
    </div>
  	<h3 class="main-title-table">Марийский аграрный колледж (филиал) ФГБОУ ВПО «Марийский государственный университет»</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
	</div>
	  	<h3 class="main-title-table">Образовательная деятельность</h3>
  	<div class="content-table">
	  	<table class="normal-table">
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-title">ПОДРАЗДЕЛЕНИЕ, ДОЛЖНОСТЬ</td>
	  			<td class="normal-table__td normal-table__td-title">ТЕЛЕФОН</td>
	  			<td class="normal-table__td normal-table__td-title">ВНУТРЕННИЙ НОМЕр</td>
	  			<td class="normal-table__td normal-table__td-title">ФИО СОТРУДНИКА</td>
	  			<td class="normal-table__td normal-table__td-title">МЕСТОНАХОЖДЕНИЕ</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td normal-table__td-big" colspan="5">Отдел информатизации</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Помощник ректора по информатизации</td>
	  			<td class="normal-table__td">68-80-00</td>
	  			<td class="normal-table__td">1199</td>
	  			<td class="normal-table__td">Белорусов Роман Валерьевич</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик ИВЦ, Отдел системного администрирования и сопровождения ИС и сетей    </td>
	  			<td class="normal-table__td">68-80-04</td>
	  			<td class="normal-table__td">1127</td>
	  			<td class="normal-table__td">Нагаев Антон Иванович</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 108)</td>
	  		</tr>
	  		<tr class="normal-table__tr">
	  			<td class="normal-table__td">Математик II категории ИВЦ отдела ТиПР</td>
	  			<td class="normal-table__td">68-80-05</td>
	  			<td class="normal-table__td">1105</td>
	  			<td class="normal-table__td">Софронова Елена Сергеевна</td>
	  			<td class="normal-table__td"><a href="#" class="normal-table__link">Корпус А</a> (каб. 100)</td>
	  		</tr>
	  	</table>
  	</div>
</div>
