<div class="left-page">
    <h1 class="left-page__title line-mod">Направления и специальности</h1>
    <div class="personal-select">
        <a href="#all" class="personal-select__link is-active js-personal-tabs">БАКАЛАВРИАТ</a>
        <a href="#education" class="personal-select__link js-personal-tabs">СПЕЦИАЛИТЕТ</a>
        <a href="#science" class="personal-select__link js-personal-tabs">МАГИСТРАТУРА</a>
        <a href="#culture" class="personal-select__link js-personal-tabs">АСПИРАНТУРА</a>
        <a href="#sport" class="personal-select__link js-personal-tabs">СРЕДНЕЕ ПРОФЕССИОНАЛЬНОЕ</a>
    </div>
    <div class="sort-wrap cf">
        <!-- <span class="sort-wrap__icon found-stile">
            <input type="text" class="sort-wrap__search" placeholder="Введите код или название направления">
        </span> -->

        <form class="sort-wrap__form found-stile">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>
    </div>
    <div class="people-list teachers tab-body active" id="all">
        <div class="float-wrap">
            <span class="b-places">Бюджетные</span>
            <span class="p-places">Платные</span>
        </div>
        <div class="table-responsive">
            <table class="edu-table">
                <thead>
                    <tr class="table-title">
                        <td class="col-1">Код
                            <br> направления
                            <a href="javascript:void(0)"></a>
                        </td>
                        <td class="col-2">Название</td>
                        <td class="col-3">Срок обучения</td>
                        <td class="col-4">КОЛИЧЕСТВО
                            <br>МЕСТ (2016)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика <span class="light">(Вычислительная математика и информатика)</span></td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ПВ 20356
                        </td>
                        <td>Прикладная информатика и информатика</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11-256-52
                        </td>
                        <td>Математическое обеспечение и администрирование информационных систем (Информационные системы и базы данных) </td>
                        <td>5 лет (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика (Вычислительная математика и информатика)</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика <span class="light">(Вычислительная математика и информатика)</span></td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ПВ 20356
                        </td>
                        <td>Прикладная информатика и информатика</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11-256-52
                        </td>
                        <td>Математическое обеспечение и администрирование информационных систем (Информационные системы и базы данных) </td>
                        <td>5 лет (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика (Вычислительная математика и информатика)</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика <span class="light">(Вычислительная математика и информатика)</span></td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ПВ 20356
                        </td>
                        <td>Прикладная информатика и информатика</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11-256-52
                        </td>
                        <td>Математическое обеспечение и администрирование информационных систем (Информационные системы и базы данных) </td>
                        <td>5 лет (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            РПВ 256-52
                        </td>
                        <td>Математика (Вычислительная математика и информатика)</td>
                        <td>4 года (очная)</td>
                        <td>
                            <span class="b-places">10</span>
                            <span class="p-places">100</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="people-list administrators tab-body" id="science">
    </div>
    <div class="people-list administrators tab-body" id="culture">
    </div>
    <div class="people-list administrators tab-body" id="sport">
    </div>
    <div class="people-list administrators tab-body" id="uni-life">
    </div>
</div>
