<div class="left-page">
    <h1 class="left-page__title line-mod">Муниципальный этап Всероссийской олимпиады школьников по физической культуре</h1>
    <div class="detal clearfix">
        <a href="javascript:void(0)" class="top-link">спорт</a>
        <div class="img-wrap">
            <img src="img/news-inner.jpg" alt="">
        </div>
        <div class="google-link">
            <div class="dat">Дата проведения: <span class="dat__span">14.15.2016</span></div>
            <a href="javascript:void(0)">Добавить в гугл календарь</a>
        </div>
        <div class="after-pic">
            <p>Муниципальный этап Всероссийской олимпиады школьников по физической культуре 2015-2016 учебного года проходит по всем районам и городам Республики Марий Эл 6 и 7 ноября 2015 года. В г. Йошкар-Оле право проводить его доверено коллективу факультета физической культуры, спорта и туризма на базе Марийского госуниверситета.</p>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">Достижения</a>
            </div>
        </div>
    </div>
    <div class="share news-detal-mod">
        <div class="share__title">Поделитесь информацией</div>
        <div class="share__links">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        </div>
    </div>
    <a class="news-back" href="javascript:void(0)">Вернуться к списку мероприятий</a>
    <div class="other-news">
        <div class="wrapper clearfix">
            <div class="title-wrapper clearfix">
                <div class="title clearfix">
                    Новости, связанные с мероприятием
                </div>
                <div class="show-more">
                    <a href="javascript:void(0)">Показать еще</a>
                </div>
            </div>
                <ul class="item-news__list item-news-f cf">
        <li class="item-news">
            <a href="#">
                <div class="ov-h">
                    <div class="item-news__co">
                        <img src="img/news-ban-img-3.jpg" alt="" class="item-news__img">
                    </div>
                    <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                </div>
                <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                    <p class="item-news__time">Сегодня, 08:56</p>
                </div>
            </a>
        </li>
        <li class="item-news">
            <a href="#">
                <div class="ov-h">
                    <div class="item-news__co">
                        <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
                    </div>
                    <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                </div>
                <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                    <p class="item-news__time">12.05.16, пятница</p>
                </div>
            </a>
        </li>
    </ul>
        </div>
    </div>
    <div class="other-news">
        <div class="wrapper clearfix">
            <div class="title-wrapper clearfix">
                <div class="title clearfix">
                    Другие новости
                </div>
            </div>
                <ul class="item-news__list item-news-f cf">
        <li class="item-news">
            <a href="#">
                <div class="ov-h">
                <div class="item-news__co">
                    <img src="img/news-ban-img-3.jpg" alt="" class="item-news__img">
                </div>
                    <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                </div>
                <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                </div>
            </a>
        </li>
        <li class="item-news">
            <a href="#">
                <div class="ov-h">
                <div class="item-news__co">
                    <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
                </div>
                    <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
                    <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
                </div>
                <div class="item-news__footer cf">
                    <p class="item-news__type">Образование</p>
                </div>
            </a>
        </li>
    </ul>
        </div>
    </div>

</div>
