<div class="left-page">
    <h1 class="left-page__title line-mod">Мероприятия</h1>
    <div class="main-week">
        <div class="week-theme">
            Рекомендуем посетить
        </div>
        <div class="news-pic-wrapper">
            <div class="news-pic">
                <img src="img/news-week-pic.jpg" alt="">
                <div class="date-mod">
                    <div class="number">20</div>
                    <div class="month">марта</div>
                </div>
            </div>
            <div class="pic-info">
                <div class="pic-title">
                    Образование
                </div>
            </div>
        </div>
        <div class="news-article-wrapper">
            <div class="title">Муниципальный этап Всероссийской олимпиады школьников по физической культуре</div>
            <p class="lead">Муниципальный этап Всероссийской олимпиады школьников по физической культуре 2015-2016 учебного года проходит по всем районам и городам Республики Марий Эл 6 и 7 ноября 2015 года. В г. Йошкар-Оле право проводить его доверено коллективу факультета физической культуры, спорта и туризма на базе Марийского госуниверситета. </p>
            <div class="google-link">
                <a href="javascript:void(0)">Добавить в гугл календарь</a>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="subscribe clearfix">
            <div class="text">
                <div class="title">Будьте в курсе событий университета</div>
                <div class="desc">Подпишитесь на рассылку новостей</div>
            </div>
            <a class="show-papab" data-papa="papa_4" href="javascript:void(0)">Подписаться</a>
        </div>
    </div>
    <div class="filter clearfix">
        <div class="filter-title">
            Список мероприятий
        </div>
        <div class="date">
                <div class="period-wrapper">    
                    <div class="period">ПЕРИОД <br> проведения:</div>
                </div>
            <input type="text" name="daterange" id="daterange" value="01/01/2016 - 31/01/2016" />
            <div class="i-calendar"></div>
        </div>
        <a href="javascript:void(0)" class="js-daterange-drop cancelBtn">Сбросить</a>
    </div>
    <div class="personal-select">
        <a href="#all" class="personal-select__link is-active js-personal-tabs">Все</a>
        <a href="#education" class="personal-select__link js-personal-tabs">конференции</a>
        <a href="#science" class="personal-select__link js-personal-tabs">Олимпиады</a>
        <a href="#culture" class="personal-select__link js-personal-tabs">Выставки</a>
        <a href="#sport" class="personal-select__link js-personal-tabs">Спорт</a>
        <a href="#uni-life" class="personal-select__link js-personal-tabs">Творчество</a>
        <a href="#uni" class="personal-select__link js-personal-tabs">Досуг</a>
    </div>
    <div class="people-list teachers tab-body active" id="all">
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic ">
                    <img src="img/prenews-pic-2.jpg" alt="">
                    <div class="date-mod">
                        <div class="number">20</div>
                        <div class="month">марта</div>
                    </div>
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Наука
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="title">Муниципальный этап Всероссийской олимпиады школьников по физической культуре</div>
                <p class="lead">Марийский государственный университет – это вуз с 85-летней историей, которая тесно переплелась с судьбами людей, историей страны. Это вуз, который гордится своим студентом – первым Героем Советского Союза из Марийской республики Василием Степановичем Архиповым, вуз, который и сейчас вносит непосредственный вклад в развитие высшего образования, оборонно-промышленного ... комплекса страны и сохранение здоровья нации.</p>
                <div class="google-link">
                    <a href="javascript:void(0)">Добавить в гугл календарь</a>
                </div>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-3.jpg" alt="">
                    <div class="date-mod">
                        <div class="number">20</div>
                        <div class="month">марта</div>
                    </div>
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Жизнь университета
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="title">Муниципальный этап Всероссийской олимпиады школьников по физической культуре</div>
                <p class="lead">Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory — самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности. </p>
                <div class="google-link">
                    <a href="javascript:void(0)">Добавить в гугл календарь</a>
                </div>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-4.jpg" alt="">
                    <div class="date-mod">
                        <div class="number">20</div>
                        <div class="month">марта</div>
                    </div>
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Наука
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="title">Муниципальный этап Всероссийской олимпиады школьников по физической культуре</div>
                <p class="lead">Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory — самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности. </p>
                <div class="google-link">
                    <a href="javascript:void(0)">Добавить в гугл календарь</a>
                </div>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#" class="btn-rect show-more">Показать еще</a>
            <div class="pagination__info">
                Показаны <span>10</span> из <span>1034</span>
            </div>
        </div>
    </div>
    <div class="people-list administrators tab-body" id="science">
    </div>
    <div class="people-list administrators tab-body" id="culture">
    </div>
    <div class="people-list administrators tab-body" id="sport">
    </div>
    <div class="people-list administrators tab-body" id="uni-life">
    </div>
</div>
