<div class="left-page">
    <h1 class="left-page__title">Факультеты и институты</h1>
    <div class="personal-select style-tabs">
        <a href="#faculties" class="personal-select__link is-active js-personal-tabs">Факультеты</a>
        <a href="#institutions" class="personal-select__link js-personal-tabs">Институты</a>
    </div>
    <ul id="faculties" class="fac-and-ins active">
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-1.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Физико-математический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра русской и зарубежной литературы</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра русского и общего языкознания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественной истории</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра всеобщей истории</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналистики</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-2.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Факультет физической культуры, спорта и туризма</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности жизнедеятельности</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-3.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Факультет иностранных языков</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-4.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Юридический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-5.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Историко-филологический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра зарубежное регионоведение</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра политология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналоистика</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра педагогическое образование</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра филология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественная филология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра история</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-6.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Электроэнергетический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра электроэнерогетика и электротехнологии</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul id="institutions" class="fac-and-ins">
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-1.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Физико-математический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра русской и зарубежной литературы</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра русского и общего языкознания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественной истории</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра всеобщей истории</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналистики</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-2.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Факультет физической культуры, спорта и туризма</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности жизнедеятельности</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-3.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Факультет иностранных языков</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-4.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Юридический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-5.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Историко-филологический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра зарубежное регионоведение</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра политология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналоистика</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра педагогическое образование</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра филология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественная филология</a></li>
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра история</a></li>
                </ul>
            </div>
        </li>
        <li class="fac-and-ins__item cf">
            <img src="img/faculties-6.jpg" alt="" class="fac-and-ins__img">
            <div class="fac-and-ins__right">
                <a href="" class="fac-and-ins__title">Электроэнергетический факультет</a>
                <div class="fac-and-ins__line"></div>
                <ul class="list-car">
                    <li class="list-car__item"><a href="" class="list-car__link">Кафедра электроэнерогетика и электротехнологии</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <a href="" class="but-b">Вернуться в Образование</a>
</div>
