<div class="left-page">
    <h1 class="left-page__title">Историко-филологический факультет</h1>


    <div class="faculties cf">
        <div class="profile__img-wrapper">

            <img src="img/faculties-5-bl.jpg" alt="" class="profile__img">
        </div>
        <div class="profile__info-wrapper">

            <div class="center-info-wrapper">
                <div class="profile__position">ДЕКАН ФАКУЛЬТЕТА
                    <div class="name-dec">
                        Ошаев Алексей Григорьевич
                    </div>
                </div>
            </div>

            <div class="profile__contact">
                <p class="cont-title">КОНТАКТЫ ДЕКАНАТА</p>
                <a class="contact__info phone" href="callto:+78362688040">+7 (8362) 68-80-40, добавочный 1212</a>
                <a class="contact__info email" href="mailto:iff@marsu.ru">iff@marsu.ru</a>
                <div class="contact__info location">г. Йошкар-Ола, ул. Пушкина 30, <a href="#" class="housing">корпус «Г»</a> , каб. 101</div>
            </div>

            <div class="block-but">
                <a href="javascript:void(0)" data-papa="papa_1" class="item-news__b-more show-papab">Написать в деканат</a>
            </div>
        </div>
    </div>

    <div class="profile-info">
        <div class="profile-info__tabs-head">
            <a href="#faculties_1" class="js-personal-tabs profile-info__link is-active">ОБЩАЯ ИНФОРМАЦИЯ</a>
            <a href="#faculties_2" class="js-personal-tabs profile-info__link">Деканат</a>
            <a href="#faculties_3" class="js-personal-tabs profile-info__link">НАПРАВЛЕНИЯ ПОДГОТОВКИ</a>
            <a href="#faculties_4" class="js-personal-tabs profile-info__link">Документы</a>
            <a href="#faculties_5" class="js-personal-tabs profile-info__link">ПОДРАЗДЕЛЕНИЯ</a>
        </div>
        <div class="profile-info__tabs tabs-body">
            
            <div class="tab-info main-info faculties-in active" id="faculties_1">
                
                <p class="faculties-t">Современный историко-филологический факультет как структурное подразделение основан 1 сентября 2012 года на базе двух факультетов ФГБОУ ВПО "Марийский государственный университет": исторического и факультета филологии журналистики.</p>
                <p class="faculties-t">В настоящее время на факультете обучается 405 студентов по очной форме обучения, 200 - по заочной.</p>
                <p class="faculties-t">На факультете существует 6 кафедр: всеобщей истории, отечественной истории, региональной истории, русского и общего языкознания, русской и зарубежной литературы, журналистики. Обучением и всопитанием студентов занимается преподавателей: 18 докторов наук, 47 кандидатов наук, 1 старший преподаватель.</p>
                <p class="faculties-t">В составе факультета работают три лаборатории: журналистская лаборатория Mass-media (заведующий - кандидат исторических наук, доцент О.Н. Тихонов), лаборатория аналитической филологии (заведующий - доктор филологических наук, профессор И.П. Карпов), лаборатория гендерных исследований (заведующая - доктор исторических наук, профессор Г.В. Рокина).</p>
                <p class="faculties-t">Кафедры факультета поддерживают тесные связи с учреждениями образования, науки и культуры: Ученые факультета издают учебники и учебные пособия для общеобразовательных школ по истории Республики Марий Эл, методике преподавания гуманитарных предметов. С 1991 года издается научно-практический ежегодник "Марийский археографический вестник", главным редактором которого является доктор исторических наук, профессор А.Г. Иванов.</p>
                <p class="faculties-t">На факультете ведется обширная научно-исследовательская работа. По объему научно-исследовательской работы историко-филологический факультет занимает одно из ведущих мест в университете. Главными научными направлениями являются такие направления, как: "Историко-культурное развитие народов России и зарубежных стран".</p>
                <p class="faculties-t">При факультете действует аспирантура по специальности История. 5 профессоров являются членами объединенного Совета по защите докторских и кандидатских диссертаций при Чувашском государственом университете (А.Г. Иванов, С.В. Стариков, К.Н. Сануков, Г.Н. Айплатов, В.А. Морозов).</p>
                <p class="faculties-t">На базе факультета проводятся всероссийские, региональные и межвузовские научные конференции. Ежемесячно работает гуманитарный клуб "Логос", организованный доцентом кафедры русского и общего языкознания С.А. Журавлевым. Каждое заседание клуба посвящено обсуждению какой-либо темы: литературной, исторической, религиозной, философской и т.д.</p>
                <p class="faculties-t">Все кафедры оснащены компьютерами. На факультете есть множительная техника, действует компьютерный класс. Факультет подключен к компьютерной сети INTERNET. Также функционирует аудитория с мультимедийным оборудованием.</p>

            </div>

            <div class="tab-info style-person" id="faculties_2">
                <div class="people-list">
                <div class="people-list__person cf">
            <img src="img/person-1.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Айплатов Геннадий Николаевич</a>

            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-2.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Бородина Марина Викторовна</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>

                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            доцент Кафедры математики и информатики и методики обучения математике и информатике
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-3.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Ситников Геннадий Николаевич</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+78362420548</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-4.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Гусев Рудольф Альбертович</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-3.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Ситников Геннадий Николаевич</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="pagination">

            <a href="#" class="btn-rect show-more">Показать еще</a>

            <div class="pagination__info">
                Показаны <span>10</span> из <span>1034</span>
            </div>
        </div>
            
            </div>

        </div>
          
    <div class="tab-info style-person" id="faculties_3">
        
        <div class="block-way">
            <h4 class="block-way__title">Бакалавриат</h4>
            <ul class="block-way__list">
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> История</a>
                    <p class="block-way__txt"><span class="block-way__span">Вступительные испытания:</span> История (профильный), Обществознание, Русский язык</p>
                    <p class="block-way__txt"><span class="block-way__span">Срок обучения:</span> очно 4 года, заочно 5 лет</p>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">47.03.01</span> Филология (профиль подготовки «Отечественная филология»)</a>
                    <p class="block-way__txt"><span class="block-way__span">Вступительные испытания:</span> История (профильный), Обществознание, Русский язык</p>
                    <p class="block-way__txt"><span class="block-way__span">Срок обучения:</span> очно 4 года, заочно 5 лет</p>
                </li>
            </ul>
            <h4 class="block-way__title">Аспирантура</h4>
            <ul class="block-way__list">
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> История</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">47.03.01</span> Филология (профиль подготовки «Отечественная филология»)</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> Физико-математический факультет</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">47.03.01</span> Факультет физической культуры, спорта и туризма</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> Юридический факультет</a>
                </li>
            </ul>
            <h4 class="block-way__title">Докторантура</h4>
            <ul class="block-way__list">
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> Историко-филологический факультет</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">47.03.01</span> Факультет иностранных языков</a>
                </li>
                <li class="block-way__item">
                    <a href="" class="block-way__link"><span class="block-way__link-span">46.03.01</span> Электроэнергетический факультет</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-info style-person" id="faculties_4">
        <ul class="list-docs">
            <li class="list-docs__item"><a href="" class="list-docs__link">Описание образовательных программ факультета</a> (PDF, 1.2 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">График учебного процесса</a> (PDF, 1.2 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">Аннотации учебных дисциплин</a> (RAR, 9.8 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">Аннотации программ практик</a> (RAR, 2.8 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">Наука</a> (PDF, 1.2 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">Описание образовательных программ факультета</a> (PDF, 1.2 Mb)</li>
            <li class="list-docs__item"><a href="" class="list-docs__link">График учебного процесса</a> (PDF, 1.2 Mb)</li>
        </ul>
    </div>

    <div class="tab-info style-person" id="faculties_5">
        <ul class="fac-and-ins__sec-st">
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Физико-математический факультет</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра русской и зарубежной литературы</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра русского и общего языкознания</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественной истории</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра всеобщей истории</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналистики</a></li>
                    </ul>
                </div>
            </li>
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Факультет физической культуры, спорта и туризма</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности жизнедеятельности</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра медико-биологических дисциплин и безопасности</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра теоретических основ физического воспитания</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра спортивных дисциплин</a></li>
                    </ul>
                </div>
            </li>
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Факультет иностранных языков</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    </ul>
                </div>
            </li>
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Юридический факультет</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра иноязычной речевой коммуникации</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра романо-германской филологии</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра английской филологии</a></li>
                    </ul>
                </div>
            </li>
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Историко-филологический факультет</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра зарубежное регионоведение</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра политология</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра журналоистика</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра педагогическое образование</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра филология</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра отечественная филология</a></li>
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра история</a></li>
                    </ul>
                </div>
            </li>
            <li class="fac-and-ins__item cf">
                <div class="fac-and-ins__right">
                    <a href="" class="fac-and-ins__title">Электроэнергетический факультет</a>
                    <div class="fac-and-ins__line"></div>
                    <ul class="list-car">
                        <li class="list-car__item"><a href="" class="list-car__link">Кафедра электроэнерогетика и электротехнологии</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    </div>  
    </div>

    <div class="share">
        <div class="share__title">Поделитесь информацией</div>
        <div class="share__links">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        </div>
    </div>
    <a href="#" class="profile__return-link">Вернуться к списку</a>
</div>
