<div class="left-page">
    <h1 class="left-page__title line-mod">Вопрос-ответ</h1>
    <div class="personal-select">
        <a href="#all" class="personal-select__link is-active js-personal-tabs">Студентам</a>
        <a href="#education" class="personal-select__link js-personal-tabs">Абитуриентам</a>
        <a href="#science" class="personal-select__link js-personal-tabs">Аспирантам</a>
        <a href="#culture" class="personal-select__link js-personal-tabs">Выпускникам</a>
        <a href="#sport" class="personal-select__link js-personal-tabs">Сотрудникам</a>
    </div>
    <div class="sort-wrap__select">
        <div class=" faq-select fln">
            <select class="select">
                <option>Выберите институт/факультет</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
        </div>
    </div>
    <div class="people-list teachers tab-body active" id="all">
        <div class="faq-que-block">
            <div class="que-title">
                Общие вопросы
            </div>
            <div class="items-outer">
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Каковы сроки подачи документов для поступающих по результатам ЕГЭ? </a>
                    <div class="list-content">
                        <p>Даты приема документов по целевому набору совпадают с датами общего приема с 20 июня по 24 июля. </p>
                        <p>При подаче документов необходимо иметь договор о целевом обучении (сдается его копия и оригинал аттестата).</p>
                        <p>Право на такое поступление имеет любой абитуриент, заключивший договор о целевом обучении с организацией, с которой Университет ИТМО заключил договор о целевом приеме. Необходимо также иметь баллы ЕГЭ не ниже установленных Университетом ИТМО минимумов по предметам. При соблюдении всех условий, зачисление по целевому приему происходит по отдельному конкурсу.</p>
                        <div class="person  clearfix">
                            <div class="rounded-img">
                                <img src="img/round-person.png" alt="">
                            </div>
                            <div class="text">
                                <div class="name">
                                    Константинов Константин Константинович
                                </div>
                                <div class="desc">
                                    Председатель приемной комиссиии, декан <a href="javascript:void(0)">Историко-филологического факультета</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Можно ли подавать копию аттестата, если поступаешь на бюджетную форму обучения по общему конкурсу?</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Каким образом я узнаю, поступил ли? Вы уведомите письмом на почту? И когда примерно это произойдёт? Спасибо за ваше внимание!</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-que-block">
            <div class="que-title">
                Сдача сессии
            </div>
            <div class="items-outer">
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Каковы сроки подачи документов для поступающих по результатам ЕГЭ?  </a>
                    <div class="list-content">
                        <p>Даты приема документов по целевому набору совпадают с датами общего приема с 20 июня по 24 июля. </p>
                        <p>Есть ли в ИТМО военная кафедра? Всем ли поступившим в 2016 году будет предоставлено общежитие? Спасибо!</p>
                        <p>Почему нигде нет информации о сроках начала нового семестра? Первокурсники не могут знать, сколько длятся каникулы.</p>
                        <div class="person clearfix">
                            <div class="rounded-img">
                                <img src="img/round-person.png" alt="">
                            </div>
                            <div class="text">
                                <div class="name">
                                    Константинов Константин Константинович
                                </div>
                                <div class="desc">
                                    Председатель приемной комиссиии, декан <a href="javascript:void(0)">Историко-филологического факультета</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Почему нигде нет информации о сроках начала нового семестра? Первокурсники не могут знать, сколько длятся каникулы.</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Можно ли подавать копию аттестата, если поступаешь на бюджетную форму обучения по общему конкурсу?</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-que-block">
            <div class="que-title">
                Общежития
            </div>
            <div class="items-outer">
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Каковы сроки подачи документов для поступающих по результатам ЕГЭ? </a>
                    <div class="list-content">
                        <p>Даты приема документов по целевому набору совпадают с датами общего приема с 20 июня по 24 июля. </p>
                        <p>При подаче документов необходимо иметь договор о целевом обучении (сдается его копия и оригинал аттестата).</p>
                        <p>Право на такое поступление имеет любой абитуриент, заключивший договор о целевом обучении с организацией, с которой Университет ИТМО заключил договор о целевом приеме. Необходимо также иметь баллы ЕГЭ не ниже установленных Университетом ИТМО минимумов по предметам. При соблюдении всех условий, зачисление по целевому приему происходит по отдельному конкурсу.</p>
                        <div class="person  clearfix">
                            <div class="rounded-img">
                                <img src="img/round-person.png" alt="">
                            </div>
                            <div class="text">
                                <div class="name">
                                    Константинов Константин Константинович
                                </div>
                                <div class="desc">
                                    Председатель приемной комиссиии, декан <a href="javascript:void(0)">Историко-филологического факультета</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Можно ли подавать копию аттестата, если поступаешь на бюджетную форму обучения по общему конкурсу?</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
                <div class="item">
                    <a href="javascript:void(0)" class="list-title">Каким образом я узнаю, поступил ли? Вы уведомите письмом на почту? И когда примерно это произойдёт? Спасибо за ваше внимание!</a>
                    <div class="list-content">
                        123123123
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="people-list administrators tab-body" id="science">
    </div>
    <div class="people-list administrators tab-body" id="culture">
    </div>
    <div class="people-list administrators tab-body" id="sport">
    </div>
    <div class="people-list administrators tab-body" id="uni-life">
    </div>
</div>
