<footer class="footer">
  <div class="content rel-b cf">
    <div class="left-col-fot">
      <h5 class="footer__title">Образовательные программы</h5>
      <ul class="left-col-fot__list">
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Курсы для школьников</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Подготовительное отделение</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Бакалавриат / специалитет</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Магистратура</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Аспирантура / докторнатура</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Дополнительное профессиональное <br>образование</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Дистанционное образование</a></li>
      </ul>
    </div>
    <div class="left-col-fot">
      <h5 class="footer__title">For foreigners</h5>
      <ul class="left-col-fot__list">
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Apply</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Research school</a></li>
        <li class="left-col-fot__item"><a href="" class="left-col-fot__link">Study program</a></li>
      </ul>
      <div class="cos-foot">
        <h5 class="footer__title">мы в соцсетях</h5>
        <ul class="soc-icon__list">
            <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-1"></a></li>
            <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-2"></a></li>
            <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-3"></a></li>
        </ul>
      </div>
    </div>
    <div class="right-col-fot">
      <h5 class="footer__title">Приемная комиссия</h5>
      <ul class="b-contact">
        <li class="b-contact__item b-contact__item-1">424000, г. Йошкар-Ола, пл. Ленина, 1</li>
        <li class="b-contact__item b-contact__item-2">+7 (8362) 641-541, 42-65-88</li>
        <li class="b-contact__item b-contact__item-3">
          <p class="b-contact-d"><span>пн-пт: </span>08:00—20:00</p>
          <p class="b-contact-d"><span>сб: </span>09:00—18:00</p>
        </li>
      </ul>
      <a href="#" class="link-contact">Все контактные данные</a>
      <a href="javascript:void(0)" data-papa="papa_2" class="item-news__b-more show-papab hide-b">Оставить заявку на обучение</a>
    </div>
  </div>
  <div class="content rel-b cf">
    <div class="footer-form cf">
    <div class="outo-g">
        <form class="bot-form-coll footer-search" action="/hello">
          <input type="text" class="b-find__txt" placeholder="Поиск по сайту">
          <span class="send-m-ic">
            <input type="submit" class="send-m">
          </span>
        </form>
        <a href="javascript:void(0)" class="b-find__but"></a>
        <form class="bot-form-coll footer-mail" action="/hello">
          <input type="text" class="b-find__txt" placeholder="Подписывайтесь на обновления">
          <span class="send-m-ic">
            <input type="submit" class="send-m">
          </span>
        </form>
      </div>
        <a href="#top" class="top"></a>
      </div>
  </div>
  <div class="content">
  <!-- ch -->
    <div class="b-pc cf rel-b">
      <p class="b-pc__txt">© 1972–2015 ФГБОУ ВПО «Марийский государственный университет»</p>
      <a href="" class="b-pc__link">Сведения об образовательной организации</a>
      <a href="" class="b-pc__link">Карта сайта</a>
      <ul class="soc-icon__list mo-ic-soc cos-foot">
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-1"></a></li>
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-2"></a></li>
          <li class="soc-icon__item"><a href="" class="soc-icon__link soc-icon__link-3"></a></li>
      </ul>
      <!-- /ch -->
    </div>
  </div>
</footer>