<div class="group-schedule">
	<div class="group-schedule__preview">
		<div class="group-schedule__today">
			<div class="group-schedule__today__item group-schedule__today__item_cur">
				<p class="group-schedule__today__time">Сейчас идет – <span class="group-schedule__today__clock">08:00-09:35</span></p>
				<div class="group-schedule__today__info">
					<p class="group-schedule__today__title">Педагогика и психология</p>
					<p class="group-schedule__today__teacher">(доцент <a href="#">Бахтина С. В.</a>)</p>
				</div>
				<p class="group-schedule__today__lecture">409 аудитория (<a href="#">Корпус А</a>)</p>
			</div>
			<div class="group-schedule__today__item">
				<p class="group-schedule__today__time">Далее – <span class="group-schedule__today__clock">09:45-11:20</span></p>
				<div class="group-schedule__today__info">
					<p class="group-schedule__today__section">1 ПОДГРУППА</p>
					<p class="group-schedule__today__title">Безопасность жизнедеятельности</p>
					<p class="group-schedule__today__teacher">(профессор <a href="#">Забиякин А. В.</a>)</p>
				</div>
				<p class="group-schedule__today__lecture">411 аудитория (<a href="#">Корпус А</a>)</p>
			</div>
			<div class="group-schedule__today__item">
				<p class="group-schedule__today__time">Далее – <span class="group-schedule__today__clock">09:45-11:20</span></p>
				<div class="group-schedule__today__info">
					<p class="group-schedule__today__section">2 ПОДГРУППА</p>
					<p class="group-schedule__today__title">История</p>
					<p class="group-schedule__today__teacher">(ст. преподаватель <a href="#">Филонов А. А.</a>)</p>
				</div>
				<p class="group-schedule__today__lecture">411 аудитория (<a href="#">Корпус B</a>)</p>
			</div>
		</div>
	</div>
	<div class="group-schedule__content">
		<div class="group-schedule__main">
		    <div class="group-schedule__title-wrap cf">
		    	<p class="group-schedule__title"><span class="group-schedule__week group-schedule__week_red">Красная неделя</span>(01.02.15 - 07.02.15)</p>
		    	<div class="group-schedule__operation">
		    		<span class="group-schedule__operation__send">Отправить мне на почту</span>
		    		<span class="group-schedule__operation__add">Добавить в Google-календарь</span>
		    	</div>
		    </div>
		    <div class="group-schedule__table">
		    	<div class="group-schedule__table__title">
		    		<ul class="list list_flat list_schedule-table-title">
		    			<li class="list__item">
		    				<div class="schedule-table-title">ПАРА /<span class="i-br">ДЕНЬ НЕДЕЛИ</span></div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">1 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">2 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">3 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">4 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">5 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">6 пара</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-title">7 пара</div>
		    			</li>
		    		</ul>
		    	</div>
		    	<div class="group-schedule__table__content">
		    		<ul class="list list_flat list_schedule-table-content js-schedule-table-content">
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Пн</div>
				    			</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
		    				</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Вт</div>
				    			</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
		    				</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Ср</div>
				    			</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
		    				</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Чт</div>
				    			</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
		    				</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Пт</div>
				    			</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Педагогика и психология</p>
			    					<p class="schedule-table-content__item__descr">(ауд. 409 корпус А, доц. <a href="#">Бахтина С. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">Безопасность жизнедеятельности</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, проф. <a href="#">Забиякин А. В.</a>)</p>
			    				</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
		    				</div>
		    			</li>
		    			<li class="list__item">
		    				<div class="schedule-table-content">
		    					<div class="schedule-table-content__item">
				    				<div class="schedule-table-content__item__title">Сб</div>
				    			</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">
			    					<p class="schedule-table-content__item__name">История</p>
			    					<p class="schedule-table-content__item__descr">(ауд.419 корпус А, ст.преп.) Филонов А. А.)</p>
			    				</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
				    			<div class="schedule-table-content__item">&nbsp;</div>
		    				</div>
		    			</li>
		    		</ul>
		    	</div>
		    </div>
		    <a href="#" class="group-schedule__return-link">Вернуться к списку групп</a>
		</div>
	</div>
</div>