<header class="header">
  <div class="content cf">
  <!-- /ch -->
    <a href="index.html" class="logo-top">
      <img src="img/logo.png" alt="" class="logo-top__img" id="top">
      <!-- ch -->
      <img src="img/smoll-logo.png" alt="" class="logo-top__smoll-log">
      <!-- /ch -->
      <p class="logo-top__txt">Марийский государственный университет</p>
    </a>
    <div class="b-center-head">
      <p class="b-center-head__txt">Федеральное государственное бюджетное образовательное учреждение Высшего образования</p>
      <ul class="b-center-head__list">
        <li class="b-center-head__item">
          <a href="tel:+78362688002" class="b-center-head__tel">+7 (8362) 68-80-02</a>
          <p class="b-center-head__txt">Приемная ректора</p>
        </li>
        <li class="b-center-head__item">
          <a href="tel:+78362641551" class="b-center-head__tel">+7 (8362) 64-15-51</a>
          <p class="b-center-head__txt">Приемная комиссия</p>
        </li>
        <li class="b-center-head__item">
          <a href="" class="b-center-head__link">Все контакты</a>
        </li>
      </ul>
    </div>
    <div class="b-right-header">
      <div class="top-sel">
        <a href="#" class="select-lang">
                  ru
                </a>
                <ul class="select-lang-dropdown">
                  <li><a href="#">RU</a></li>
                  <li><a href="#">EN</a></li>
                  <li><a href="#">CN</a></li>
                  <li><a href="#">MR</a></li>
                </ul>
      </div>
      <ul class="icon-list">
        <li class="icon-list__item"><a href="" class="icon-list__link icon-list__link-1"></a></li>
        <li class="icon-list__item"><a href="" class="icon-list__link icon-list__link-2"></a></li>
        <li class="icon-list__item"><a href="" class="icon-list__link icon-list__link-3"></a></li>
      </ul>
      <!-- ch -->
        <a href="javascript:void(0)" class="big-icon-search"></a>
        <p class="left-txt-fix">Меню</p>
        <a href="javascript:void(0)" class="js-menu menu-but">
          <div class="menu-but__line"></div>
          <div class="menu-but__line"></div>
          <div class="menu-but__line"></div>
        </a>
        <div class="con-me sow-con">
          <p class="left-txt-fix">Университет</p>
            <a href="javascript:void(0)" class="js-menu-1 menu-but">
              <div class="menu-but__line"></div>
              <div class="menu-but__line"></div>
              <div class="menu-but__line"></div>
            </a>
        </div>
      <!-- /ch -->
    </div>
  </div>
</header>
<div class="wrap-search">
<div class="content">
    <form action="/hello">
          <input type="text" class="search-for" placeholder="Поиск по сайту">
          <input type="submit" class="icon-list__item icon-search icon-list__link" value="">
    </form>
  </div>
    <!-- <span class="icon-list__item icon-search"><a href="#" class="icon-list__link icon-list__link-3"></a></span> -->
</div>
<nav class="b-nav-menu ">
    <ul class="b-nav-menu__list content">
        <li class="b-nav-menu__item sow-ol"><a href="javascript:void(0)" class="b-nav-menu__link ">Университет</a>
            <div class="new-meta">
            <div class="content">
              <div class="new-meta__cont">
                <p class="new-meta__title">Общая информация</p>
                <ul class="new-meta__list">
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                </ul>
              </div>
              <div class="new-meta__cont">
                <p class="new-meta__title">Общая информация</p>
                <ul class="new-meta__list">
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                </ul>
              </div>
              <div class="new-meta__cont new-meta__cont-big">
                <p class="new-meta__title">Общая информация</p>
                <ul class="new-meta__list">
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                </ul>
                <ul class="new-meta__list">
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                  <li class="new-meta__item"><a href="">О МарГУ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Наука</a></li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Образование</a></li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Студенческая жизнь</a></li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Международная деятельность</a></li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Новости и события</a></li>
        <li class="b-nav-menu__item"><a href="" class="b-nav-menu__link">Абитуриентам</a></li>
    </ul>
</nav>
