<div class="left-page infrma-st">
    <h1 class="left-page__title">Прикладная математика и информатика</h1>

    <div class="profile-info informatic">
        <div class="profile-info__tabs-head">
            <a href="#informatic_1" class="js-personal-tabs profile-info__link is-active">БАКАЛАВРИАТ</a>
            <a href="#informatic_2" class="js-personal-tabs profile-info__link">ФИЗИКО-МАТЕМАТИЧЕСКИЙ ФАКУЛЬТЕТ</a>
        </div>
        <div class="profile-info__tabs tabs-body">

            <div class="tab-info active" id="informatic_1">
                <p class="infrma-st__txt">В настоящее время обучение ведется по следующим направлениям: системное и прикладное программное обеспечение, новые информационные технологии, вычислительные сети, компьютерная графика и мультимедиа, защита информации, автоматизированные системы обработки информации, правовая информатика, бухгалтерские системы и др.</p>

                <ul class="infogr cf">
                    <li class="infogr__item">
                        <img src="img/infogr_1.png" alt="" class="infogr__img">
                        <p class="infogr__year">4 <span class="infogr__year-span">года</span></p>
                        <p class="infogr__txt">Срок обучения на очной форме</p>
                    </li>
                    <li class="infogr__item">
                        <img src="img/infogr_2.png" alt="" class="infogr__img">
                        <p class="infogr__year">5 <span class="infogr__year-span">лет</span></p>
                        <p class="infogr__txt">Срок обучения на заочной форме</p>
                    </li>
                    <li class="infogr__item">
                        <img src="img/infogr_3.png" alt="" class="infogr__img">
                        <p class="infogr__year">100/10</p>
                        <p class="infogr__txt">100 платных мест 10 бюджетных</p>
                    </li>
                </ul>

                <div class="enterance cf">
                    <div class="enterance-left">
                        <p class="enterance__title">Вступительные испытания</p>
                        <ul class="enterance-left__list">
                            <li class="enterance-left__item enterance-left__item-1">Русский язык</li>
                            <li class="enterance-left__item enterance-left__item-2">Математика</li>
                            <li class="enterance-left__item enterance-left__item-3">Физика</li>
                        </ul>
                    </div>
                    <div class="enterance-right">
                        <p class="enterance__title">Документы</p>
                        <ul class="list-docs">
                            <li class="list-docs__item"><a href="" class="list-docs__link">Учебный план</a> (PDF, 1.2 Mb)</li>
                            <li class="list-docs__item"><a href="" class="list-docs__link">График учебного процесса</a> (PDF, 1.2 Mb)</li>
                            <li class="list-docs__item"><a href="" class="list-docs__link">Аннотации учебных дисциплин</a> (RAR, 9.8 Mb)</li>
                            <li class="list-docs__item"><a href="" class="list-docs__link">Аннотации программ практик</a> (RAR, 2.8 Mb)</li>
                            <li class="list-docs__item"><a href="" class="list-docs__link">Наука</a> (PDF, 1.2 Mb)</li>
                        </ul>
                    </div>
                </div>

                <div class="cor-b">
                    <div class="in-block">
                        <h4 class="in-block__title">Что вы будете изучать?</h4>
                        <p class="in-block__bold">Образовательные дисциплины, дающие наиболее востребованные <br>в сфере ИТ-технологий знания:</p>
                        <ul class="in-block__list">
                            <li class="in-block__item">Математический анализ, алгебра, дискретная математика, теория вероятностей и математическая статистика.</li>
                            <li class="in-block__item">Информатика и программирование, алгоритмизация вычислений</li>
                            <li class="in-block__item">Архитектура ЭВМ, вычислительных систем и компьютерных сетей</li>
                            <li class="in-block__item">Операционные системы и базы данных</li>
                            <li class="in-block__item">Конструирование, проектирование архитектуры вычислительных систем, обеспечение качества и тестирование, разработка и анализ требований, управление программными проектами</li>
                            <li class="in-block__item">Сетевые и интернет-технологии</li>
                            <li class="in-block__item">Аппаратные и программные средства вычислительной техники</li>
                            <li class="in-block__item">Системы компьютерного моделирования и автоматического проектирования</li>
                            <li class="in-block__item">Проектирование автоматизированных систем</li>
                            <li class="in-block__item">Искусственный интеллект</li>
                            <li class="in-block__item">Микроконтроллеры и встроенные системы</li>
                        </ul>
                    </div>
                    <div class="in-block">
                        <h4 class="in-block__title">Кем сможете работать после обучения?</h4>
                        <p class="in-block__bold">Выпускники программы становятся разработчиками и архитекторами программного обеспечения, менеджерами по качеству ПО и процессов его разработки. Они работают:</p>
                        <ul class="in-block__list">
                            <li class="in-block__item">в ведущих российских и зарубежных компаниях-производителях ПО;</li>
                            <li class="in-block__item">в научно-исследовательских центрах транснациональных компаний;</li>
                            <li class="in-block__item">в системных интеграторах и IT-департаментах крупных российских компаний и государственных структур.</li>
                        </ul>
                    </div>
                </div>

                <div class="st-reviews slid-new">
                    <h3 class="st-reviews__title">Отзывы студентов о специальности</h3>
                        <div class="multiple-items fotorama-reviews">
                            <div class="st-reviews__item cf">
                                <img src="img/feedback-avatar-2.png" alt="" class="st-reviews__img">
                                <div class="st-reviews__right">
                                    <p class="st-reviews__name">Петров Венимамин</p>
                                    <p class="st-reviews__state">Студентк физико-математического факультета</p>
                                    <p class="st-reviews__coll">«Вечером я слушал лекции или участвовал в семинарах, а на следующий день я уже применял это на практике. Это было очень удобно. Благодаря этому после выпуска я был не просто квалифицированным специалистом, но и обладал богатым практическим опытом»</p>
                                </div>
                            </div>
                            <div class="st-reviews__item cf">
                                <img src="img/feedback-avatar-2.png" alt="" class="st-reviews__img">
                                <div class="st-reviews__right">
                                    <p class="st-reviews__name">Петров Венимамин</p>
                                    <p class="st-reviews__state">Студентк физико-математического факультета</p>
                                    <p class="st-reviews__coll">«Вечером я слушал лекции или участвовал в семинарах, а на следующий день я уже применял это на практике. Это было очень удобно. Благодаря этому после выпуска я был не просто квалифицированным специалистом, но и обладал богатым практическим опытом»</p>
                                </div>
                            </div>
                            <div class="st-reviews__item cf">
                                <img src="img/feedback-avatar-2.png" alt="" class="st-reviews__img">
                                <div class="st-reviews__right">
                                    <p class="st-reviews__name">Петров Венимамин</p>
                                    <p class="st-reviews__state">Студентк физико-математического факультета</p>
                                    <p class="st-reviews__coll">«Вечером я слушал лекции или участвовал в семинарах, а на следующий день я уже применял это на практике. Это было очень удобно. Благодаря этому после выпуска я был не просто квалифицированным специалистом, но и обладал богатым практическим опытом»</p>
                                </div>
                            </div>
                            <div class="st-reviews__item cf">
                                <img src="img/feedback-avatar-2.png" alt="" class="st-reviews__img">
                                <div class="st-reviews__right">
                                    <p class="st-reviews__name">Петров Венимамин</p>
                                    <p class="st-reviews__state">Студентк физико-математического факультета</p>
                                    <p class="st-reviews__coll">«Вечером я слушал лекции или участвовал в семинарах, а на следующий день я уже применял это на практике. Это было очень удобно. Благодаря этому после выпуска я был не просто квалифицированным специалистом, но и обладал богатым практическим опытом»</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-s-st">
                        <h3 class="st-reviews__title">Как поступить в МарГУ?</h3>
                        <ol class="list-way">
                          <li class="list-way__item list-way__item-1"><p class="list-way__txt list-way__txt-1">Оставить заявку <br>на обучение</p></li>
                          <li class="list-way__item list-way__item-2"><p class="list-way__txt list-way__txt-2">Подать заявление <br>в приемную комиссию</p></li>
                          <li class="list-way__item list-way__item-3"><p class="list-way__txt list-way__txt-3">Предоставить пакет <br>документов</p></li>
                          <li class="list-way__item list-way__item-4"><p class="list-way__txt list-way__txt-4">Получить документы <br>о зачислении <br>и студенческий билет</p></li>
                        </ol>
                    </div>

                    <form action="/hello" class="form-card form-card__new-st">
                        <h3 class="form-card__title">Оставьте заявку на обучение</h3>
                        <div class="cf form-card__b">
                            <div class="form-card__block">
                                <input type="text" class="form-card__input" placeholder="Ваше имя" required>
                            </div>
                            <div class="form-card__block">
                                <input type="email" class="form-card__input" placeholder="E-mail" required>
                            </div>
                            <div class="form-card__block">
                                <input type="number" class="form-card__input" placeholder="Телефон" required>
                            </div>
                        </div>
                        <input type="submit" class="form-card__send" value="Отправить заявку">
                    </form>

             </div>

             <div class="tab-info" id="informatic_2">

             </div>

    </div>
    </div>



    <div class="share">
        <div class="share__title">Поделитесь информацией</div>
        <div class="share__links">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        </div>
    </div>
    <a href="#" class="profile__return-link">Вернуться к списку</a>

    <div class="inf-start">
        <h3 class="st-reviews__title">Вас также могут заинтересовать</h3>
            <ul class="inf-start__list  cf multiple-items1">
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Физика (Физика конденсированного состояния вещества) </a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Математические модели и алгоритмы в разработке программного обеспечения</a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Физика (Физика конденсированного состояния вещества) </a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Математические модели и алгоритмы в разработке программного обеспечения</a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Физика (Физика конденсированного состояния вещества) </a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
                <li class="inf-start__item">
                    <div class="inf-start__el">
                        <p class="inf-start__stat">ПГН-2563-542</p>
                        <a href="" class="inf-start__link">Математические модели и алгоритмы в разработке программного обеспечения</a>
                        <div class="inf-start__line"></div>
                        <div class="cf">
                            <p class="inf-start__p">Срок обучения:<span class="inf-start__span">4 года (очная)</span></p>
                            <p class="inf-start__p">Количество мест:<span class="inf-start__span">100 бюджетных, 100 платных</span></p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>
