<div class="left-page">
    <h1 class="left-page__title">Сведения об образовательной организации</h1>
    <div class="list-wrapper">
        <ul class="columns">
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Основные сведения</a></div>
                <div class="list-content">
                    <a href="javascript:void(0)">О МарГУ</a>
                    <a href="javascript:void(0)">История</a>
                    <a href="javascript:void(0)">Контакты</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Структура и органы управления образовательной организацией</a>
                </div>
                <div class="list-content">
                    <a href="javascript:void(0)">Организационная структура</a>
                    <a href="javascript:void(0)">Центры МарГУ</a>
                    <a href="javascript:void(0)">Управления МарГУ</a>
                    <a href="javascript:void(0)">Отделы МарГУ</a>
                    <a href="javascript:void(0)">Учебно-методические комиссии</a>
                    <a href="javascript:void(0)">Уполномоченные по качеству</a>
                    <a href="javascript:void(0)">Попечительские советы</a>
                    <a href="javascript:void(0)">Отделы МарГУ</a>
                    <a href="javascript:void(0)">Ученые советы</a>
                    <a href="javascript:void(0)">Профком</a>
                    <a href="javascript:void(0)">Совет студентов и аспирантов</a>
                    <a href="javascript:void(0)">Представительства</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Документы</a></div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Направления и специальности</a></div>
                <div class="list-content">
                    <a href="javascript:void(0)">Магистратура</a>
                    <a href="javascript:void(0)">Аспирантура</a>
                    <a href="javascript:void(0)">Докторантатура</a>
                    <a href="javascript:void(0)">Дистанционное обучение</a>
                    <a href="javascript:void(0)">Дополнительное профессиональное образование</a>
                    <a href="javascript:void(0)">Платные образовательные услуги</a>
                    <a href="javascript:void(0)">Документы</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Образовательные стандарты</a></div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Руководство. Педагогический (научно-педагогический) состав</a></div>
                <div class="list-content">
                    <a href="javascript:void(0)">Ректорат</a>
                    <a href="javascript:void(0)">Проректорат</a>
                    <a href="javascript:void(0)">Преподаватели и сотрудники</a>
                    <a href="javascript:void(0)">Заслуженные деятели науки и почетные профессора</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Материально-техническое обеспечение и оснащенность образовательного процесса</a></div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Стипендии и иные виды материальной поддержки</a></div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Платные образовательные услуги</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Финансово-хозяйственная деятельность</a>
                </div>
            </li>
            <li>
                <div class="list-title">
                    <a href="javascript:void(0)">Вакантные места для перевода</a></div>
            </li>
        </ul>
    </div>
</div>
