<div class="left-page">
    <h1 class="left-page__title line-mod">Фармацевтическая практика первокурсников. Незабываемые впечатления</h1>
    <div class="detal clearfix">
        <div class="time-date fln">
            Сегодня, <span>08:56</span>
        </div>
        <div class="pic-title">
            Образование
        </div>
        <p class="top-text">В середине января 2016 г. студенты МарГУ специальности 33.05.01 «Фармация» впервые проходили учебную фармацевтическую пропедевтическую практику, направленную непосредственно на знакомство со своей будущей профессиональной деятельностью.</p>
        <div class="img-wrap">
            <img src="img/news-inner.jpg" alt="">
            <div class="img-caption">IV Межрегиональная научно-практическая конференция «Современные спортивные технологии»</div>
        </div>
        <div class="after-pic">
            <p>Базами для прохождения практик стали медицинские организации, имеющие производственные аптеки и заключившие договор о практической подготовке с ФГБОУ ВПО «Марийский государственный университет»: ГБУ РМЭ «Перинатальный центр», ГБУ РМЭ «Республиканская клиническая больница», ГБУ РМЭ «Республиканский клинический госпиталь ветеранов войн», а так же ООО «Аптека № 67» и ОАО «Медведевская центральная районная аптека</p>
            <p>Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы. Да и на самих студентов практика произвела неизгладимое впечатление, которым ребята поспешили поделиться.</p>
        </div>
        <div class="feedback feedback-li feedback-mod" id="feedback">
            <div class="feedback__item border-mod">
                <div class="feedback__avatar">
                    <img src="img/feedback-avatar.jpg" alt="">
                </div>
                <div class="feedback__autor">
                    Мария Иванова
                </div>
                <div class="feedback__autor-position">
                    Студентка физико-математического факультета
                </div>
                <div class="feedback__text">
                    «Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»
                </div>
            </div>
            <div class="feedback__item border-mod">
                <div class="feedback__avatar">
                    <img src="img/feedback-avatar.jpg" alt="">
                </div>
                <div class="feedback__autor">
                    Максим петров
                </div>
                <div class="feedback__autor-position">
                    Студентка физико-математического факультета
                </div>
                <div class="feedback__text">
                    «Мы проходили практику в Аптеке ГБУ РМЭ «Перинатальный центр». По прибытию в аптеку перинатального центра нас встретила заведующая Г.А. Губина. Она ознакомила нас с персоналом, позже она рассказала ее структуру и функции аптеки. Нас приняли доброжелательно, ответили на все интересующие нас вопросы. Во время прохождения практики, мы утвердились в выборе своей профессии. Мы ближе познакомились с аптекой и ее организационной структурой, смогли реализовать теоретические знания на практике и получили общее представление о нашей будущей профессии. Я считаю, что практика для студентов необходима, так как она способствует осознанному процессу обучения. У нас осталось только хорошее впечатление и повысилось интерес к учебе».
                </div>
            </div>
            <div class="feedback__item border-mod">
                <div class="feedback__avatar">
                    <img src="img/feedback-avatar.jpg" alt="">
                </div>
                <div class="feedback__autor">
                    Анастасия суслова
                </div>
                <div class="feedback__autor-position">
                    Студентка физико-математического факультета
                </div>
                <div class="feedback__text">
                    Мы ближе познакомились с аптекой и ее организационной структурой, смогли реализовать теоретические знания на практике и получили общее представление о нашей будущей профессии. Я считаю, что практика для студентов необходима, так как она способствует осознанному процессу обучения. У нас осталось только хорошее впечатление и повысилось интерес к учебе».
                </div>
            </div>
            <div class="feedback__item border-mod">
                <div class="feedback__avatar">
                    <img src="img/feedback-avatar.jpg" alt="">
                </div>
                <div class="feedback__autor">
                    Виктория Разматова
                </div>
                <div class="feedback__autor-position">
                    Студентка физико-математического факультета
                </div>
                <div class="feedback__text">
                    «Перинатальный центр». По прибытию в аптеку перинатального центра нас встретила заведующая Г.А. Губина. Она ознакомила нас с персоналом, позже она рассказала ее структуру и функции аптеки. Нас приняли доброжелательно, ответили на все интересующие нас вопросы. Во время прохождения практики, мы утвердились в выборе своей профессии»
                </div>
            </div>
        </div>
        <div class="photo-block">
            <div class="title">
                Студенты группы ФЦ-11:
            </div>
            <div>
                <div class="photo-wrapper">
                    <img src="img/students-photo-1.jpg" alt="">
                </div>
                <div class="photo-wrapper">
                    <img src="img/students-photo-2.jpg" alt="">
                </div>
                <div class="photo-wrapper">
                    <img src="img/students-photo-3.jpg" alt="">
                </div>
                <div class="photo-wrapper">
                    <img src="img/students-photo-4.jpg" alt="">
                </div>
            </div>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
    </div>
    <div class="share news-detal-mod">
        <div class="share__title">Поделитесь информацией</div>
        <div class="share__links">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        </div>
        </div>
    
    <a class="news-back" href="javascript:void(0)">Вернуться к новостям</a>
    <div class="other-news">
        <div class="wrapper clearfix">
            <div class="title-wrapper clearfix">
                <div class="title clearfix">
                    Другие новости
                </div>
                <div class="show-more">
                    <a href="javascript:void(0)">Показать еще</a>
                </div>
            </div>
    <ul class="item-news__list item-news-f cf">
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
          <div class="item-news__co">
            <img src="img/news-ban-img-3.jpg" alt="" class="item-news__img">
          </div>
            <p class="item-news__link dot-ellipsis">Фармацевтическая практика первокурсников. Незабываемые впечатления</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
            <p class="item-news__time">Сегодня, 08:56</p>
          </div>
        </a>
      </li>
      <li class="item-news">
        <a href="#">
          <div class="ov-h">
          <div class="item-news__co">
            <img src="img/news-ban-img-4.jpg" alt="" class="item-news__img">
          </div>
            <p class="item-news__link dot-ellipsis">Прошло тестирование по программе Всероссийской олимпиады школьников по физкультуре</p>
            <p class="some-hov-txt dot-ellipsis">В таком случае всплывает немного дополнительного текста, а весь блок смещает вверх, пододвинув изображение</p>
          </div>
          <div class="item-news__footer cf">
            <p class="item-news__type">Образование</p>
            <p class="item-news__time">12.05.16, пятница</p>
          </div>
        </a>
      </li>
    </ul>
        </div>
    </div>
</div>