<div class="left-page">
    <h1 class="left-page__title line-mod">Новости университета</h1>
    <div class="main-week">
        <div class="week-theme">
            тема недели
        </div>
        <div class="news-pic-wrapper">
            <div class="news-pic">
                <img src="img/news-week-pic.jpg" alt="">
            </div>
            <div class="pic-info">
                <div class="pic-title">
                    Образование
                </div>
                <div class="time-date">
                    Сегодня, <span>08:56</span>
                </div>
            </div>
        </div>
        <div class="news-article-wrapper">
            <div class="title">«Вестник МарГУ» включен в Ulrich's Periodicals Directory</div>
            <p class="lead">Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory – самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности.</p>
            <div class="news-links">
                <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="subscribe clearfix">
            <div class="text">
                <div class="title">Будьте в курсе событий университета</div>
                <div class="desc">Подпишитесь на рассылку новостей</div>
            </div>
            <a href="javascript:void(0)" class="show-papab" data-papa="papa_4">Подписаться</a>
        </div>
    </div>
    <div class="filter clearfix">
        <div class="filter-title">
            Лента
        </div>
        <div class="date">
 <div class="period-wrapper">    
            <div class="period">За период:</div>
             </div>
            <input type="text" name="daterange"  id="daterange" value="" />
            <div class="i-calendar"></div>
        </div>
        <a href="javascript:void(0)" class="js-daterange-drop cancelBtn">Сбросить</a>
    </div>
    <div class="personal-select">
        <a href="#all" class="personal-select__link is-active js-personal-tabs">Все</a>
        <a href="#education" class="personal-select__link js-personal-tabs">Образование</a>
        <a href="#science" class="personal-select__link js-personal-tabs">Наука</a>
        <a href="#culture" class="personal-select__link js-personal-tabs">Культура и общество</a>
        <a href="#sport" class="personal-select__link js-personal-tabs">Спорт</a>
        <a href="#uni-life" class="personal-select__link js-personal-tabs">жизнь университета</a>
    </div>
    <div class="people-list teachers tab-body active" id="all">
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-1.jpg" alt="">
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Образование
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="time-date">
                    Сегодня, <span>08:56</span>
                </div>
                <div class="title">Фармацевтическая практика первокурсников. Незабываемые впечатления</div>
                <p class="lead">Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory — самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности. </p>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)" class="news-link">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-2.jpg" alt="">
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Наука
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="time-date">
                    Сегодня, <span>10:56</span>
                </div>
                <div class="title">«МАРГУ – 85!»</div>
                <p class="lead">Марийский государственный университет – это вуз с 85-летней историей, которая тесно переплелась с судьбами людей, историей страны. Это вуз, который гордится своим студентом – первым Героем Советского Союза из Марийской республики Василием Степановичем Архиповым, вуз, который и сейчас вносит непосредственный вклад в развитие высшего образования, оборонно-промышленного ... комплекса страны и сохранение здоровья нации.</p>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-3.jpg" alt="">
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Жизнь университета
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="time-date">
                    Сегодня, <span>08:56</span>
                </div>
                <div class="title"> III Международный финно-угорский студенческий форум «Богатство финно-угорских народов».</div>
                <p class="lead">Научный журнал «Вестник Марийского государственного университета» включен в Ulrich’s Periodicals Directory (Справочник периодических изданий Ульриха). Ulrich’s Periodicals Directory — самая крупная зарубежная база данных, описывающая мировой поток периодических и продолжающихся изданий по всем тематическим направлениям жизнедеятельности. </p>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="news-block">
            <div class="news-pic-wrapper pre-newspic-mod">
                <div class="news-pic">
                    <img src="img/prenews-pic-4.jpg" alt="">
                </div>
                <div class="pic-info">
                    <div class="pic-title">
                        Наука
                    </div>
                </div>
            </div>
            <div class="news-article-wrapper pre-newslead-mod">
                <div class="time-date">
                    Сегодня, <span>08:56</span>
                </div>
                <div class="title">Наука в лицах - МАРГУ</div>
                <p class="lead">Именно под таким названием 18 мая в Марийском государственном университете прошло еще одно мероприятие, посвященное 85-летнему юбилею вуза. В нем приняло участие около 300 студентов и более 50 школьников.</p>
                <div class="news-links">
                    <a href="javascript:void(0)" class="news-link">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)" class="news-link">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#" class="btn-rect show-more">Показать еще</a>
            <div class="pagination__info">
                Показаны <span>10</span> из <span>1034</span>
            </div>
        </div>
    </div>
    <div class="people-list administrators tab-body" id="science">
    </div>
    <div class="people-list administrators tab-body" id="culture">
    </div>
    <div class="people-list administrators tab-body" id="sport">
    </div>
    <div class="people-list administrators tab-body" id="uni-life">
    </div>
</div>
