
<form action="/hello" class="papab__form papa_1">
  <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
  <p class="papab__title">Письмо в деканат</p>
  <input type="text" class="papab__input" placeholder="Ваше имя" required>
  <input type="email" class="papab__input" placeholder="E-mail" required>
  <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
  <input type="submit" class="papab__send" value="Отправить заявку">
</form>
<form action="/hello" class="papab__form">
  <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
  <p class="papab__title">Предложить новость</p>
  <input type="text" class="papab__input" placeholder="Ваше имя" required>
  <input type="email" class="papab__input" placeholder="E-mail" required>
  <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
  <input type="submit" class="papab__send" value="Отправить">
</form>
