<form action="/hello" class="papab__form papa_2">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Заявка на обучение</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить заявку">
</form>
<form action="/hello" class="papab__form height-mod papa_3">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Предложить новость</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить заявку">
</form>
<form action="/hello" class="papab__form height-mod width-mod papa_4">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Подписаться на рассылку</p>
    <input type="email" class="papab__input" placeholder="Введите ваш e-mail" required>
    <div class="modal-text">
        Выберите информацию, которую хотите получать
    </div>
    <div>
        <div class="modal-inner-title">
            <input type="checkbox" class="main-che" id="main1"><label for="main1"><span class="bu"></span>Новости университета</label>
            <div class="checkbox-container">
                <div class="checkbox-wrap">
                    <input type="checkbox" id="q" class="modal-checkbox">
                    <label for="q"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="w" class="modal-checkbox">
                    <label for="w"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="e" class="modal-checkbox">
                    <label for="e"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="r" class="modal-checkbox">
                    <label for="r"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="t" class="modal-checkbox">
                    <label for="t"><span class="bu"></span>Образование</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-inner-title">
            <input type="checkbox" class="main-che" id="main2"><label for="main2"><span class="bu"></span>Новости университета</label>
            <div class="checkbox-container">
                <div class="checkbox-wrap">
                    <input type="checkbox" id="q1" class="modal-checkbox">
                    <label for="q1"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="w1" class="modal-checkbox">
                    <label for="w1"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="e1" class="modal-checkbox">
                    <label for="e1"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="r1" class="modal-checkbox">
                    <label for="r1"><span class="bu"></span>Образование</label>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="t1" class="modal-checkbox">
                    <label for="t1"><span class="bu"></span>Образование</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-inner-title">
            <input type="checkbox" class="main-che" id="main3"><label for="main3"><span class="bu"></span>Новости университета</label>
        </div>
    </div>
    <input type="submit" class="papab__send padd-mode" value="Отправить">
</form>

<form action="/hello" class="papab__form papa_6">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Задать вопрос</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить заявку">
</form>

<form action="/hello" class="papab__form papa_7">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Оставить отзыв</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail (для оратной связи)" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить">
</form>

<form action="/hello" class="papab__form papa_8">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Письмо сотруднику</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail (для оратной связи)" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить">
</form>

<form action="/hello" class="papab__form papa_9">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Замечание</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail (для оратной связи)" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить">
</form>

<form action="/hello" class="papab__form papa_10 person-p">
    <a href="javascript:void(0)" class="papab__close js-papab__close"></a>
    <p class="papab__title">Письмо администрации</p>
    <input type="text" class="papab__input" placeholder="Ваше имя" required>
    <input type="email" class="papab__input" placeholder="E-mail (для оратной связи)" required>
    <textarea class="papab__textarea" placeholder="Сообщение" required></textarea>
    <input type="submit" class="papab__send" value="Отправить">
</form>