<div class="left-page">
    <h1 class="left-page__title">Виноградов Владимир Васильевич</h1>


    <div class="profile cf">
        <div class="profile__img-wrapper">

            <img src="img/profile-img.jpg" alt="" class="profile__img">
        </div>
        <div class="profile__info-wrapper">

            <div class="center-info-wrapper">
                <div class="profile__position">ДОЛЖНОСТЬ
                    <div class="position__name">
                        Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                    </div>
                </div>
            </div>

            <div class="profile__academic">
                УЧЕНАЯ СТЕПЕНЬ
                <div class="academic__name">
                    Кандидат технических наук
                </div>
            </div>

            <div class="profile__time">
                ВРЕМЯ И МЕСТО ПРОВЕДЕНИЯ КОНСУЛЬТАЦИЙ
                <div class="time__info">
                    13.00 – 15.00, аудитория 307, <a href="#">корпус Г</a>, ул. Пушкина, 30
                </div>
            </div>

            <div class="profile__contact">
                <a class="contact__info phone" href="callto:+7(8362)420548">+7 (8362) 42-05-48</a>
                <a class="contact__info email" href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a>
                <div class="contact__info location">каб.101, <span>Корпус «А»</span> </div>
                <a href="#" class="contact__info schedule">
                    Расписание преподавателя
                  </a>

            </div>
        </div>
    </div>

    <div class="profile-btns">
        <a href="#" data-papa="papa_8" class="btn-rect blue mail show-papab">Написать письмо</a>
        <a href="#" data-papa="papa_7" class="btn-rect feedback show-papab">Оставить отзыв</a>
    </div>

    <div class="profile-info">
        <div class="profile-info__tabs-head">
            <a href="#main" class="js-personal-tabs profile-info__link is-active">ОБЩАЯ ИНФОРМАЦИЯ</a>
            <a href="#" class="js-personal-tabs profile-info__link">ПРЕПОДАВАЕМЫЕ КУРСЫ</a>
            <a href="#publication" class="js-personal-tabs profile-info__link">Публикации</a>
            <a href="#feedback" class="js-personal-tabs profile-info__link">Отзывы</a>
        </div>
        <div class="profile-info__tabs tabs-body">

            <div class="tab-info main-info active" id="main">
                <div class="main-info__title">
                    О сотруднике
                </div>
                <div class="main-info__text">
                    Родился в 1979 году в г. Йошкар-Оле Марийской АССР. Женат. Воспитывает двух сыновей. Увлекается волейболом, бадминтоном. Владеет немецким и марийским языками.
                </div>

                <div class="main-info__title">
                    Стаж педагогической деятельности
                </div>
                <div class="main-info__text">
                    С 1997 года
                </div>

                <div class="main-info__title">
                    Образование
                </div>
                <div class="main-info__text ">
                    <div class="years-list">
                        <div class="years">1958-1964</div>
                        <div class="years-info">
                            Казанский химико-технологический институт им. С.М. Кирова, квалификация "инженер-механик"
                        </div>
                    </div>
                    <div class="years-list">
                        <div class="years">1981-1985</div>
                        <div class="years-info">
                            Казанский химико-технологический институт им. С.М. Кирова, аспирантура специальность 05.17.08 "Процессы и аппараты химической технологии"
                        </div>
                    </div>
                    <div class="years-list">
                        <div class="years">1985 год</div>
                        <div class="years-info">
                            Получено звание Кандидат технических наук
                        </div>
                    </div>
                </div>
                <div class="main-info__title">
                    Награды и гранты
                </div>
                <div class="main-info__text">
                    <ul class="main-info__list">
                        <li>Медаль ветеран труда</li>
                        <li>Грант РМЭ «Способ и установка для биокмпостирования птичьего помета и отходов деревообработки»</li>
                    </ul>
                </div>
                <div class="main-info__title">
                    Научные интересы
                </div>
                <div class="main-info__text">
                    Интенсификация процесса переработки СХП
                    <br> Снижение энергоемкости процесса измельчения
                </div>
            </div>

            <div class="tab-info publication" id="publication">
                <div class="main-info__title">
                    Основные публикации
                </div>
                <div class="main-info__text">
                    <ul class="main-info__list">
                        <li>Моделирование кинетики и аппаратурное оформление процесса смешения биопрепаратов Автореферат диссертации кандидата технических наук. 05.17.08. Защищена 12.12.85</li>
                        <li>Масштабные переходы при определении режимных параметров и конструктивных характеристик в центробежном смесителе (тезисы доклада) Материалы межрегиональной конференции молодых ученых «Пищевые технологии» г. Казань, 1999</li>
                        <li>Математическое моделирование процесса смешения дисперсных материалов (статья) Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства Йошкар-Ола, 2001</li>
                        <li>Математическая модель кинетики процесса приготовления многокомпонентных смесей (статья) Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства с 238 Йошкар-Ола, 2003</li>
                        <li>Влияние способов подготовки воды на качество приготовления напитков (статья) Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства с 238 Йошкар-Ола, 2007</li>
                        <li>Технология биокомпостирования органических отходов (статья) Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства с. 639-640 Йошкар-Ола, 2008</li>
                        <li>Авторское свидетельство Смеситель А.С. 1008944 СССР 1982</li>
                        <li>Авторское свидетельство Смеситель АС. 1087168 СССР Бюл. № 15 1984</li>
                        <li>Авторское свидетельство Измельчитель А.С. 205484 СССР 1984</li>
                        <li>Авторское свидетельство Дозатор А.С. 1191738 СССР 1985</li>
                        <li>Авторское свидетельство Смеситель А.С. 1367222 СССР 1986</li>
                    </ul>
                </div>
                <div class="main-info__title">
                    Учебники и учебные пособия
                </div>
                <div class="main-info__text">
                    <ul class="main-info__list">
                        <li> Технология переработки растениеводческой продукции (хлебопечение) (методические указания) Йошкар-Ола, МарГУ 2000</li>
                        <li> Технология переработки технических культур (методические указания) Йошкар-Ола, МарГУ 2005</li>
                        <li> Основы проектирования предприятий мясной отрасли (учебно-методическое пособие) Йошкар-Ола, МарГУ 2007</li>
                        <li> Основы биотехнологии (учебное пособие) Йошкар-Ола, МарГУ 2008</li>
                        <li> Основы проектирования и строительства перерабатывающих предприятий (методические указания) Йошкар-Ола, МарГУ 2010</li>
                    </ul>
                </div>

                <div class="main-info__title">
                    Статьи в научных журналах
                </div>
                <div class="main-info__text">
                    <ul class="main-info__list">
                        <li> Математическое моделирование кинетики процесса смешения композиций содержащих твердую фазу ОНТИЭИ Микробиопром №163, 1983</li>
                        <li> Моделирование кинетики процесса смешения многокомпонентных систем в аппаратах периодического действия ВНИИ СЭНТИ № 222 мб-Д 84</li>
                        <li> Оптимизация процесса смешения порошкообразных компонентов ВНИИ СЭНТИ № 222 мб-Д 84</li>
                        <li> Экспериментальное исследование закономерности распределения концентраций порошкообразных компонентов в центробежном смесителе ВНИИ СЭНТИ № 222 мб-Д 84</li>
                    </ul>
                </div>
            </div>

            <div class="tab-info feedback" id="feedback">
                <div class="feedback__item">
                    <div class="feedback__avatar">
                        <img src="img/feedback-avatar.jpg" alt=""
                        >
                    </div>

                    <div class="feedback__autor">
                        Мария Иванова
                    </div>

                    <div class="feedback__autor-position">
                        Студентка физико-математического факультета
                    </div>

                    <div class="feedback__text">
                        «Вечером я слушала лекции или участвовала в семинарах, а на следующий день я уже применяла это на практике. Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»
                    </div>
                </div>

                <div class="feedback__item">
                    <div class="feedback__avatar">
                        <img src="img/feedback-avatar.jpg" alt=""
                        >
                    </div>

                    <div class="feedback__autor">
                        Таисия Марковкина
                    </div>

                    <div class="feedback__autor-position">
                        Студентка физико-математического факультета
                    </div>

                    <div class="feedback__text">
                        «Это было очень удобно. Благодаря этому после выпуска я была не просто квалифицированным специалистом, но и обладала богатым практическим опытом»
                    </div>
                </div>

                <a href="#" class="btn-rect feedback__btn">Оставить отзыв</a>
            </div>
        </div>
    </div>

    <div class="share">
        <div class="share__title">Поделитесь информацией</div>
        <div class="share__links">
          <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
          <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        </div>
    </div>
    <a href="#" class="profile__return-link">Вернуться к списку</a>
</div>
