<div class="left-page">
    <h1 class="left-page__title">Преподаватели и сотрудники</h1>
    <div class="personal-select">
        <a href="#teachers" class="personal-select__link is-active js-personal-tabs">Преподавательский состав</a>
        <a href="#administrators" class="personal-select__link js-personal-tabs">АДМИНИСТРАТИВНЫЕ состав</a>
    </div>
    <div class="people-list teachers tab-body active" id="teachers">
        <div class="sort-wrap cf">
            <!-- <span class="sort-wrap__icon">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
            </span> -->
            <form class="sort-wrap__form">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>

            <div class="sort-wrap__select">
                <div class="sort-wrap__select-wrapper">
                    <select class="select">
                        <option>Выберите институт/факультет</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>

                <div class="sort-wrap__select-wrapper">
                    <select class="select">
                        <option>Выберите институт/факультет</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="people-list__person cf">
            <img src="img/person-1.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Айплатов Геннадий Николаевич</a>

            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-2.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Бородина Марина Викторовна</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>

                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            доцент Кафедры математики и информатики и методики обучения математике и информатике
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-3.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Ситников Геннадий Николаевич</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-4.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Гусев Рудольф Альбертович</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="people-list__person cf">
            <img src="img/person-3.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Ситников Геннадий Николаевич</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>

        <div class="pagination">

            <a href="#" class="btn-rect show-more">Показать еще</a>

            <div class="pagination__info">
                Показаны <span>10</span> из <span>1034</span>
            </div>
        </div>

    </div>


    <div class="people-list administrators tab-body" id="administrators">
        <div class="sort-wrap cf">
            <form class="sort-wrap__form">
                <input type="text" class="sort-wrap__search" placeholder="Введите имя, фамилию или должность">
                <input type="submit" class="sort-wrap__submit">
            </form>

            <div class="sort-wrap__select">
                <div class="sort-wrap__select-wrapper">
                    <select class="select">
                        <option>Выберите институт/факультет</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>

                <div class="sort-wrap__select-wrapper">
                    <select class="select">
                        <option>Выберите институт/факультет</option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="people-list__person cf">
            <img src="img/person-1.jpg" alt="person image" class="person-image">
            <a href="#" class="people-list__name">Айплатов Геннадий Николаевич</a>
            <div class="person-contact-wrap cf">
                <div class="person-contact">
                    <div class="person-contact__info phone"><a href="callto:+7(8362)420548">+7 (8362) 42-05-48</a></div>
                    <div class="person-contact__info email"><a href="mailto:ajgenik@yandex.ru">ajgenik@yandex.ru</a></div>
                    <div class="person-contact__info location">каб.101, <span>Корпус «А»</span> </div>
                </div>
                <div class="center-info-wrapper">
                    <div class="people-list__position">ДОЛЖНОСТЬ
                        <div class="position__name">
                            Зав. кафедрой, доцент Кафедры механизации производства и переработки с/х продукции
                        </div>
                    </div>
                </div>
                <div class="people-list__academic">
                    УЧЕНАЯ СТЕПЕНЬ
                    <div class="academic__name">
                        Кандидат технических наук
                    </div>

                    <a href="#" class="people-list__schedule schedule">
                            Расписание преподавателя
                          </a>
                </div>
            </div>
        </div>
    </div>
</div>
