<div class="left-page">
    <h1 class="left-page__title line-mod left-page__title_long">Награждение призеров международной олимпиады по программированию</h1>
    <div class="photoalbum">
        <div class="photoalbum__main">
            <p class="photoalbum__num"><span class="i-ico i-ico_photo"></span>75 фотографий</p>
            <ul class="list list_flat list_inline list_photoalbum">
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-1.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-2.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-3.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-4.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-5.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-6.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-7.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-8.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-9.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-10.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-11.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-12.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-1.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-2.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-3.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-4.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-5.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-6.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-7.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-8.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-9.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
                <li class="list__item">
                    <a class="photoalbum-item js-fancybox-img" href="img/photo-popup.jpg" rel="next" title="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" data-link="#" data-type="jpg" data-size="1.2Mb">
                        <img src="img/photo-10.jpg" alt="Руководители практик от аптек были очень довольны работой студентов, прислали многочисленные положительные отзывы" width="240" height="160" />
                    </a>
                </li>
            </ul>
            <div class="photoalbum__label">
                <a href="#" class="photoalbum__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                <a href="#" class="photoalbum__label__item">ВЕСТНИК МАРГУ</a>
                <a href="#" class="photoalbum__label__item">ДОСТИЖЕНИЯ</a>
            </div>
        </div>
        <div class="share">
            <div class="share__title">Поделитесь информацией</div>
            <div class="share__links">
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <a href="#" class="photoalbum__return-link">Вернуться к фотоальбомам</a>
    </div>
    <div class="photoalbum__other">
        <p class="section-title">Похожие фотоальбомы</p>
        <ul class="list list_flat list_inline list_multimedia">
            <li class="list__item">
                <div class="multimedia-item">
                    <a class="multimedia-item__main" href="#">
                        <span class="multimedia-item__pic-wrap">
                            <span class="multimedia-item__preview">
                                <img src="img/media-1.jpg" alt="Награждение призеров Международной олимпиады по программированию 02.12.2015" width="348" height="260" />
                                <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                            </span>  
                        </span>   
                        <span class="multimedia-item__title">Награждение призеров Международной олимпиады по программированию 02.12.2015</span>
                    </a>
                    <div class="multimedia-item__label">
                        <a href="#" class="multimedia-item__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                        <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                        <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                    </div>
                </div>
            </li>
            <li class="list__item">
                <div class="multimedia-item">
                    <a class="multimedia-item__main" href="#">
                        <span class="multimedia-item__pic-wrap">
                            <span class="multimedia-item__preview">
                                <img src="img/media-2.jpg" alt="Акция «приберемся к пасхе»" width="348" height="260" />
                                <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>10</span> 
                            </span>  
                        </span>   
                        <span class="multimedia-item__title">Акция «приберемся к пасхе»</span>
                    </a>
                    <div class="multimedia-item__label">
                        <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                        <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                        <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
</div>
