<div class="left-page">
    <h1 class="left-page__title line-mod">Фотогалерея</h1>
    <div class="filter-wrap cf">
        <div class="filter-wrap__select">
            <div class="filter-wrap__select-wrapper">
            <span class="filter-wrap__title">ФОТОАЛЬБОМЫ ЗА</span>
            <select class="select">
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
            </select>
            <span class="filter-wrap__title filter-wrap__title_m-l">год</span>
            </div>

            <div class="filter-wrap__select-wrapper filter-wrap__select-wrapper_w-278">
            <select class="select">
                <option>Выберите направление</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
            </div>
        </div>
    </div>
    <ul class="list list_flat list_inline list_multimedia">
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-1.jpg" alt="Награждение призеров Международной олимпиады по программированию 02.12.2015" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Награждение призеров Международной олимпиады по программированию 02.12.2015</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-2.jpg" alt="Акция «приберемся к пасхе»" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>10</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Акция «приберемся к пасхе»</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-3.jpg" alt="Встреча М. Н. Швецова с со воскресение" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>102</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Встреча М. Н. Швецова с со воскресение</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-4.jpg" alt="Маргу состоялась студенческая олимпиада по поликультурному образованию и этнопедагогике" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Маргу состоялась студенческая олимпиада по поликультурному образованию и этнопедагогике</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-5.jpg" alt="Открытие интерактивного музея истории маргу" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Открытие интерактивного музея истории маргу</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">Наука</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-6.jpg" alt="Студенты иэуиф на мероприятии маргу «наука – в лицах»" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Студенты иэуиф на мероприятии маргу «наука – в лицах»</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-1.jpg" alt="Награждение призеров Международной олимпиады по программированию 02.12.2015" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Награждение призеров Международной олимпиады по программированию 02.12.2015</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-2.jpg" alt="Акция «приберемся к пасхе»" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>10</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Акция «приберемся к пасхе»</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-3.jpg" alt="Встреча М. Н. Швецова с со воскресение" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>102</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Встреча М. Н. Швецова с со воскресение</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-4.jpg" alt="Маргу состоялась студенческая олимпиада по поликультурному образованию и этнопедагогике" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Маргу состоялась студенческая олимпиада по поликультурному образованию и этнопедагогике</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">ДОСТИЖЕНИЯ</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-5.jpg" alt="Открытие интерактивного музея истории маргу" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Открытие интерактивного музея истории маргу</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                    <a href="#" class="multimedia-item__label__item">Наука</a>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="multimedia-item">
                <a class="multimedia-item__main" href="#">
                    <span class="multimedia-item__pic-wrap">
                        <span class="multimedia-item__preview">
                            <img src="img/media-6.jpg" alt="Студенты иэуиф на мероприятии маргу «наука – в лицах»" width="348" height="260" />
                            <span class="multimedia-item__type"><span class="i-ico i-ico_photo"></span>75</span> 
                        </span>  
                    </span>   
                    <span class="multimedia-item__title">Студенты иэуиф на мероприятии маргу «наука – в лицах»</span>
                </a>
                <div class="multimedia-item__label">
                    <a href="#" class="multimedia-item__label__item">ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="#" class="multimedia-item__label__item">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="pagination">
        <a href="#" class="btn-rect show-more">Показать еще</a>
        <div class="pagination__info">
            Показаны <span>10</span> из <span>1034</span>
        </div>
    </div>
</div>
