<script async type="text/javascript" src="js/ie-detector.js"></script>
<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4TX25kNrX_MKpXTGqV76IlNCseUtrX_c&signed_in=true&callback=initMap"></script>
