<div class="left-page">
    <h1 class="left-page__title">Поиск по сайту</h1>
    <div class="sort-wrap cf st-search">
            <form class="sort-wrap__form">
                <input type="text" class="sort-wrap__search" placeholder="Искать на сайте">
                <input type="submit" class="sort-wrap__submit">
            </form>

            <div class="sort-wrap__select">
                <div class="sort-wrap__select-wrapper">
                    <select class="select">
                        <option>Вся информация</option>
                        <option>Новости, объявления, мероприятия</option>
                        <option>Сотрудники</option>
                        <option>Прикрепленные документы</option>
                    </select>
                </div>
            </div>
        </div>
        <h3 class="st-search__title">Результаты поиска</h3>
        <div class="st-search__line"></div>
        <ol class="numb-list st-search__st">
            <li class="numb-list__item"><a href="" class="numb-list__link">Информация по рейтингу абитурентов 2016</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг»</a>Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг» ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Кафедра Аппаратно-программных комплексов вычислительной техники</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Факультет экономики и экологического менеджмента</a>Очной и около 40 заочной формы обучения, а так же 7-13 бакалавров и 8-13 магистров.rnrnНа факультет ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем студентов и молодых ученых к участию в мероприятияхпо развитию университета</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Информация по рейтингу абитурентов 2016</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг»</a>Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг» ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Кафедра Аппаратно-программных комплексов вычислительной техники</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Факультет экономики и экологического менеджмента</a>Очной и около 40 заочной формы обучения, а так же 7-13 бакалавров и 8-13 магистров.rnrnНа факультет ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем студентов и молодых ученых к участию в мероприятияхпо развитию университета</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Информация по рейтингу абитурентов 2016</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг»</a>Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг» ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Кафедра Аппаратно-программных комплексов вычислительной техники</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Факультет экономики и экологического менеджмента</a>Очной и около 40 заочной формы обучения, а так же 7-13 бакалавров и 8-13 магистров.rnrnНа факультет ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем студентов и молодых ученых к участию в мероприятияхпо развитию университета</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Информация по рейтингу абитурентов 2016</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг»</a>Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг» ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Кафедра Аппаратно-программных комплексов вычислительной техники</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Факультет экономики и экологического менеджмента</a>Очной и около 40 заочной формы обучения, а так же 7-13 бакалавров и 8-13 магистров.rnrnНа факультет ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем студентов и молодых ученых к участию в мероприятияхпо развитию университета</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Информация по рейтингу абитурентов 2016</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг»</a>Приглашаем принять участие в Международной летней школе «Молодежь Европы: образование, работа, досуг» ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Кафедра Аппаратно-программных комплексов вычислительной техники</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Факультет экономики и экологического менеджмента</a>Очной и около 40 заочной формы обучения, а так же 7-13 бакалавров и 8-13 магистров.rnrnНа факультет ...</li>
            <li class="numb-list__item"><a href="" class="numb-list__link">Приглашаем студентов и молодых ученых к участию в мероприятияхпо развитию университета</a>В этом году документы подали более 20 000 абитуриентов. Наиболее сдаваемые выпускниками ...</li>
        </ol>
        <div class="b-cen">
            <a href="javavoid(0)" class="st-mr">Показать еще</a>
        </div>
    
</div>
