<div class="extra-row n-s-hide">
    <div class="right-page">
        <div class="con-mob auto-h">
      <div class="b-bew-news cf">
          <h4>Актуальные новости</h4>
          <ul class="b-bew-news__list">
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Студент ФФКСИТ лаурет X открытой международной научно-исследовательской конференции молодых исследователей «Образование. Наука. Профессия»</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">«Образование через всю жизнь»</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Фармацевтическая практика первокурсников: незабываемые впечатления</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Практика первокурсников: незабываемые впечатления</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
          </ul>
          <a href="#" class="item-news__b-more">Все новости</a>
      </div>
    </div>
        <div class="con-mob auto-h">
            <div class="subscribe-block">
                <div class="title">
                    Присоединяйтесь
                    <br>к нашим сообществам
                </div>
                <ul class="soc-icon__list">
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-1"></a>
                    </li>
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-2"></a>
                    </li>
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-3"></a>
                    </li>
                </ul>
            </div>
        </div>

        <h4>Календарь мероприятий</h4>
        <div class="datepicker-here  auto-h"></div>
        <div class="con-mob auto-h clearfix pad-top">
            <div class="b-bew-news cf">
                <h4>Отчеты<br>с прошедших<br>мероприятий</h4>
                <ul class="b-bew-news__list">
                    <li class="b-bew-news__item cf ">
                        <a href="javascript:void(0)" class="photos-wrapper">
                            <div class="counter">250</div>
                            <img src="img/sidebar-pic-1.jpg" alt="">
                        </a>
                        <div class="pic-lead">Награждение призеров Международной олимпиады по программированию</div>
                    </li>
                    <li class="b-bew-news__item cf">
                        <a href="javascript:void(0)" class="photos-wrapper">
                            <div class="counter">75</div>
                            <img src="img/sidebar-pic-2.jpg" alt="">
                        </a>
                        <div class="pic-lead">Победители соревонования Награждение призеров Международной олимпиады по программированию</div>
                    </li>
                </ul>
                <a href="#" class="item-news__b-more">Все фотоотчеты</a>
            </div>
        </div>
    </div>
</div>
