<div class="extra-row n-s-hide">
    <div class="right-page">
        <div class="con-mob auto-h">
            <div class="faq-sidebar-block">
                <div class="title">Поделитесь интересной
                    <br>информацией</div>
                <a href="javascript:void(0)" data-papa="papa_3" class="ask-btn show-papab">Предложить новость</a>
            </div>
        </div>
        <div class="con-mob auto-h clearfix">
            <div class="b-bew-news cf">
                <h4>Популярные теги</h4>
                <div class="pop-tags">
                    <a href="javascript:void(0)">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)">ДОСТИЖЕНИЯ</a>
                    <a href="javascript:void(0)">ИНСТИТУТ МЕДИЦИНЫ И ЕСТЕСТВЕННЫХ НАУК</a>
                    <a href="javascript:void(0)">ПРАКТИКА</a>
                    <a href="javascript:void(0)">ФАРМАЦИЯ</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)">ДОСТИЖЕНИЯ</a>
                    <a href="javascript:void(0)">ИНСТИТУТ МЕДИЦИНЫ И ЕСТЕСТВЕННЫХ НАУК</a>
                    <a href="javascript:void(0)">ПРАКТИКА</a>
                    <a href="javascript:void(0)">ФАРМАЦИЯ</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a> <a href="javascript:void(0)">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)">ДОСТИЖЕНИЯ</a>
                    <a href="javascript:void(0)">ИНСТИТУТ МЕДИЦИНЫ И ЕСТЕСТВЕННЫХ НАУК</a>
                    <a href="javascript:void(0)">ПРАКТИКА</a>
                    <a href="javascript:void(0)">ФАРМАЦИЯ</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a> <a href="javascript:void(0)">РЕДАКЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                    <a href="javascript:void(0)">ДОСТИЖЕНИЯ</a>
                    <a href="javascript:void(0)">ИНСТИТУТ МЕДИЦИНЫ И ЕСТЕСТВЕННЫХ НАУК</a>
                    <a href="javascript:void(0)">ПРАКТИКА</a>
                    <a href="javascript:void(0)">ФАРМАЦИЯ</a>
                    <a href="javascript:void(0)">ВЕСТНИК МАРГУ</a>
                </div>
            </div>
        </div>
        <div class="con-mob auto-h">
            <div class="subscribe-block">
                <div class="title">
                    Присоединяйтесь
                    <br>к нашим сообществам
                </div>
                <ul class="soc-icon__list">
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-1"></a>
                    </li>
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-2"></a>
                    </li>
                    <li class="soc-icon__item">
                        <a href="" class="soc-icon__link soc-icon__link-3"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="con-mob auto-h">
            <div class="b-bew-news cf">
                <h4>Последние объявления</h4>
                <div id="lightSlider">
                    <div class="b-bew-news__item cf">
                        <a href="" class="b-ads__link">Педагогическая олимпиада</a>
                        <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
                        <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                        <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
                        <p class="item-news__time">Сегодня, 08:56</p>
                    </div>
                    <div class="b-bew-news__item cf">
                        <a href="" class="b-ads__link">Педагогическая олимпиада</a>
                        <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
                        <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                        <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
                        <p class="item-news__time">Сегодня, 08:56</p>
                    </div>
                    <div class="b-bew-news__item cf">
                        <a href="" class="b-ads__link">Педагогическая олимпиада</a>
                        <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
                        <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
                        <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
                        <p class="item-news__time">Сегодня, 08:56</p>
                    </div>
                </div>
                <div class="block-c">
                    <div class="count-page rel-b"><span id="current">1</span> / <span id="total">3</span>
                        <a href="javascript:void(0)" class="ne_4"></a>
                        <a href="javascript:void(0)" class="pr_4"></a>
                    </div>
                    <a href="#" class="item-news__b-more">Все объявления</a>
                </div>
            </div>
        </div>
        <h4>Календарь мероприятий</h4>
        <div class="datepicker-here  auto-h"></div>
        <div class="con-mob auto-h clearfix pad-top">
            <div class="b-bew-news cf">
                <h4>Отчеты<br>с прошедших<br>мероприятий</h4>
                <ul class="b-bew-news__list">
                    <li class="b-bew-news__item cf ">
                        <a href="javascript:void(0)" class="photos-wrapper">
                            <div class="counter">250</div>
                            <img src="img/sidebar-pic-1.jpg" alt="">
                            </a>
                                <div class="pic-lead">Награждение призеров Международной олимпиады по программированию</div>
                    </li>
                    <li class="b-bew-news__item cf">
                        <a href="javascript:void(0)" class="photos-wrapper">
                            <div class="counter">75</div>
                            <img src="img/sidebar-pic-2.jpg" alt="">
                        </a>
                        <div class="pic-lead">Победители соревонования Награждение призеров Международной олимпиады по программированию</div>
                    </li>
                </ul>
                <a href="#" class="item-news__b-more">Все фотоотчеты</a>
            </div>
        </div>
    </div>
</div>
