<div class="extra-row new-hide-st js-replase">
   <div class="right-page">
   <div class="con-mob auto-h">
   	<div class="faq-sidebar-block">
   		<div class="title">Не нашли ответа?</div>
   		 <a href="#"  data-papa="papa_6" class="ask-btn show-papab">Задать вопрос</a>
   	</div>
   </div>
    <div class="con-mob auto-h">
      <div class="b-bew-news cf">
          <h4>Актуальные новости</h4>
          <ul class="b-bew-news__list">
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Студент ФФКСИТ лаурет X открытой международной научно-исследовательской конференции молодых исследователей «Образование. Наука. Профессия»</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">«Образование через всю жизнь»</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Фармацевтическая практика первокурсников: незабываемые впечатления</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
            <li class="b-bew-news__item cf">
              <a href="#" class="item-news__link">Практика первокурсников: незабываемые впечатления</a>
              <p class="item-news__time">11.05.16, четверг</p>
            </li>
          </ul>
          <a href="#" class="item-news__b-more">Все новости</a>
      </div>
    </div>
    <div class="con-mob auto-h">
      <div class="b-bew-news cf">
          <h4>Последние объявления</h4>
          <div id="lightSlider">
            <div class="b-bew-news__item cf">
              <a href="" class="b-ads__link">Педагогическая олимпиада</a>
              <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
              <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
              <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
              <p class="item-news__time">Сегодня, 08:56</p>
            </div>
            <div class="b-bew-news__item cf">
              <a href="" class="b-ads__link">Педагогическая олимпиада</a>
              <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
              <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
              <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
              <p class="item-news__time">Сегодня, 08:56</p>
            </div>
            <div class="b-bew-news__item cf">
              <a href="" class="b-ads__link">Педагогическая олимпиада</a>
              <p class="b-ads__txt">Марийский государственный университет приглашает учащихся 10-11 классов образовательных организаций Республики Марий Эл принять участие во III Республиканской педагогической олимпиаде. Олимпиада проводится с 1 февраля по 25 марта 2016 года в два тура.</p>
              <a href="" class="link-boc link-boc_1">ИНФОРМАЦИОННОЕ ПИСЬМО</a>
              <a href="" class="link-boc link-boc_2">ПРИЛОЖЕ</a>
              <p class="item-news__time">Сегодня, 08:56</p>
            </div>
          </div>
          <div class="block-c">
            <div class="count-page rel-b"><span id="current">1</span> / <span id="total">3</span>
              <a href="javascript:void(0)" class="ne_4"></a>
              <a href="javascript:void(0)" class="pr_4"></a>
            </div>
            <a href="#" class="item-news__b-more">Все объявления</a>
          </div>
      </div>
    </div>
    <h4>Календарь мероприятий</h4>
    <div class="datepicker-here"></div>
<!--     <div class="con-mob auto-h">
      <div class="item-news right-news">
          <a href="#">
            <div class="ov-h">
              <div class="item-news__co">
                <img src="img/news-ban-img-9.jpg" alt="" class="item-news__img">
              </div>
              <div class="abs-date">29<span class="abs-date__mun">февраля<br>2016</span></div>
              <p class="item-news__link dot-ellipsis">День открытых дверей</p>
            </div>
          </a>
      </div>
    </div> -->
  </div>
</div>
