<div class="sitemap">
    <h1 class="left-page__title">Карта сайта</h1>
    <ul class="main-list">
        <li class="main-list__item"><a href="" class="main-list__link">Университет</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Наука</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Образование</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Студенческая жизнь</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Международная деятельность</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Новости и события</a></li>
        <li class="main-list__item"><a href="" class="main-list__link">Абитуриентам</a></li>
    </ul>
    <ul class="list-lvl-1">
        <li class="list-lvl-1__item">
            <h4 class="list-lvl-1__title">Общая информация</h4>
            <ul class="list-lvl-2">
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">О МарГУ</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">История</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Организационная структура</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Документы</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Лицензирование и аккредитация</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Основные сведения об образовательной организации</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Организационная структура</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Сотруднику</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Контакты</a></li>
            </ul>
        </li>
        <li class="list-lvl-1__item">
            <h4 class="list-lvl-1__title">Персоналии</h4>
            <ul class="list-lvl-2">
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Ректорат</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Проректорат</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Преподаватели и сотрудники</a></li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Заслуженные деятели науки и почетные профессора</a></li>
            </ul>
        </li>
        <li class="list-lvl-1__item">
            <h4 class="list-lvl-1__title">Структурные подразделения</h4>
            <ul class="list-lvl-2">
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Центры МарГУ</a>
                    <ul class="list-lvl-3">
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профориентационной деятельности и трудоустройства</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link"></a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр связей с общественностью</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр физкультурно-оздоровительной деятельности</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр патриотического воспитания и спорта</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профессиональной подготовки работников транспорта «Пилот-У»</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Редакционно-издательский центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Инновационный центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Учебный научно-исследовательский центр ВПВ</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр открытого образования</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Информационно-вычислительный центр</a></li>
                    </ul>
                </li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Управления МарГУ</a>
                    <ul class="list-lvl-3">
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профориентационной деятельности и трудоустройства</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link"></a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр связей с общественностью</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр физкультурно-оздоровительной деятельности</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр патриотического воспитания и спорта</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профессиональной подготовки работников транспорта «Пилот-У»</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Редакционно-издательский центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Инновационный центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Учебный научно-исследовательский центр ВПВ</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр открытого образования</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Информационно-вычислительный центр</a></li>
                    </ul>
                </li>
                <li class="list-lvl-2__item"><a href="" class="list-lvl-2__link">Отделы МарГУ</a>
                    <ul class="list-lvl-3">
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профориентационной деятельности и трудоустройства</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link"></a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр связей с общественностью</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр физкультурно-оздоровительной деятельности</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр патриотического воспитания и спорта</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр профессиональной подготовки работников транспорта «Пилот-У»</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Редакционно-издательский центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Инновационный центр</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Учебный научно-исследовательский центр ВПВ</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Центр открытого образования</a></li>
                        <li class="list-lvl-3__item"><a href="" class="list-lvl-3__link">Информационно-вычислительный центр</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>