.papab {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 0;
    z-index: 9999;
    transition: all .3s;
    &__form {
        width: 396px;
        height: 508px;
        display: none;
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        padding: 44px 52px 44px 51px;
        opacity: 0;
        transition: all .3s;
        z-index: -1;
    }
    &__close {
        background: url("../img/close.jpg");
        display: inline-block;
        width: 48px;
        height: 48px;
        position: absolute;
        right: -22px;
        top: -20px;
        cursor: pointer;
    }
    &__title {
        font-family: "GaramondPremrPro-BdIt";
        color: #000000;
        font-size: 35px;
        letter-spacing: 0.01em;
        margin: 0;
        &:before {
            content: "";
            width: 6px;
            height: 52px;
            position: absolute;
            background: #fe9700;
            left: 0;
            top: 39px;
        }
    }
    &__input {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #757575;
        font-size: 11px;
        border: none;
        border: 1px solid #e0e0e0;
        width: 100%;
        box-shadow: inset 1px 3px 20px -13px rgba(0, 0, 0, 0.75);
        padding: 17px;
        margin-top: 20px;
        &:nth-child(3) {
            margin-top: 37px;
        }
    }
    &__textarea {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #757575;
        font-size: 11px;
        border: none;
        border: 1px solid #e0e0e0;
        resize: none;
        width: 100%;
        box-shadow: inset 1px 3px 20px -13px rgba(0, 0, 0, 0.75);
        padding: 17px;
        margin-top: 20px;
        height: 115px;
    }
    &__send {
        background: #3e50b4;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 13px;
        text-align: center;
        color: white;
        display: inline-block;
        box-sizing: border-box;
        padding: 18px 60px 17px 38px;
        letter-spacing: -0.05em;
        border: none;
        cursor: pointer;
        margin-top: 15px;
        &:hover {
            background: #fe9700;
            border-color: #fe9700;
        }
        &:active {
            background: #e48801;
            border-color: #e48801;
        }
    }
}

.modal-text {
    color: #3e50b4;
    font-size: 17px;
    font-family: "GaramondPremrPro-BdIt";
    padding-top: 34px;
    padding-bottom: 32px;
}

.modal-inner-title {
    font-size: 14px;
    font-family: "FrutigerNeueLTW1G-Bold";
    text-transform: uppercase;
    span {
        padding-left: 10px;
    }
}
.checkbox-container { 
    padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 20px;
    
}
.checkbox-wrap {
    display: inline-block;
    width: 170px;
    vertical-align: top;
    font-size: 11px;
    color: #898989;
    font-family: 'FrutigerNeueLTW1G-Book';
    padding-bottom: 10px;
}
.padd-mode {
    padding: 18px 72px;
    margin-top: 50px;
}
.papab-show {
    height: 100%;
}

.papab__form-show {
    opacity: 1;
    z-index: 9999;
    display: block;
}

.person-p {
    height: 540px;
}
@media (min-width: 300px) and (max-width: 800px) {
    .papa_4 .papab__close {
        right: -1px;
        top: 0;
    }
    .papa_4.height-mod
    {
        width: 99%;
        left: 1px;
        transform: translate(0, 0);
    }
}
@media (min-width: 300px) and (max-width: 465px) {
    .papab__close {
        right: -1px;
        top: 0;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .papab__close {
        right: -1px;
        top: 0;
    }
    .papab__form {
        width: 99%;
        margin: 0;
        top: 0;
        left: 1px;
        transform: translate(0, 0);
    }
    .papab__title {
        font-size: 28px;
    }
}
