.left-page {
	width: 748px;
	margin: 15px;
	float: left;
	@media (max-width: 1200px) {
		width: 100%;
		float: none;
		margin: 0;
	}
}
.right-page {
	width: 362px;
	float: right;
	margin-top: -5px;
	margin-right: 16px;
	margin-bottom: 40px;
	.b-bew-news__list {
		margin-bottom: 43px;
	}
	.item-news__link {
		margin: 12px 5px;
		font-size: 15px;
		font-family: "FrutigerNeueLTW1G-Regular";
	}
	.item-news__time {
		margin-left: 31px;
		margin-top: 2px;
	}
	.b-bew-news__item {
		margin-bottom: 27px;
		padding-right: 40px;
	}
	.b-bew-news {
		margin-bottom: 41px;
		border: 1px solid #e0e0e0;
	}
	.b-ads__link {
		display: inline-block;
		margin: 27px 7px 0;
		letter-spacing: 0.01em;
	}
	.b-ads__txt {
		line-height: 20px;
		padding-left: 5px;
		margin-bottom: 24px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
		line-break: strict;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	.link-boc {
		margin: 13px 35px;
		&:before {
			left: -28px;
			top: -10px;
		}
	}
	.item-news__b-more {
		padding: 28px 26px 28px 26px;
	}
	.right-news.item-news {
		margin: 46px 0 0;
		.abs-date {
			top: 17px;
		}
		.item-news__link {
			margin-top: 32px;
			font-size: 23px;
			height: auto;
			font-family: "GaramondPremrPro-MedIt";
		}
	}
	@media (max-width: 1200px) {
		width: 100%;
		float: none;
		margin: 0;
		background: #fff;
		.b-bew-news__item {
			margin-bottom: 0;
		}
		.con-mob {
			width: 50%;
			padding: 15px;
			box-sizing: border-box;
			float: left;
		}
		& > h4 {
			display: none;
		}

		.sidebar-items {
			width: 50%;
			float: left;
			box-sizing: border-box;
			padding: 15px;
			.border-wrapper {
				border: 1px solid #e0e0e0;
			}
		}
		.b-bew-news__item:last-child {
			display: none;
		}
		.b-bew-news {
			margin-bottom: 0;
		}
		.b-bew-news {
			height: 462px;
			height: 100%;
		}
		.lSSlideOuter {
			margin-bottom: 28px;
		}
		.b-bew-news__list {
			margin-bottom: 63px;
		}
		.b-bew-news {
			position: relative;
			padding-bottom: 0px;
			box-sizing: border-box;
		}
		.auto-h {
			position: relative;
			.block-c {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		.auto-h:first-child {
			.item-news__b-more {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
	@media (max-width: 1002px) {
		.b-bew-news__list {
			margin-bottom: 90px;
		}
		.item-news__b-more {
			display: block;
		}
		.b-bew-news {
			height: 100%;
		}
		.item-news__b-more {
			padding: 28px 22px 27px 33px;
		}
		.lSSlideOuter {
			margin-bottom: 16px;
		}
	}
	@media (max-width: 700px) {
		.con-mob {
			display: none;
		}
	}
}
.p-t-zero {
	padding-bottom: 206px;
}
.right-page > h4 {
	padding: 12px 40px 21px 0;
	margin: 0;
	letter-spacing: 0.07em;
}
.extra-row {
	@media (max-width: 1200px) {
		margin-left: -10px;
		margin-right: -10px;
	}
}
* {
	box-sizing: border-box;
}
.resp-hide {
	@media (max-width: 1200px) {
		display: none;
	}
}
.datepicker-here {
	float: left;
}
.datepicker {
	width: 358px;
	height: 446px;
	width: 356px;
	height: 450px;
	@media (max-width: 1200px) {
		width: 100%;
	}
}
.datepicker--cell,
.datepicker--day-name {
	height: 40px;
	width: 45px;
	font-size: 10px;
	text-align: center;
	font-family: "FrutigerNeueLTW1G-Regular";
	flex: initial;
	color: #000;
}
.datepicker--cells-days {
	padding: 0 33px;
}
.datepicker--cell.-current- {
	color: #000;
}
.datepicker--cells {
	padding: 0 15px;
}
.datepicker--cell {
	font-size: 14px;
	font-weight: normal;
}
.dis-b .cont-tab {
	width: 98%;
}
.datepicker--days-names {
	padding: 0 15px;
}
.datepicker--nav {
	height: 130px;
	background: #3e50b4;
	padding: 0 29px;
}
.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
	background: none;
}
.datepicker--nav-title {
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "FrutigerNeueLTW1G-Bold";
	width: 50px;
	display: inline-block;
	margin-top: 45px;
	text-align: center;
	letter-spacing: 0.12em;
	width: auto;
}
.datepicker--nav-title i {
	display: block;
	font-size: 10px;
	margin: 0;
	opacity: 0.5;
	margin-top: 5px;
}
.datepicker--nav-action svg {
	background: url("../img/arr-cal.png");
	background-repeat: no-repeat;
	height: 36px;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
.right-page {
		.datepicker-here {
			float: none;
		}
	}
@media (max-width: 1200px) {
	.right-page {
		.datepicker {
			height: 390px;
			
		}
		.datepicker-here {
			float: left;
		}
	}
}