.adve-wrapper {
    position: relative;
    padding-top: 40px;
    &:before {
        content: '';
        position: absolute;
        top: 47px;
        left: 0;
        width: 58px;
        height: 5px;
        background: #fbaf5d;
    }
}
.daterange-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.adve-block {
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
    .title {
        display: block;
        font-size: 21px;
        font-family: "GaramondPremrPro-Med";
        color: #3e50b4;
        margin-top: 10px;
    }
    .lead {
        font-size: 13px;
        color: #424242;
        font-family: 'FrutigerNeueLTW1G-Book';
        padding-top: 10px;
        line-height: 20px;
    }
}

.adve-links {
    padding-top: 17px;
    a {
        text-transform: uppercase;
        color: #b5b5b5;
        font-size: 11px;
        position: relative;
        display: block;
        padding-left: 30px;
        &:hover {
            text-decoration: underline;
        }
        &:not(:first-child) {
            margin-top: 15px;
        }
        &:nth-child(1):before,
        &:nth-child(2):before {
            left: 0;
            position: absolute;
            content: '';
            display: block;
            width: 12px;
            height: 16px;
        }
        &:nth-child(1):before {
            background: url('../img/gray-docs-1.png') no-repeat center center;
        }
        &:nth-child(2):before {
            background: url('../img/gray-docs-2.png') no-repeat center center;
        }
    }
}

.adve-inner-wrapper {
    p {
        padding-top: 15px;
        font-size: 13px;
        font-family: 'FrutigerNeueLTW1G-Book';
        line-height: 20px;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        color: #5565bc;
    }
    .adve-links a {
        &:nth-child(1):before {
            background: url("../img/docs.png") no-repeat center center;
            background-position: 0 0;
        }
        &:nth-child(2):before {
            background: url("../img/docs.png") no-repeat center center;
            background-position: 0 -27px;
            width: 20px;
        }
    }
    .news-links {
        padding-top: 35px;
    }
}

.ads-inner-other {
    text-align: left;
    width: 345px;
    display: inline-block;
    vertical-align: top;
    .title {
        font-size: 23px;
        font-family: "GaramondPremrPro-MedIt";
        text-transform: none;
        margin-top: 50px;
    }
    &:nth-child(odd) {
        margin-right: 50px;
    }
    .time-date {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .ads-inner-other:nth-child(odd) {
        margin-right: 35px;
    }
}

@media (max-width: 630px) {
    .ads-inner-other:nth-child(odd) {
        margin-right: 0;
    }
}
.pic-lead {
    font-family: "GaramondPremrPro-Med";
    font-size: 16px;
    color: #424242;
    margin: 0;
    position: relative;
    letter-spacing: 0.02em;
}


.photos-wrapper {
    position: relative;
    display: block;
    .counter {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-family: "GaramondPremrPro-SmbdIt";
        font-size: 15px;
        &:before {
            content: '';
            display: inline-block;
            margin-right: 10px;
            width: 16px;
            height: 13px;
            background: url('../img/photo-ico.png') no-repeat center;
        }
    }
}
.pop-tags {
    padding: 30px;
}
.pop-tags a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #3e50b4;
    margin-right: 34px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 10px;
        font-family: 'FrutigerNeueLTW1G-Book';
}

.subscribe-block {
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
 .title {
    font-family: 'FrutigerNextLTW1G-Black';
    text-transform: uppercase;
    color: #424242;
    padding-bottom: 18px;
 }
 a {
    display: inline-block;
    vertical-align: top;
 }
}