.campus {
    &__txt {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        margin-left: -3px;
        &-s {
            font-family: 'FrutigerNeueLTW1G-Book';
            color: #424242;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.02em;
            padding-right: 109px;
            margin-left: -3px;
            margin-top: 20px;
        }
        &_bold {
            font-family: "FrutigerNeueLTW1G-Bold";
            color: #101010;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.02em;
            margin-left: -3px;
            margin-top: 20px;
        }
    }
    &__left-txt {
        float: left;
        width: 66%;
    }
    &__right-txt {
        float: right;
        width: 48%;
        .campus__txt {
            padding-top: 35px;
            margin-left: -4px;
            margin-bottom: 0;
        }
    }
    &__right-img {
        float: right;
        margin: 15px 4px;
    }
    &__bl:nth-child(3) {
        margin-bottom: 49px;
    }
    &__left-img {
        float: left;
        margin: 28px 47px 0px -75px;
    }
    .left-page__title {
            margin-bottom: 47px;
    }

}

.list-dot {
    margin: 3px 0;
    &__item {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #424242;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.03em;
        margin-bottom: 3px;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 3px;
            background: #3e50b4;
            border-radius: 20px;
            margin-right: 8px;
            margin-left: 7px;
        }
    }
}
.slick-dots {
    position: absolute;
    right: 0;
    top: 55px;
    transform: rotate(-90deg);

}
.slick-dots {
    li {
        display: inline-block;
    }
    button {
        font-size: 0;
        outline: none;
        background: none;
        border: 1px solid #cdcdcd;
        width: 9px;
        height: 9px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0;
        cursor: pointer;
        margin: 5px;
    }
    .slick-active {
        button {
            width: 16px;
            height: 16px;
            background: #3e50b4;
            border-radius: 10px;
            border-color: #3e50b4;
        }
    }
}
.st-reviews {
    margin-top: 142px;
    &__title {
        font-family: "GaramondPremrPro-BdIt";
         font-size: 30px;
        letter-spacing: 0.01em;
        color: #101010;
        text-align: left;
        margin-bottom: 44px;
    }
    &__img {
        float: left;
        margin: 2px 0px;
    }
    &__right
    {
        padding-left: 95px;
    }
    &__name {
        font-family: "FrutigerNeueLTW1G-Regular";
        color: #101010;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        margin-bottom: 0;
        &:before{ 
            content: url("../img/feedback.png");
            display: inline-block;
            vertical-align: middle;
            margin-top: 2px;
            margin-right: 15px;
        }
    }
    &__state {
        font-family: "GaramondPremrPro-Med";
        color: #424242;
        font-size: 15px;
        margin: 9px 0px 0;
        letter-spacing: 0.01em;
    }
    &__coll {
        font-family: "GaramondPremrPro-Med";
        color: #3e50b4;
        font-size: 17px;
        margin-top: 12px;
        padding-right: 105px;
    }
    .fotorama__nav-wrap {
        position: absolute;
        top: 50%;
        margin-top: -60px;
    }
    .fotorama__nav {
        text-align: right;
    }
    .fotorama__nav--dots .fotorama__nav__frame {
        display: block;
        padding-right: 40px;
        height: 29px;
        & .fotorama__dot {
           border:1px solid #cdcdcd; 
        }
    }
    .fotorama__nav--dots .fotorama__active {
        width: 25px;
        height: 35px;
        & .fotorama__dot {
           border: none; 
        }
    }
}

.b-ne {
    margin: 0 -15px -10px;
    padding: 23px 0 0;
    &__title {
        font-family: "FrutigerNeueLTW1G-Regular";
        color: #101010;
        font-size: 20px;
        float: left;
        margin: 0;
        letter-spacing: 0.02em;
    }
    .cont-tab
    {
        margin: 0 11px;
        letter-spacing: -0.06em;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .link-news {
        margin-right: 12px;
        letter-spacing: 0.02em;
    }
    .item-news {
        width: 359px;
        margin: 12px 17px 12px 12px;
        &__link {
            padding-left: 26px;
        }
    }
    .item-news__footer {
        padding: 27px 26px 25px;
    }
    .item-news__time:before {
       left: -22px;
    }
}

.form-card{
    background: #fff;
    -webkit-box-shadow: 0 3px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 20px -8px rgba(0,0,0,0.75);
    box-shadow: 0 3px 20px -8px rgba(0,0,0,0.75);
    margin: 62px 2px 10px -3px;
    padding: 0 53px 41px;
    box-sizing: border-box;
    margin-bottom: 110px;
    .selectric .label {
        font-family: "FrutigerNeueLTW1G-Light";
        color: #ababab;
        font-size: 13px;
    }
    &__title {
        font-family: "GaramondPremrPro-BdIt";
        color: #3e50b4;
        font-size: 30px;
        margin: 0;
        padding: 50px 0 0;
        letter-spacing: 0.02em;
        &-s {
            font-family: "FrutigerNeueLTW1G-Bold";
            color: #000000;
            font-size: 15px;
            letter-spacing: 0.03em;
            padding: 39px 0 0;
            margin: 0;
        }
    }
    &__txt {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #757575;
        font-size: 12px;
        letter-spacing: 0.03em;
        margin: 0;
        padding: 14px 0 0;
        line-height: 21px;
    }
    &__input-title {
        font-family: 'FrutigerNeueLTW1G-Book';
        color: #757575;
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        padding: 30px 0 0;
        letter-spacing: 0.02em;
    }
    &__input {
        border: 1px solid #e0e0e0;
        -webkit-box-shadow: inset 1px 3px 20px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 1px 3px 15px -13px rgba(0,0,0,0.75);
        box-shadow: inset 1px 3px 15px -13px rgba(0,0,0,0.75);
        color: #ababab;
        font-family: "FrutigerNeueLTW1G-Light";
        margin-top: 7px;
        padding: 14px;
        width: 300px;
    }   
    &__block {
        width: 50%;
        float: left;
        padding-right: 15px;
        box-sizing: border-box;
        &:nth-child(even) {
            padding-left: 14px;
        }
    }
    &__b {
        padding-bottom: 8px;
    }
    .selectric-wrapper {
        width: 300px;
        margin-top: 7px;
        -webkit-box-shadow: inset 1px 3px 20px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 1px 3px 20px -13px rgba(0,0,0,0.75);
        box-shadow: inset 1px 3px 20px -13px rgba(0,0,0,0.75);
    }
    .selectric {
        padding: 5px 9px;
        letter-spacing: 0.03em;
    }
    .selectric .button {
        width: 53px;
        background: url("../img/select-arrow.png");
        background-repeat: no-repeat;
        background-position: center center;   
    }
    .selectric-open .button {
        background: none;
    }
    &__send {
        margin: 39px 0;
        font-family: "FrutigerNeueLTW1G-Bold";
        border: none;
        color: #fff;
        font-size: 13px;
        background: #3e50b4;
        padding: 17px 47px;
        letter-spacing: 0.01em;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background: #fe9700;
        }
        &:active {
            background: #e48801;
            border-color: #e48801;
        }
    }
}

@media (min-width: 300px) and (max-width: 1200px){  
    .form-card__input, .form-card .selectric-wrapper {
        width: 100%;
    }
    .b-ne {
        text-align: center;
    }
    .b-ne .item-news__link {
        text-align: left;
    }
    .campus__txt, .campus__txt_bold, .campus__right-txt .campus__txt,.campus__txt-s {
        margin-left: 0;
    }
    .form-card {
        margin: 62px 0 10px 0;
    }
    .b-ne {
        margin: 0;
    }
}

@media (min-width: 300px) and (max-width: 1200px){  
    .b-ne .cont-tab {
        width: 85%;
    }

    }
@media (min-width: 300px) and (max-width: 800px){  
.b-ne .item-news {
    width: 45%;
    margin: 12px;
}

}
@media (min-width: 300px) and (max-width: 770px){  
    .campus__left-img {
        float: left;
        margin: 28px 0px 0px 0;
        padding: 10px;
        box-sizing: border-box;
        width: 50%;
    }
    .campus__img {
        width: 100%;
    }
    }

@media (min-width: 300px) and (max-width: 650px){  
    .campus__left-txt, .campus__right-img {
        width: 50%;
    }
    .campus__right-img {
        margin: 15px 0;
        padding: 10px;
        box-sizing: border-box;
        width: 50%;
    }
    .st-reviews__img {
        display: none;
    }
    .st-reviews__right {
        padding: 0;
    }
}

@media (min-width: 300px) and (max-width: 500px){  
        .form-card__block {
            width: 100%;
        }
        .form-card__block:nth-child(even) {
            padding-left: 0px;
        }
        .b-ne .cont-tab {
            width: 100%;
            margin: 0;
        }
        .campus__left-txt, .campus__right-img, .campus__left-img, .campus__right-txt {
            width: 100%;
        }
        .b-ne .item-news{
            width: 100%;
            margin: 0;
        }
        .st-reviews__right {
            padding-left: 0;
        }
        .st-reviews__img {
            float: none;
        }
        .st-reviews__title {
          line-height: 30px;  
        }
        .st-reviews__coll {
            font-size: 15px;
            margin-top: 12px;
            padding-right: 60px;
        } 
        .st-reviews__state {
            font-size: 14px;
        }
        .st-reviews .fotorama__nav--dots .fotorama__nav__frame {
            padding-right: 2px;
        }
        .campus__txt-s {
            padding-right: 0;
        }
        .list-s-st .list-way__txt {
            padding-top: 21px;
        }
        .form-card__send {
            padding: 17px 0;
            width: 100%;
        }
        .form-card {
            padding: 0 35px 41px;
        } 
        .form-card__block {
            padding-right: 0;
        }
    }

@media (min-width: 300px) and (max-width: 350px){ 
    .st-reviews__coll {
            font-size: 15px;
            margin-top: 12px;
            padding-right: 20px;
        } 
}