.contact-list {
	font-size: 0;
	padding-top: 51px;
	&__item {
		display: inline-block;
		width: 50%;
		&-big {
			width: 100%;
		}
	}
	&__item {
		font-family: "GaramondPremrPro-Med";
		font-size: 27px;
		color: #3e50b4;
		padding-bottom: 45px;
	}
	&__title {
		font-family: "FrutigerNeueLTW1G-Light";
		font-size: 13px;
		color: #424242;
		display: block;
		padding-bottom: 11px;
	}
}

.normal-table {
	tr:hover {
		td {
			color: #fff;
			a.normal-table__link {
				color: #fe9700;
			}
		}
		.normal-table__td-title {
			color: #616161;
		}
	}
}

.normal-table__link {
	&:hover {
		text-decoration: underline;
	}
}

.block-but {
	margin: 18px -4px;
	width: 360px;
}

.b-requisites {
	border: 1px solid #e0e0e0;
    background: #ffffff;
    margin-top: 89px;
    margin-left: -2px;
    padding: 11px 35px;
    &__list {
    	margin-top: 29px;
    	margin-bottom: 34px;
    }
	&__title {
		text-transform: uppercase;
		font-family: "GaramondPremrPro-Smbd";
		font-size: 23px; 
		color: #212121;
		letter-spacing: 0.06em;
	}
	&__item {
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 13px;
		color: #424242;
		font-weight: normal;
		margin-bottom: 7px;
		line-height: 20px;
		overflow-wrap: break-word;
	    word-wrap: break-word;
	    word-break: break-all;
	    line-break: strict;
	    -webkit-hyphens: auto;
	    -ms-hyphens: auto;
	    hyphens: auto;
	}
	&__sm-title {
		color: #bdbdbd;
	}
}

.right-page__footer {
	border-top: 1px solid #bdbdbd;
	padding: 23px 28px 44px;
}

.link-download {
	font-family: "FrutigerNeueLTW1G-Regular";
	font-size: 11px;
	color: #3e50b4;
	text-decoration: underline;
	position: relative;
	&:before {
	    content: "";
	    width: 14px;
	    height: 21px;
	    background: url("../img/docs.png");
	    position: absolute;
	    left: -27px;
    	top: 1px;
	}
	&__size {
		color: #97979e;
		text-decoration: none;
		display: block;
    	position: absolute;
    	padding-top: 2px;
	}
}
.link-boc {
	transition: all .3s;
}
.link-boc:hover {
	text-decoration:: underline;
}

.found-stile {
	width: 455px;
	margin-right: 19px;
}

.f-left {
	float: left;
	margin: 13px;
}

.b-table {
	margin-top: 129px;
	margin-left: 8px;
	.personal-select__link {
		padding-right: 8px;
		margin: 0 3px 0 4px;
	}
}
.tabl-style {
	.found-stile {
		margin: 13px;
	}
	.sort-wrap {
		margin-bottom: 0;
	}
}
.map {
	width: 100%;
	height: 460px;
	margin: 15px;
}
.main-title-table {
	font-family: "GaramondPremrPro-BdIt";
	color: #3e50b4;
	font-size: 23px;
	margin: 13px 13px 0;
    letter-spacing: 0.02em;
}

.tabl-style {
	display: none;
}
#tabl1 {
	display: block;
}
.normal-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 40px;
	&__tr {
		border: 1px solid #fff;
	}
	&__td {
		border: 1px solid #fff;
		font-family: "FrutigerNeueLTW1G-Light";
		font-size: 13px;
		color: #616161;
		padding: 20px 23px;
		white-space: nowrap;
		&:first-child {
			white-space: normal;
		}
		&-title {
			background: #e0e0e0;
			font-family: "FrutigerNeueLTW1G-Regular";
			font-size: 10px;
			color: #616161;
			padding: 15px 25px;
		}
		&-big {
			font-family: "FrutigerNeueLTW1G-Bold";
			font-size: 13px;
			color: #000;
			padding: 27px 23px;
		}
	}
	
}

.content-table {
	margin: 13px 18px 13px 13px;
}

.list-per-com {
	margin: 10px 383px 31px 0;
	&__item {
		font-family: "FrutigerNeueLTW1G-Light";
	    font-size: 13px;
	    color: #616161;
	    float: left;
	    width: 388px;
	    padding: 10px 12px 5px 14px;
	    margin-right: 0%;
	    box-sizing: border-box;
		&:before {
			content: "";
			background: url("../img/spt-gray.png");
			width: 16px;
			vertical-align: middle;
		    height: 20px;
		    display: inline-block;
		    margin-right: 18px;
		}
		&-tel {

		}
		&-addres:before {
			background-position: 0 20px;
			    margin-top: -9px;
		}
		&-name:before {
			background-position: 16px 20px;
			    margin-top: -9px;
		}
	}
	&__span {
		font-family: "FrutigerNeueLTW1G-Regular";
		color: #000000;
		font-size: 9px;
		margin-right: 7px;
	}
}

#tabl4 {
	.sort-wrap__select-wrapper {
		
		margin-bottom: 20px;
	}
}
.txt-2 {
	display: none;
}

.tabl-style .sort-wrap__select-wrapper {
	width: 293px;
}
@media (min-width: 300px) and (max-width: 1250px) {
	.map {
		margin: 0;
	}
	.list-per-com__item {
		width: 50%;
	}
	.b-table {
		margin-left: 0;
	}
	.b-table .personal-select__link {
	    margin: 6px 6px;
	}
	.content-table, .main-title-table {
		margin: 0;
	}

}

@media (min-width: 300px) and (max-width: 1024px) {
	.b-requisites, .b-table {
	    margin-top: 0;
	}
	.zer-st {
		margin: 20px 0;
	}
	.block-but .item-news__b-more{
		display: block;
	}
	
}

@media (min-width: 300px) and (max-width: 900px) {
	.normal-table__td {
	    white-space: normal;
	}
	.contact-list {
		width: 100%;
	}
	 .contact-new-st{
		width: 50%;
		float: left;
	}
	.left-st {
		float: left;
	    width: 50%;
	}
	.contact-list__item {
		width: 100%;
	}
	.contact-list {
		padding-top: 45px;
	}
	.contact-list__item {
		padding-bottom: 31px;
	}
	.contact-new-st {
		margin-top: 100px;
	}

}

@media (min-width: 300px) and (max-width: 760px) {
	.normal-table {
	    width: 740px;
	    margin-bottom: 5px;
	}
	.content-table {
		overflow-x: scroll;
	}
}
@media (min-width: 300px) and (max-width: 550px) {
	.left-st ,.contact-new-st{
		width: 100%;
	}
	.contact-new-st {
		margin-top: 30px;
	}
	.block-but {
		float: left;
	}
}
@media (min-width: 300px) and (max-width: 500px) {
	.found-stile {
		width: 100%;
	}
	.contact-list__item, .list-per-com__item {
		width: 100%;
	}
	.f-left {
		margin: 0;
	}
	.block-but {
		width: 100%;
	}
	.block-but .item-news__b-more {
		padding: 26px 0;
	}
	.contact-list, .contact-new-st{
		width: 100%;
		float: left;
	}
	.contact-list__item {
		width: 100%;
	}
	.contact-list {
		padding-top: 68px;
	}
	.contact-list__item {
		padding-bottom: 31px;
	}
	.tabl-style .found-stile,.tabl-style  .sort-wrap__select {
	    margin: 20px 0;
	}
	.tabl-style .sort-wrap__select-wrapper, .tabl-style .sort-wrap__select {
		width: 100%;
	}
	.tabl-style .found-stile {
		width: 100%;
	}
}