
.numb-list {
	padding: 0;
}

.numb-list__item {
	padding: 21px 47px 0px;
	margin: 0;
}

.center-cont-img {
	display: inline-block;
}
.not-f-page {
	&__txt {
		font-family: "GaramondPremrPro-BdIt";
		color: #000000;
		font-size: 13px;
		margin: 83px 16px 10px;
    	letter-spacing: 0.18em;
	}
	.left-page__title {
		color: #3e50b4;
		margin: 21px 16px;
	}
	.found-stile {
		margin-left: 14px;
		width: 540px;
	}
	.sort-wrap__search {
		padding-left: 4.2%;
		border-radius: 0;
	}
	.sort-wrap {
		margin: 0;
	}
	.item-news__b-more {
		padding: 18px 16px 17px;
    	letter-spacing: 0.03em;
	}
	.block-but {
	    margin: 4px 13px 100px;
   		width: 293px;
	}
}

.not-f-s {
	background-image: url("../img/404.png");
	background-size: 100%;
    background-position: center;
    background-color: #324eb9;
    background-repeat: no-repeat;
	.bread-crumbs ul {
		margin: 0;
	}
	.bread-crumbs {
    	padding: 21px 0 0;
	}
	.block-but {
		margin: auto;
    	padding: 455px 0 219px;
	}
	.bread-crumbs__item {
		color: #f7f7f7;
		opacity: 0.9;
	}
	.bread-crumbs__link {
		color: #f7f7f7;
		opacity: 0.9;
	}
	.left-page__title {
		color: #ffffff;
	}
	.not-f-page__txt {
		color: #ffffff;
		margin: 66px 16px 10px;
    	letter-spacing: 0.17em;
	}
	.found-stile {
		width: 290px;
	}
	.item-news__b-more {
		background: #fff;
		color: #3e50b4;
		&:hover {
			background: #fe9700;
    		border-color: #fe9700;
    		color: #fff;
		}
		&:active {
			background: #e48801;
			border-color: #e48801;
    		color: #fff;
		}
	}
}


@media (max-width: 768px) and (min-width: 300px) {
	.not-f-s .block-but {
	    padding: 455px 0 140px;
	}
}

@media (max-width: 1000px) and (min-width: 300px) {
	.not-f-page .item-news__b-more {
	    display: block;
	}
	.not-f-s {
		background-image: url("../img/404.jpg");
	    background-size: contain;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-color: #324eb9;
	}

}

@media (max-width: 600px) and (min-width: 300px) {
	.not-f-page .found-stile {
	    margin-left: 0;
	    width: 100%;
	}
	.not-f-page .block-but {
	    margin: 4px 0 100px;
	    width: 100%;
	}
	.not-f-s .block-but {
    	padding: 255px 0 50px;
    	margin-bottom: 50px
	}

}

@media (max-width: 400px) and (min-width: 300px) {

}

@media (max-width: 500px){
h1 {
    font-size: 38px;
}
.not-f-s .not-f-page__txt {
		margin: 6px 16px 10px;
	}

}
@media (max-width: 1200px){
.right-page .datepicker-here {
	display: block;
	width: 50%;
	padding: 15px;
    box-sizing: border-box;
    float: left;
}
	.right-page	.right-news.item-news {
			display: block;
			margin: 0;
		}
		.right-page .datepicker--days {
			max-width: 300px;
             margin: auto;
		}

		.right-page .datepicker--day-name {
			    width: 37px;
		}
		.right-page .datepicker--days-names {
		    padding: 0px;
		}
		.right-page .item-news__img {
			    max-height: 324px;
		}
		.right-page .datepicker--cell {
			    width: 37px;
			    height: 37px;
		}

}
@media (max-width: 700px){
.right-page .datepicker-here {
	display: none;
}
}

@media (max-width: 700px){
.right-page .datepicker-here {
	display: none;
}
.center-cont-img {
	display: block;
	text-align: center;
}
}

