.edu-table {
    border-collapse: collapse;
}

.table-title {
    text-transform: uppercase;
    font-size: 9px;
    font-family: "FrutigerNeueLTW1G-Light";
    background: #e2e2e2;
    height: 45px;
    border-bottom: 1px solid #f7f7f7;
    td {
        padding-left: 12px;
        letter-spacing: 0.4px;
        border: 1px solid #fff;
        border-top: none;
        border-bottom: none;
    }
}

.col-1 {
    width: 125px;
    max-width: 125px;
    // padding-left: 16px;
    a {
        display: inline-block;
        vertical-align: bottom;
        border: 1px solid #f7f7f7;
        background: url("../img/table-link.png") no-repeat center;
        width: 15px;
        height: 15px;
        padding-bottom: 3px;
        margin-left: 5px;
        position: relative;
        top: -6px;
        right: -8px;
    }
}
@media (max-width:800px) {
    .col-1 a {
        position: inherit;
    }
    .table-responsive {
        overflow: scroll;
    }
    .left-page__title {
        margin-top: 0;
    }
    
}
.fotorama-reviews {
    overflow: hidden;
}
@media (max-width:1200px) {
.datepicker-inline .datepicker {
    width: 100%;
}
}
@media (max-width:480px) {
.b-places {
        display: block;
    }
}
.col-2 {
    width: 400px;
    max-width: 400px;
    // padding-left: 13px;
}

.col-3 {
    width: 120px;
    max-width: 120px;
}

.col-4 {
    width: 110px;
    max-width: 110px;
}

tbody {
    color: #424242;
    tr {
        background: #fff;
        transition: .4s;
        border-bottom: none;
        border: 1px solid #f7f7f7;
        td {
            padding: 20px 0 18px 15px;
        }
    }
    tr:hover {
        transition: .4s;
        background: #3e50b4;
        -webkit-box-shadow: 0px 5px 8px -1px rgba(62, 80, 180, 1);
        -moz-box-shadow: 0px 5px 8px -1px rgba(62, 80, 180, 1);
        box-shadow: 0px 5px 8px -1px rgba(62, 80, 180, 1);
        color: #fff;
        .b-places:before {
            transition: .4s;
            background: url('../img/table-h-ico-1.png') no-repeat;
        }
        .p-places:before {
            transition: .4s;
              background: url('../img/table-h-ico-2.png') no-repeat;
        }
    }
    font-size: 11px;
    font-family: "FrutigerNeueLTW1G-Regular";
    .light {
        font-family: "FrutigerNeueLTW1G-Light";
    }
}

.b-places {
    padding-right: 10px;
}

.b-places:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 9px;
    background: url('../img/table-ico-1.png') no-repeat;
    padding-right: 4px;
    transition: .4s;
}

.p-places:before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 8px;
    background: url('../img/table-ico-2.png') no-repeat;
    padding-right: 4px;
    transition: .4s;
}
