.fac-and-ins {
	margin-top: 53px;
	&__line {
		background: #fe9700;
		width: 40px;
		height: 2px;
		margin-top: 7px;
	}
	&__img {
		float: left;
		margin-top: 6px;
		margin-bottom: 18px;
	}
	&__right {
		float: right;
		width: 554px;
		text-align: left;
	}
	&__title {
		font-family: "GaramondPremrPro-MedIt";
		color: #3e50b4;
		font-size: 27px;
		letter-spacing: 0.05em;
		line-height: 34px;
		transition: all .3s;
		&:hover {
			text-decoration: underline;
		}
	}
	&__item {
	 	margin-top: 33px;
    	padding-bottom: 21px;
	 	border-bottom: 1px solid #e0e0e0;
	}

	&__sec-st {
		     margin-top: -15px;
		.fac-and-ins__right {
			float: left;
		}
		.fac-and-ins__title {
			font-family: "GaramondPremrPro-BdIt";
			letter-spacing: 0.02em;
		}
		.list-car {
		    margin-top: 31px;
		}
	}
}

.list-car {
	margin-top: 28px;
	padding-bottom: 12px;
	&__link {
		font-family: "FrutigerNeueLTW1G-Light"; 
		color: #616161;
		font-size: 13px;
		display: block;
    	margin: 8px 0px;
    	transition: all .3s;
		&:hover {
			text-decoration: underline;
			color: #000000;
		}
	}
}

.style-tabs {
	margin-top: 39px;
	.personal-select__link {
		padding: 7px 16px;
	}
}

.but-b {
	font-family: "FrutigerNeueLTW1G-Bold";
	color: #3e50b4;
	font-size: 13px;
	text-decoration: underline;
	margin-top: 67px;
    display: block;
    letter-spacing: 0.02em;
    transition: all .3s;
    margin-left: 5px;
    &:hover {
    	text-decoration: none;
    }
}
.fac-and-ins {
	display: none;
}

.faculties-inf {
		display: none;
	}
.active {
	display: block;
}


.housing {
	color: #3e50b4 !important;
	text-decoration: underline;
}

.faculties .name-dec {
	font-family: "GaramondPremrPro-BdIt";
	color: #3e50b4;
	font-size: 27px;
	text-transform: none;
	letter-spacing: 0.02em;
    margin: 2px -2px 31px;
}

.cont-title {
	text-transform: uppercase;
    color: #616161;
    font-family: "FrutigerNeueLTW1G-Regular";
    font-size: 10px;
    margin-left: -4px;
}

.faculties {
	margin: 50px 0;
	&-t {
		font-family: 'FrutigerNeueLTW1G-Book';
		color: #424242;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.02em;
		margin: 20px 0px;
		padding: 0 3px;
	}
	.block-but {
	    margin: 29px -1px 0;
	}
	.item-news__b-more {
		width: auto;
    	padding: 17px 56px 19px 54px;
    	letter-spacing: 0.03em;
	}

}

.profile-info .faculties-in {
	padding-top: 8px;
}

.style-person {
	padding-top: 19px;
}

.block-way {
	&__title:first-child {
		padding-top: 19px;
	}
	&__title {
		font-family: "GaramondPremrPro-Smbd";
		font-size: 23px;
		color: #212121;
		text-transform: uppercase;
		margin: 0;
    	padding-top: 55px;
    	letter-spacing: 0.07em;
	}
	&__item {
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 12px;
		margin-bottom: -5px;
		min-height: 54px;
	}
	&__link {
		font-family: "GaramondPremrPro-BdIt";
		color: #3e50b4;
		font-size: 23px;
		padding-left: 73px;
	    position: relative;
	    display: block;
	    margin-top: 30px;
		&-span {
			font-family: "FrutigerNeueLTW1G-Thin";
			font-size: 17px;
			color: #616161;
			position: absolute;
			left: 0;
			top: 4px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__txt {
		font-family: 'FrutigerNeueLTW1G-Book';
		color: #000000;
		font-size: 13px;
		margin: 15px -2px;
    	letter-spacing: 0.04em;
	}
	&__span {
		font-family: "FrutigerNeueLTW1G-Regular";
		color: #616161;
		font-size: 10px;
		text-transform: uppercase;
    	letter-spacing: 0.01em;
	}
}

.list-docs {
	&__item {
		font-family: 'FrutigerNeueLTW1G-Book';
		font-size: 13px;
		color: #b5b5b5;
		padding: 9px 32px;
    	letter-spacing: 0.01em;
	}
	&__link {
		font-family: 'FrutigerNeueLTW1G-Book';
		font-size: 13px;
		color: #424242;
		position: relative;
		&:hover {
			color: #3e50b4;
			text-decoration: underline;
		}
		&:before {
		    content: "";
		    width: 14px;
		    height: 21px;
		    background: url("../img/docs.png");
		    position: absolute;
		    left: -32px;
		}
	}
}


@media (min-width: 300px) and (max-width: 1200px){ 
 .fac-and-ins__right {
	float: left;
    margin-left: 27px;
}
}

@media (max-width: 1000px) and (min-width: 300px) {
	.faculties .item-news__b-more {
	    display: block;
	}
}

@media (min-width: 300px) and (max-width: 765px){ 
		.fac-and-ins__right
		{
			margin-left: 0;
			display: block;
			width: 100%;
		}


		.share__links img {
			display: block;
			width: 100%;
		}

	}

@media (max-width: 400px) and (min-width: 300px) {
	.faculties .block-but {
	    width: 100%;
	}
}