.faq-sidebar-block {
    padding: 35px;
    background: #fff;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
    .title {
        font-size: 23px;
        color: #3e50b4;
        font-family: "GaramondPremrPro-BdIt";
        padding-bottom: 30px;
    }
    .ask-btn {
        background: #3e50b4;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 13px;
        text-align: center;
        color: white;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0;
        transition: .4s;
        &:hover {
            background: #fe9700;
            transition: .4s;
        }
        &:active {
            background: #e48801;
            border-color: #e48801;
            transition: .4s;
        }
    }
}
 .sort-wrap__select .faq-select .selectric .button:before {
    content: none;
}

.faq-select {
    width: 340px;
    margin-top: 30px;
}

.items-outer {
    .item {
        padding-top: 25px;
        line-height: 20px;
    }
}

.que-title {
    color: #3e50b4;
    font-size: 27px;
    font-family: "GaramondPremrPro-BdIt";
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 45px;
        height: 2px;
        background: #fbaf5d;
    }
}

.faq-que-block {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 45px;
    padding-bottom: 65px;
    .list-title {
        font-family: "FrutigerNeueLTW1G-Light";
        font-size: 15px;
        transition: .4s;
        color: #616161;
        letter-spacing: 0.4px;
        &:hover {
            transition: .4s;
            color: #000;
        }
    }
    .item.active {
        .list-title {
            text-decoration: underline;
            color: #3e50b4;
        }
        .list-content:before {
            opacity: 1;
        }
    }
    .list-content {
        background: #fff;
        border-top: 4px solid #3e50b4;
        position: relative;
        margin-top: 15px;
        font-family: "GaramondPremrPro-Med";
        font-size: 19px;
        padding: 20px 32px;
        line-height: 22px;
        p {
            color: #616161;
        }
        &:before {
            content: '';
            position: absolute;
            top: -12px;
            left: 33px;
            background: url('../img/list-content-item.png') no-repeat;
            width: 30px;
            height: 20px;
            opacity: 0;
            display: block;
        }
    }
}

.person {
    position: relative;
    margin-top: 30px;
    .text {
        // position: absolute; 
        // top: 50%;
        // transform: translate(0,-50%);
        // right: 70px;
        padding-top: 15px;
        .name {
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'FrutigerNextLTW1G-Black';
            // font-family: "FrutigerNeueLTW1G-Bold";
            letter-spacing: 0.4px;
        }
        .desc {
            font-size: 15px;
            font-family: "GaramondPremrPro-Med";
            color: #ababab;
            a {
                color: #3e50b4;
            }
        }
    }
}

.rounded-img {
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.new-hide-st .right-page{
    margin-bottom: 50px;
}