.group-schedule{
	overflow: hidden;
	margin: 0 0 -75px;
	@media (max-width: 350px) and (min-width:300px) {
       margin: 0 0 -39px;
    }
	&__preview{
		max-width: 1190px;
		margin: 0 auto;
		padding: 30px 25px 70px;
		font-family: "FrutigerNeueLTW1G-Light";
		color: #424242;
		.b-btn{
			float: left;
			clear: left;
			@media (max-width: 1040px) and (min-width:300px) {
		       margin-top: 30px;
		    }
		}
		@media (max-width: 1040px) and (min-width:300px) {
	       padding-top: 20px;
	       padding-bottom: 60px;
	    }
	    @media (max-width: 768px) and (min-width:300px) {
	       padding-bottom: 30px;
	    }
	}
	&__content{
		background: #eeeeee;
		border-top: 1px solid #e0e0e0;
		padding: 50px 0 70px;
	}
	&__main{
		max-width: 1190px;
		margin: 0 auto;
		padding: 0 25px;
	}
	&__today{
		display: table;
		width: 100%;
		@media (max-width: 768px) and (min-width:300px) {
	       display: block;
	       width: auto;
	       margin-right: -25px;
	    }
	}
	&__today__item{
		display: table-cell;
		vertical-align: top;
		width: 1%;
		padding-right: 30px;
		@media (max-width: 768px) and (min-width:300px) {
	       display: inline-block;
	       margin-bottom: 30px;
	    }
	    @media (max-width: 768px) and (min-width:480px) {
	       width: 49%;
	    }
	    @media (max-width: 480px) and (min-width:300px) {
	       width: 100%;
	    }
	}
	&__today__time{
		font:13px/23px "FrutigerNeueLTW1G-Light";
		letter-spacing: 0.13px;
		color: #424242;
		margin: 0 0 30px;
		.group-schedule__today__item_cur &{
			position: relative;
			padding-bottom: 3px;
			margin-bottom: 27px;
			&:before{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 40px;
				height: 3px;
				background: #fe9700;
				content: '';
			}
		}
	}
	&__today__clock{
		font-family: "FrutigerNeueLTW1G-Bold";
		color: #000;
	}
	&__today__info{
		position: relative;
		margin: 0 0 12px;
	}
	&__today__section{
		position: absolute;
		bottom: 100%;
		left: 0;
		margin: 0;
		font: 9px/13px "FrutigerNeueLTW1G-Regular";
		text-transform: uppercase;
		letter-spacing: 0.1px;
		color: #929292;
	}
	&__today__title{
		font:21px/30px "GaramondPremrPro-Smbd";
		color: #616161;
		margin: 0;
		.group-schedule__today__item_cur &{
			color: #000;
		}
	}
	&__today__teacher{
		font: 13px/21px "FrutigerNeueLTW1G-LightIt";
		letter-spacing: 0.13px;
		color: #424242;
		margin: 0;
	}
	&__today__lecture{
		font: 17px/23px "GaramondPremrPro-Med";
		color: #616161;
		margin: 0 0 10px;
	}
	&__title-wrap{
		display: table;
		width: 100%;
		margin-bottom: 40px;
		@media (max-width: 767px) and (min-width:300px) {
	       margin-bottom: 53px;
	    }
	}
	&__title,
	&__operation{
		display: table-cell;
		vertical-align: middle;
		@media (max-width: 1023px) and (min-width:300px) {
	       display: block;
	    }
	}
	&__title{
		width: 55%;
		padding-right: 5%;
		font: 23px/29px "GaramondPremrPro-BdIt";
		letter-spacing: 0.3px;
		color: #3e50b4;
		@media (max-width: 1023px) and (min-width:300px) {
			width: auto;
			padding-right: 0;
	       	margin: 0 0 10px;
	    }
	}
	&__week{
		margin-right: 5px;
		@media (max-width: 480px) and (min-width:300px) {
	       display: block;
	    }
	}
	&__week_red{
		color: #ed1c24;
	}
	&__operation{
		text-align: right;
		font: 11px/20px "FrutigerNeueLTW1G-Regular";
		color: #616161;
		letter-spacing: 0.11px;
		@media (max-width: 1023px) and (min-width:300px) {
	       text-align: left;
	    }
	}
	&__operation__send,
	&__operation__add{
		cursor: pointer;
		&:hover{
			color: #3e50b4;
		}
		@media (max-width: 480px) and (min-width:300px) {
	       display: block;
	       margin-bottom:10px;
	    }
	}
	&__operation__send{
		padding-left: 23px;
		background: url(../img/ico-letter.png) no-repeat left center;
	}
	&__operation__add{
		margin-left: 60px;
		padding-left: 21px;
		background: url(../img/ico-google.png) no-repeat left center;
		@media (max-width: 480px) and (min-width:300px) {
	       margin-left: 0;
	    }
	}
	&__table{
		position: relative;
		margin: 0 -1px 45px;
		@media (max-width: 1200px) and (min-width:768px) {
	       padding: 0 50px;
	    }
	    .bx-prev, .bx-next{
	    	display: none;
	    	position: absolute;
	    	top: 50%;
	    	margin-top: -26px;
	    	@media (max-width: 1200px) and (min-width:300px) {
		       display: block;
		    }
		    @media (max-width: 767px) and (min-width:300px) {
		       top:-53px;
		       margin-top:0;
		    }
	    }
	    .bx-prev{
	    	left: -11px;
	    	@media (max-width: 767px) and (min-width:300px) {
		       float: left;
		    }
	    }
	    .bx-next{
	    	right: -11px;
	    	@media (max-width: 767px) and (min-width:300px) {
		       float: right;
		    }
	    }
	}
	&__table__title{
		float: left;
		width: 98px;
	}
	&__table__content{
		overflow: hidden;
	}
	&__return-link{
		font:13px/20px "FrutigerNeueLTW1G-Bold";
		color: #3e50b4;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.list_schedule-table-title{
	>.list__item{
		&:first-child{
			.schedule-table-title{
				font:9px/11px "FrutigerNeueLTW1G-Light";
				text-transform: uppercase;
				background: transparent;
			}
		}
	}
}
.schedule-table-title{
	font:11px/16px "FrutigerNeueLTW1G-Bold";
	color: #616161;	
	letter-spacing: 0.11px;
	padding: 10px 10px 10px 20px;
	background: #f7f7f7;
	margin: 2px 1px;
}
.list_schedule-table-content{
	>.list__item{
		float: left;
	}
	@media (max-width: 400px) and (min-width:300px) {
       .bx-clone{
			display: none;
		}
    }
}
.schedule-table-content{
	width: 174px;
	&__item{
		padding: 10px 13px;
		background: #fff;
		margin: 2px 1px;
		&:first-child{
			background: #f7f7f7;
		}
	}
	&__item__title{
		font:17px/23px "FrutigerNeueLTW1G-Light";
		color: #616161;
		letter-spacing: 0.2px;
		text-align: center;
	}
	&__item__name{
		font: 11px/16px "FrutigerNeueLTW1G-Bold";
		color: #424242;
		margin: 0 0 5px;
		letter-spacing: 0.2px;
	}
	&__item__descr{
		font:11px/18px "FrutigerNeueLTW1G-Light";
		color: #424242;
		letter-spacing: 0.2px;
		margin: 0;
	}
}