.content{
	>h1{
		margin-left: 15px;
		margin-right: 15px;
	}
}
.container-thumb-slider{
	position: relative;
	overflow: hidden;
 	z-index: 1;
 	width: 100%;
 	padding-top: 20px;
}
.gallery-slider__thumb-wrap{
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}
.gallery-slider__thumb{
	position: relative;
	margin-bottom: 5px;
	border-bottom: 2px solid #fe9700;
	&:before,
	&:after{
		position: absolute;
		top: 0;
		width: 300%;
		height: 100%;
		border-bottom: 2px solid #fe9700;
		content: '';
		z-index: -1;
	}
	&:before{
		left: -300%;
	}
	&:after{
		right: -300%;
	}
	.bx-viewport{
		overflow: visible!important;
	}
	.bx-clone{
		//display: none;
	}
}
.list_thumb{
	white-space: nowrap;
	>.list__item{
		width: auto!important;
	}
	&__prev,
	&__next{
		position: absolute;
		top: 0;
		z-index: 3;
		width: 53px;
		height: 53px;
	}
	&__prev{
		left: 15px;
	}
	&__next{
		right: 15px;
	}
}
.bx-prev,
.bx-next{
	display: block;
	text-indent: -99999px;
	outline: none;
	width: 53px;
	height: 53px;
	background: url(../img/bg-nav.png) no-repeat;
}
.bx-prev{
	background-position: 0 0;
	&:hover{
		background-position: 0 -53px;
	}
}
.bx-next{
	background-position: 100% -106px;
	&:hover{
		background-position: 100% -159px;
	}
}
.thumb-item{
	position: relative;
	white-space: normal;
	-moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
	&__period{
		position: absolute;
		z-index: -1;
		left: -70px;
		right: 70px;
		top: 0;
		bottom: 0;
		font:188px/108px "GaramondPremrPro-MedIt";
	    color: #eeeeee;
	    @media (max-width: 1200px) and (min-width:300px) {
	       left: 0;
	       right: 0;
	    }
	}
	&__period__text{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
	&__main{
		display: table;
		//width: 100%;
		margin-left: -4px;
		padding-right: 4px;
		@media (max-width: 1200px) and (min-width:300px) {
	       	margin-left: 2px;
	    }
	    @media (max-width: 1023px) and (min-width:300px) {
		    overflow: hidden;
			overflow-x: auto;
			white-space: nowrap;
			-webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
			-webkit-overflow-scrolling: touch;
			&::-webkit-scrollbar{
				display:none;
			}
			&::-ms-scrollbar {
			    display:none;
			}
			&::-moz-scrollbar {
			    display:none;
			}
		}
	}
	&_active{
		color: #202020;
		padding: 0 0 6px;
	}
	&__col{
		position: relative;
		display: table-cell;
		vertical-align: bottom;
		//width: 1%;
		padding-bottom: 24px;
		@media (max-width: 1023px) and (min-width:300px) {
			white-space: normal;
		}
	}
}
.list_period{
    >.list__item{
    	//min-width: 40%;
    	//max-width: 60%;
    	max-width: 280px;
    	cursor: pointer;
		&:hover{
			&:after{
				background: url(../img/bg-marker-active.png) no-repeat;
				z-index: 3;
			}
			.period-item{
				z-index: 1;
				&:before,
				&:after{
					opacity: 1;
				}
			}
		}
		&:after{
			position: absolute;
			left: -2px;
			bottom: -7px;
			width: 13px;
			height: 13px;
			background: url(../img/bg-marker.png) no-repeat;
			content: '';
			z-index: 2;
			-moz-transition: all linear 0.2s;
		    -webkit-transition: all linear 0.2s;
		    transition: all linear 0.2s;
		}
		&.list__item_0-1{
			margin-left: 7px;
			&:after{
				left: 5px;
			}
		}
		&.list__item_0-2{
			margin-left: 14px;
			&:after{
				left: 12px;
			}
		}
		&.list__item_0-3{
			margin-left: 21px;
			&:after{
				left: 19px;
			}
		}
		&.list__item_0-4{
			margin-left: 28px;
			&:after{
				left: 26px;
			}
		}
		&.list__item_0-5{
			margin-left: 35px;
			&:after{
				left: 33px;
			}
		}
		&.list__item_0-6{
			margin-left: 42px;
			&:after{
				left: 40px;
			}
		}
		&.list__item_0-7{
			margin-left: 49px;
			&:after{
				left: 47px;
			}
		}
		&.list__item_0-8{
			margin-left: 56px;
			&:after{
				left: 54px;
			}
		}
		&.list__item_0-9{
			margin-left: 63px;
			&:after{
				left: 61px;
			}
		}
		&.list__item_0-10{
			margin-left: 70px;
			&:after{
				left: 68px;
			}
		}
		&.list__item_0-11{
			margin-left: 77px;
			&:after{
				left: 75px;
			}
		}
		&.list__item_1-0{
			margin-left: 84px;
			&:after{
				left: 82px;
			}
		}
		&.list__item_1-1{
			margin-left: 91px;
			&:after{
				left: 89px;
			}
		}
		&.list__item_1-2{
			margin-left: 98px;
			&:after{
				left: 96px;
			}
		}
		&.list__item_1-3{
			margin-left: 105px;
			&:after{
				left: 103px;
			}
		}
		&.list__item_1-4{
			margin-left: 112px;
			&:after{
				left: 110px;
			}
		}
		&.list__item_1-5{
			margin-left: 119px;
			&:after{
				left: 117px;
			}
		}
		&.list__item_1-6{
			margin-left: 126px;
			&:after{
				left: 124px;
			}
		}
		&.list__item_1-7{
			margin-left: 133px;
			&:after{
				left: 131px;
			}
		}
		&.list__item_1-8{
			margin-left: 140px;
			&:after{
				left: 138px;
			}
		}
		&.list__item_1-9{
			margin-left: 147px;
			&:after{
				left: 145px;
			}
		}
		&.list__item_1-10{
			margin-left: 154px;
			&:after{
				left: 152px;
			}
		}
		&.list__item_1-11{
			margin-left: 161px;
			&:after{
				left: 159px;
			}
		}
		&.list__item_2-0{
			margin-left: 168px;
			&:after{
				left: 166px;
			}
		}
		&.list__item_2-1{
			margin-left: 175px;
			&:after{
				left: 173px;
			}
		}
		&.list__item_2-2{
			margin-left: 182px;
			&:after{
				left: 180px;
			}
		}
		&.list__item_2-3{
			margin-left: 189px;
			&:after{
				left: 187px;
			}
		}
		&.list__item_2-4{
			margin-left: 196px;
			&:after{
				left: 194px;
			}
		}
		&.list__item_2-5{
			margin-left: 203px;
			&:after{
				left: 201px;
			}
		}
		&.list__item_2-6{
			margin-left: 210px;
			&:after{
				left: 208px;
			}
		}
		&.list__item_2-7{
			margin-left: 217px;
			&:after{
				left: 215px;
			}
		}
		&.list__item_2-8{
			margin-left: 224px;
			&:after{
				left: 222px;
			}
		}
		&.list__item_2-9{
			margin-left: 231px;
			&:after{
				left: 229px;
			}
		}
		&.list__item_2-10{
			margin-left: 238px;
			&:after{
				left: 236px;
			}
		}
		&.list__item_2-11{
			margin-left: 245px;
			&:after{
				left: 243px;
			}
		}
		&.list__item_3-0{
			margin-left: 252px;
			&:after{
				left: 250px;
			}
		}
		&.list__item_3-1{
			margin-left: 259px;
			&:after{
				left: 257px;
			}
		}
		&.list__item_3-2{
			margin-left: 266px;
			&:after{
				left: 264px;
			}
		}
		&.list__item_3-3{
			margin-left: 273px;
			&:after{
				left: 271px;
			}
		}
		&.list__item_3-4{
			margin-left: 280px;
			&:after{
				left: 278px;
			}
		}
		&.list__item_3-5{
			margin-left: 287px;
			&:after{
				left: 285px;
			}
		}
		&.list__item_3-6{
			margin-left: 294px;
			&:after{
				left: 292px;
			}
		}
		&.list__item_3-7{
			margin-left: 301px;
			&:after{
				left: 299px;
			}
		}
		&.list__item_3-8{
			margin-left: 308px;
			&:after{
				left: 306px;
			}
		}
		&.list__item_3-9{
			margin-left: 315px;
			&:after{
				left: 313px;
			}
		}
		&.list__item_3-10{
			margin-left: 322px;
			&:after{
				left: 320px;
			}
		}
		&.list__item_3-11{
			margin-left: 329px;
			&:after{
				left: 327px;
			}
		}
		&.list__item_4-0{
			margin-left: 336px;
			&:after{
				left: 334px;
			}
		}
		&.list__item_4-1{
			margin-left: 343px;
			&:after{
				left: 341px;
			}
		}
		&.list__item_4-2{
			margin-left: 350px;
			&:after{
				left: 348px;
			}
		}
		&.list__item_4-3{
			margin-left: 357px;
			&:after{
				left: 355px;
			}
		}
		&.list__item_4-4{
			margin-left: 364px;
			&:after{
				left: 362px;
			}
		}
		&.list__item_4-5{
			margin-left: 371px;
			&:after{
				left: 369px;
			}
		}
		&.list__item_4-6{
			margin-left: 378px;
			&:after{
				left: 376px;
			}
		}
		&.list__item_4-7{
			margin-left: 385px;
			&:after{
				left: 383px;
			}
		}
		&.list__item_4-8{
			margin-left: 392px;
			&:after{
				left: 390px;
			}
		}
		&.list__item_4-9{
			margin-left: 399px;
			&:after{
				left: 397px;
			}
		}
		&.list__item_4-10{
			margin-left: 406px;
			&:after{
				left: 404px;
			}
		}
		&.list__item_4-11{
			margin-left: 413px;
			&:after{
				left: 411px;
			}
		}
		&.list__item_5-0{
			margin-left: 420px;
			&:after{
				left: 418px;
			}
		}
	}
}
.period-item{
	position: relative;
	padding: 15px 0 18px;
	&:before{
		position: absolute;
		top: 0;
		right: -25px;
		bottom: 0;
		left: -25px;
		background: #fff;
		border-bottom: 3px solid #fe9700;
		box-shadow:0 3px 15px rgba(0,0,0,0.15);
		content: '';
		z-index: -1;
		opacity: 0;
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
	}
	&:after{
		position: absolute;
		top: 100%;
		margin-top: -7px;
		left: -1px;
		width: 11px;
		height: 2000px;
		background: url(../img/bg-line.png) top center;
		content: '';
		z-index: 0;
		opacity: 0;
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
	}
	&__date{
		display: block;
		font: 10px/20px "FrutigerNeueLTW1G-Regular";
		color: #616161;
		letter-spacing: 0.1px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	&__title{
		font: 21px/23px "GaramondPremrPro-BdIt";
		color: #3e50b4;
		letter-spacing: 0.21px;
		margin: 0;
	}
}
.list_thumb-nav{
	position: relative;
	z-index: 1;
	background: #f7f7f7;
	padding-top: 38px!important;
	text-align: center;
	&:before,
	&:after{
		position: absolute;
		top: 0;
		width: 300%;
		height: 100%;
		background: inherit;
		content: '';
		z-index: -1;
	}
	&:before{
		left: -300%;
	}
	&:after{
		right: -300%;
	}
	@media (max-width: 1023px) and (min-width:300px) {
       	&:before,
		&:after{
			display: none;
		}
    }
}
.thumb-item-nav{
	position: relative;
	display: block;
	padding: 6px 15px 4px;
	border-radius: 5px;
	font: 17px/20px "GaramondPremrPro-BdIt";
	color: #6a6a6a;
	letter-spacing: 0.17px;
	margin: 0 1px 10px;
	-moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
	&:before{
		position: absolute;
		top: -6px;
		left: 50%;
		margin-left: -5px;
		border-bottom: 6px solid #3e50b4;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		opacity: 0;
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
	    content:'';
	}
	&:hover,
	&.active{
		background: #3e50b4;
		color: #fff;
		&:before{
			opacity: 1;
		}
	}
	&:active {
		background: #35459d;
		border-color: #35459d;
		color: #fff;
		&:before {
			border-bottom: 6px solid #3e50b4;
		}
	}
}
.gallery-slider__preview{
	position: relative;
	overflow: hidden;
	background: #f7f7f7;
	padding: 60px 10px 0;
	@media (max-width: 768px) and (min-width:300px) {
       padding-top: 40px;
    }
}
.gallery-slider-item{
	position: relative;
	max-width: 1260px;
	margin: 0 auto;
	z-index: 0;
	opacity: 0;
	-moz-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
	&_animate{
		opacity: 1;
	}
	.bx-controls{
		text-align: center;
	}
	.bx-controls-direction{
		display: inline-block;
	}
	.bx-prev,
	.bx-next{
		display: inline-block;
		vertical-align: middle;
		text-indent: 0;
		color: #616161;
		font: 11px/53px "FrutigerNeueLTW1G-Regular";
		width: auto;
		-moz-transition: all color 0.2s;
	    -webkit-transition: all color 0.2s;
	    transition: all color 0.2s;
		&:hover{
			color: #3e50b4;
		}
		@media (max-width: 480px) and (min-width:300px) {
	       	width:53px;
	       	text-indent:-99999px;
	    }
	}
	.bx-prev{
		position: relative;
		padding-left: 75px;
		padding-right: 100px;
		&:after{
			position: absolute;
			top: 3px;
			right: 27px;
			width: 46px;
			height: 46px;
			background: url(../img/bg-separator.png) no-repeat;
			content: '';
		}
	}
	.bx-next{
		padding-right: 75px;
	}
}
.i-hide{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
}
.gallery-slider{
	width: 100%;
    margin: 0;
    padding: 0;
    &__item {
	    position: relative;
	    float: left;
	    width: 100%!important;
	    margin: 0;
	    padding: 0;
	}
	&__item__date{
		display: table;
		width: 100%;
		margin:0 0 15px;
	}
	&__item__main{
		overflow: hidden;
		margin: 0 60px;
		@media (max-width: 1023px) and (min-width:300px) {
	       	margin: 0;
	    }
	}
	&__item__main__left{
		float: left;
		width: 42.544%;
		@media (max-width: 768px) and (min-width:300px) {
	       	float: none;
	       	width: auto;
	    }
	}
	&__item__main__right{
		float: right;
		width: 51.85%;
		@media (max-width: 768px) and (min-width:300px) {
	       	float: none;
	       	width: auto;
	    }
	}
	&__item__descr{
		width: 80%;
		font:13px/20px 'FrutigerNeueLTW1G-Book';
		color: #424242;
		letter-spacing: 0.13px;
		margin: 35px 0 50px;
		>p{
			margin: 0 0 20px;
		}
		.gallery-slider__item__main__left &{
			margin-left: 13%;
			@media (max-width: 768px) and (min-width:300px) {
		       	margin-left: 0;
		    }
		}
		.gallery-slider__item__main__right &{
			width: 75%;
			@media (max-width: 768px) and (min-width:300px) {
		       	width: 100%;
		    }
		}
		@media (max-width: 768px) and (min-width:300px) {
	       	width: 100%;
	       	margin:20px 0;
	    }
	}
	&__item__date-cur,
	&__item__date-next,
	&__item__date-prev{
		display: table-cell;
		vertical-align: middle;
	}
	&__item__date-next,
	&__item__date-prev{
		position: relative;
		width: 31%;
		font: 19px/23px "GaramondPremrPro-BdIt";
		color: #3e50b4;
		letter-spacing: 0.19px;
		span{
			background: #f7f7f7;
			padding-right: 30px;
			&:before{
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background: #3e50b4;
	    		z-index: -1;
			}
			@media (max-width: 768px) and (min-width:300px) {
		       padding-right: 15px;
		    }
		}
		@media (max-width: 768px) and (min-width:300px) {
			width:24%;
	       	font-size: 15px;
	       	line-height: 21px;
	    }
	}
	&__item__date-next{
		text-align: right;
		span{
			padding-left: 30px;
			padding-right: 0;
			@media (max-width: 768px) and (min-width:300px) {
		       padding-right: 0;
		       padding-left: 15px;
		    }
		}
	}
	&__item__date-cur{
		font:56px/56px "GaramondPremrPro-BdIt";
		color: #000;
		letter-spacing: 0.56px;
		text-align: center;
		@media (max-width: 768px) and (min-width:300px) {
	       font-size: 30px;
	       line-height: 42px;
	    }
	}
}
.pic-wrap{
	margin: 35px 0 35px;
	&_row{
		margin-right: -25px;
		@media (max-width: 480px) and (min-width:300px) {
	       	margin-right: 0;
	    }
	}
	&_right{
		float: right;
		margin-left: 25px;
	}
	&__img{
		display: inline-block;
		.pic-wrap_row &{
			display: table-cell;
			vertical-align: top;
			padding-right: 25px;
			@media (max-width: 480px) and (min-width:300px) {
		       	display: inline-block;
		       	padding-right: 0;
		    }
		}
	}
	img{
		display: block;
		max-width: 100%;
		margin-bottom: 25px;
	}
	&__caption{
		position: relative;
		display: block;
		width: 66.2%;
		padding-left: 30px;
		font: 17px/19px "GaramondPremrPro-It";
		color: #7b7b83;
		margin: 0 0 25px;
		text-align:left;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 22px;
			background: #fe9700;
			content: '';
		}
		.gallery-slider__item__main__left &{
			float: right;
			text-align: right;
			padding-right: 30px;
			padding-left: 0;
			&:before{
				left: 100%;
				margin-left: -2px;
			}
			@media (max-width: 768px) and (min-width:300px) {
		       	padding-left: 0;
		       	padding-right: 15px;
		    }
		}
		.pic-wrap_row &{
			width: 100%;
			max-width: 260px;
			@media (max-width: 768px) and (min-width:300px) {
		       	max-width:100%;
		    }
		}
		@media (max-width: 768px) and (min-width:300px) {
	       	width:100%;
	       	padding-left: 15px;
	    }
	}
	@media (max-width: 768px) and (min-width:300px) {
       	text-align:center;
       	margin: 30px 0;
    }
}
/* @end */