li {
	list-style-type: none;
}
ul {
	padding: 0;
}
a {
	text-decoration: none;
}
h2 {
	color: #424242;
	font-family: "GaramondPremrPro-MedIt";
	font-size: 49px;
	text-align: center;
	margin: 0;
	font-weight: normal;
	line-height: 43px;
}
h1 {
	font-family: "GaramondPremrPro-BdIt";
	color: #101010;
	font-size: 46px;
	margin: 11px 0;
	line-height: 54px;
	letter-spacing: 0.017em;
}
h4 {
	font-family: "GaramondPremrPro-Smbd";
	color: #212121;
	font-size: 23px;
	text-transform: uppercase;
}
select:focus {
	outline: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.content {
	width: 1170px;
	margin: auto;
}
.header {
	background: #f7f7f7;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
	box-sizing: border-box;
}
.logo-top {
	width: 285px;
	float: left;
	&__txt {
		font-family: "SchoolBookC";
		color: #3e50b4;
		font-size: 22px;
		line-height: 26px;
		margin: 2px 0 4px 97px;
	}
	&__img {
		float: left;
	}
}
input[type='number'] {
	-moz-appearance: textfield;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.b-center-head {
	display: inline-block;
	margin-left: 108px;
	&__txt {
		font-family: "FrutigerNeueLTW1G-Regular";
		color: #757575;
		font-size: 10px;
		margin-top: 12px;
		letter-spacing: 0.015em;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 67px;
	}
	&__tel {
		font-family: "FrutigerNeueLTW1G-Bold";
		font-size: 14px;
		color: #101010;
		margin-bottom: -1px;
		display: block;
		&:hover {
			opacity: 0.7;
		}
	}
	&__list {
		margin-top: 11px;
		margin-bottom: 0;
	}
	&__link {
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 12px;
		color: #3e50b4;
		margin-left: 9px;
	}
}
.b-right-header {
	float: right;
	margin-top: 22px;
}
.b-nav-menu {
	border-bottom: 1px solid #e0e0e0;
	&__item {
		display: inline-block;
		&:last-child .b-nav-menu__link {
			padding-right: 0;
		}
	}
	&__link {
		display: inline-block;
		padding: 17px 23px;
		font-family: "FrutigerNeueLTW1G-Bold";
		font-size: 11px;
		text-transform: uppercase;
		color: #101010;
		letter-spacing: 0.1em;
		&:hover {
			color: #3e50b4;
		}
	}
}

.select {
	background: none;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('../img/arr-sel.png');
	background-position: right center;
	background-repeat: no-repeat;
	width: 34px;
	display: inline-block;
	font-family: "FrutigerNeueLTW1G-Regular";
	color: #424242;
	font-size: 13px;
	margin: 0 18px;
}
.icon-list {
	display: inline-block;
	&__item {
		display: inline-block;
		margin-left: 10px;
		margin-left: -3px;
		margin-right: 15px;
	}
	&__link {
		background-image: url('../img/icon.png');
		width: 16px;
		height: 14px;
		display: inline-block;
		&:hover {
			opacity: 0.7;
		}
	}
	&__link-1 {
		background-position: -5px 0;
	}
	&__link-2 {
		background-position: 50px 0;
	}
	&__link-3 {
		background-position: 110px -1px;
		height: 14px;
		vertical-align: top;
	}
	.active-close {
		background: url("../img/close.png") no-repeat center;
		height: 14px;
    	width: 16px;
	}
}
.text-slider {
	font-family: "GaramondPremrPro-MedIt";
	font-size: 49px;
	color: #ffffff;
	margin-top: 141px;
	margin-left: 108px;
	letter-spacing: 0.01em;
}
.but-link {
	font-family: "FrutigerNeueLTW1G-Bold";
	font-size: 13px;
	width: 261px;
	border: 1px solid #e0e0e0;
	display: inline-block;
	padding: 16px 0;
	text-align: center;
	color: white;
	margin-left: 109px;
}
.grey-b {
	background: #f7f7f7;
	padding: 75px 0;
}
.b-tab {
	margin: 0;
	font-size: 0;
	display: inline-block;
	&__item {
		display: inline-block;
	}
	&__link {
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 20px;
		color: #757575;
		padding-bottom: 15px;
		display: inline-block;
		margin-right: 35px;
		box-sizing: border-box;
		margin-bottom: -1px;
		border: none;
		&.is-active {
			color: #101010;
			border-bottom: 3px solid #3e50b4;
		}
	}
}
.cont-tab {
	border-bottom: 1px solid #e0e0e0;
	margin: 0 14px;
	width: 748px;
	display: inline-block;
}
.link-news {
	font-family: "FrutigerNeueLTW1G-Regular";
	font-size: 14px;
	color: #3e50b4;
	float: right;
	margin-top: 4px;
	margin-right: 20px;
	letter-spacing: 0.03em;
	position: relative;
	&:after {
		content: url("../img/arr-r.png");
		position: absolute;
		right: -14px;
		top: 2px;
	}
}
.hide-m-b .link-news {
	margin-top: 19px;
}
.b-labes {
	display: inline-block;
	margin-top: 30px;
	font-size: 0;
	margin-bottom: 37px;
	&__item {
		display: inline-block;
	}
	&__link {
		background: white;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-radius: 1px;
		text-transform: uppercase;
		font-family: "FrutigerNeueLTW1G-Bold";
		font-size: 10px;
		color: #616161;
		display: inline-block;
		padding: 7px 8px;
		margin-left: 14px;
		margin-right: 12px;
		letter-spacing: 0.02em;
		&-active {
			color: #ffffff;
			border: 1px solid #3e50b4;
			background: #3e50b4;
		}
	}
}
.item-news__img,
.item-news__link,
.some-hov-txt {
	transition: all 0.3s;
}
.item-news {
	font-size: 0;
	border: 1px solid #e0e0e0;
	background: #fff;
	width: 365px;
	height: 456px;
	margin: 12px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	a:hover {
		.item-news__link {
			word-wrap: break-word;
			margin-top: -72px;
			z-index: 2;
			position: relative;
			background: #fff;
		}
		.item-news__link {
			text-decoration: underline;
		}
	}
	&__big {
		width: 752px;
		margin: 11px;
		.item-news__time {
			font-family: "GaramondPremrPro-MedIt";
		}
	}
	&__img {
		width: 100%;
		height: 237px;
	}
	&__right {
		margin-top: -216px;
		height: auto;
		margin-left: 18px;
		width: 362px;
		.item-news__link {
			height: auto;
			margin: 25px 0;
			padding-left: 36px;
			letter-spacing: 0.09em;
			padding-top: 0;
			line-height: 26px;
			font-family: "GaramondPremrPro-MedIt";
		}
		.item-news__txt {
			height: 310px;
    		margin-bottom: 39px;
			margin-top: 0;
			padding-left: 34px;
		}
	}
	&__title {
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 23px;
		color: #212121;
		text-transform: uppercase;
	}
	&__txt-big {
		width: 50%;
	}
	&__txt {
		font-family: 'FrutigerNeueLTW1G-Book';
		font-size: 13px;
		color: #424242;
		padding: 0 15px;
		box-sizing: border-box;
		margin-top: 30px;
		height: 100px;
		display: inline-block;
		text-overflow: ellipsis;
		line-height: 20px;
		margin-bottom: 20px;
		letter-spacing: 0.01em;
		overflow: hidden;
	}
	&__link {
		font-family: "GaramondPremrPro-Med";
		font-size: 20px;
		color: #3e50b4;
		padding-left: 30px;
		padding-right: 10px;
		box-sizing: border-box;
		margin-top: 25px;
		line-height: 24px;
		padding-top: 20px;
		height: 90px;
		display: inline-block;
		text-overflow: ellipsis;
		vertical-align: top;
		margin-bottom: 0;
		letter-spacing: 0.01em;
		transition: all 0.3s;
		overflow: hidden;
		&:hover {
			text-decoration: underline;
		}
	}
	&__footer {
		padding: 27px 30px 25px;
		border-top: 1px solid #e0e0e0;
	}
	&__type {
		font-family: "FrutigerNeueLTW1G-Black";
		font-size: 10px;
		text-transform: uppercase;
		color: #101010;
		float: left;
		margin: 0;
		letter-spacing: 0.1em;
		font-weight: bold;
	}
	&__title {
		text-transform: uppercase;
		font-family: "GaramondPremrPro-Med";
		padding-left: 33px;
		margin-top: 32px;
		letter-spacing: 0.08em;
	}
	&__time {
		font-family: "GaramondPremrPro-Med";
		font-size: 12px;
		float: right;
		color: #b5b5b5;
		margin: 0;
		position: relative;
		letter-spacing: 0.02em;
		&:before {
			content: url("../img/time.png");
			position: absolute;
			left: -25px;
			top: 1px;
		}
	}
	&__b-more {
		background: #3e50b4;
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 13px;
		text-align: center;
		color: white;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		padding: 26px 30px;
	}
}
.item-news__big {
	.item-news__img {
		width: inherit;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		margin: auto;
		display: block;
		transform: translateX(-50%);
	}
}
.item-news__right {
	.item-news__img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		margin: 0;
		display: block;
		transform: translateX(-50%);
	}
}
.item-news__img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	margin: 0;
	display: block;
	transform: translateX(-50%);
}
.item-news__co {
	position: relative;
	height: 237px;
	overflow: hidden;
}
.selectric-items {
	top: 99%;
}
.abs-date {
	position: absolute;
	top: 9px;
	left: 30px;
	font-family: "GaramondPremrPro-MedIt";
	font-size: 61px;
	display: block;
	color: #ffffff;
	&__mun {
		font-size: 23px;
		display: block;
		margin-top: -19px;
	}
}
.list-way-sec__txt {
	color: #3e50b4;
}
.paginator {
	text-align: center;
	font-size: 0;
	margin-top: 17px;
	height: 16px;
	margin-right: 15px;
	&__link {
		width: 9px;
		height: 9px;
		border: 1px solid #d2d2d2;
		background: white;
		display: inline-block;
		vertical-align: middle;
		border-radius: 10px;
		margin: 0 10px;
		transition: all 0.3s;
		&-active {
			width: 16px;
			height: 16px;
			background: #3e50b4;
			border-color: #3e50b4;
		}
	}
	&__item {
		display: inline-block;
	}
}
.fotorama_1 .fotorama__nav-wrap {
	position: absolute;
	bottom: 0;
	width: 1170px;
	left: 50%;
	margin-left: -585px;
	padding-bottom: 10px;
	padding-left: 102px;
}
.fotorama__nav--dots .fotorama__nav__frame {
	display: inline-block;
	vertical-align: super;
	margin: 5px;
}
.fotorama_1 .fotorama__nav {
	text-align: left;
}
.fotorama__nav--dots .fotorama__active .fotorama__dot {
	width: 16px;
	height: 16px;
	background: #3e50b4;
	border-radius: 10px;
	border-color: #3e50b4;
	margin: 5px;
}
.fotorama__nav--dots .fotorama__dot {
	width: 9px;
	height: 9px;
	border: none;
	border: 1px solid #cdcdcd;
	background: white;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
	margin: 0 10px;
	position: initial;
}
.list-way {
	counter-reset: item;
	margin-top: 130px;
	&__item {
		width: 155px;
		display: inline-block;
		vertical-align: top;
		margin: 0 67px;
		position: relative;
		&:first-child {
			margin-left: 27px;
		}
		&:after {
			content: url("../img/arrow-right.png");
			position: absolute;
			top: -7px;
			right: -82px;
		}
		&:last-child:after {
			content: none;
		}
	}
	&__txt {
		display: block;
		color: #424242;
		font-family: "FrutigerNeueLTW1G-Book";
		font-size: 13px;
		margin: 0;
		padding-top: 70px;
		padding-left: 0;
		position: relative;
		letter-spacing: 0.01em;
		line-height: 20px;
		&:before {
			content: "";
			position: absolute;
			top: -63px;
			right: 17px;
			width: 100px;
			height: 110px;
		}
		&-1:before {
			background: url("../img/step_1.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		&-2:before {
			background: url("../img/step_2.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		&-3:before {
			background: url("../img/step_3.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		&-4:before {
			background: url("../img/step_4.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
.item-news__list {
	font-size: 0;
	margin-top: 5px;
}
.list-way li:before {
	content: "";
	counter-increment: item;
	color: #ffffff;
	font-family: "GaramondPremrPro-MedIt";
	font-size: 237px;
	display: inline-block;
	vertical-align: top;
	line-height: 0;
}
.list-way .list-way__item {
	&-1:before {
		content: "1";
	}
	&-2:before {
		content: "2";
	}
	&-3:before {
		content: "3";
	}
	&-4:before {
		content: "4";
	}
}
.dark-gray {
	background: #e6e6e6;
	padding: 60px 0;
}
.border-co {
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	padding: 24px 19px;
}
.form-send {
	background: #ffffff;
	margin: 85px 16px 20px;
	padding: 49px 69px 19px 63px;
	font-size: 0;
	&__block {
		display: inline-block;
		vertical-align: top;
		padding: 30px 13px;
	}
	&__input {
		border: none;
		display: inline-block;
		border-bottom: 1px solid #e0e0e0;
		font-size: 13px;
		font-family: "FrutigerNeueLTW1G-Bold";
		width: 100%;
		outline: none;
		&:focus {
			border-bottom: 1px solid #3e50b4;
		}
	}
}
.form-send__block {
	width: 25%;
	&:nth-child(2) {
		padding: 30px 21px 13px 0;
	}
	&:last-child {
		padding: 30px 0 31px 23px;
	}
}
.form-select {
	width: 100%;
	padding: 29px 20px 28px;
	cursor: pointer;
	font-size: 13px;
	font-family: "FrutigerNeueLTW1G-Bold";
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('../img/arr-sel.png');
	background-position: 98% center;
	background-repeat: no-repeat;
	border: 1px solid #e0e0e0;
}
.send-b__block {
	padding: 7px;
}
.send-b {
	font-size: 13px;
	font-family: "FrutigerNeueLTW1G-Bold";
	border: none;
	background: none;
	width: 100%;
	text-align: center;
	padding: 19px;
	display: inline-block;
	cursor: pointer;
}
.send-b__block:hover {
	background: #fe9700;
	border-color: #fe9700;
	transition: all 0.3s;
	& .send-b {
		color: #fff;
	}
}
.send-b__block:active {
	background: #e48801;
	border-color: #e48801;
	transition: all 0.3s;
	& .send-b {
		color: #fff;
	}
}
.next {
	-ms-transform: rotate(180deg);
	/* IE 9 */
	-webkit-transform: rotate(180deg);
	/* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
.datepicker--cell.-focus-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
	background: #ffffff;
	color: #000;
}
.datepicker--cell.-current-,
.datepicker--cell.-current-.-focus- {
	background: #3e50b4;
	color: #fff;
	border-radius: 100px;
}
.conteiner-txt {
	width: 748px;
	margin: 15px;
	float: left;
	&__p {
		width: 50%;
		float: left;
		text-align: justify;
		color: #424242;
		font-size: 13px;
		overflow-wrap: break-word;
		/* не поддерживает IE, Firefox; является копией word-wrap */
		word-wrap: break-word;
		word-break: break-all;
		/* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
		line-break: strict;
		/* нет поддержки для русского языка */
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		/* значение auto не поддерживается Chrome */
		padding: 15px 0;
		box-sizing: border-box;
		margin: 0;
		letter-spacing: 0.01em;
		line-height: 19px;
		padding-right: 30px;
		&-2 {
			padding-left: 10px;
		}
	}
}
.mar-tu {
	font-family: "GaramondPremrPro-Med";
	color: #3e50b4;
	font-size: 23px;
	text-align: center;
	display: block;
	margin-bottom: 29px;
	margin-top: 51px;
}
.rel-b {
	position: relative;
}
.wrap-search.active-search .search-for {
	outline: none;
}
.move-but {
	background: url("../img/mouse.png");
	width: 30px;
	height: 42px;
	display: inline-block;
	position: absolute;
	bottom: 96px;
	left: 50%;
	margin-left: -20px;
	&:before {
		left: 10px;
		content: url("../img/arrow.png");
		-webkit-animation: mymove 1s infinite;
		/* Chrome, Safari, Opera */
		-webkit-animation-timing-function: linear;
		/* Chrome, Safari, Opera */
		animation: mymove 1s infinite;
		animation-timing-function: linear;
		position: absolute;
	}
}
.b-right-header .select-lang, .b-right-header .select-lang-dropdown li a{
	text-transform: uppercase;
	font-family: 'FrutigerNextLTW1G-Bold';
	color: #424242;
}
.b-right-header .select-lang {
	color: #3e50b4;
}

.conteiner-txt .link-news {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	color: #3e50b4;
}
@-webkit-keyframes mymove {
	from {
		top: 50px;
	}
	to {
		top: 55px;
	}
}
@keyframes mymove {
	from {
		top: 50px;
	}
	to {
		top: 55px;
	}
}
.some-hov-txt {
	display: none;
	color: #424242;
	font-size: 13px;
	font-family: "FrutigerNeueLTW1G-Regular";
	margin: 0;
	height: 45px;
	padding-left: 30px;
	padding-right: 10px;
	// display: none;
	margin-top: 10px;
}
.item-news a:hover .some-hov-txt {
	display: block;
}
.ov-h {
	overflow: hidden;
	height: 386px;
}
.blou-b {
	background: #3e50b4;
	height: 130px;
	width: 100%;
}
.zero-img {
	.some-hov-txt {
		display: block;
		height: 65px;
		padding-right: 30px;
	}
}
.ask-b {
	width: 362px;
	margin: 15px;
	float: right;
	&__item {
		padding: 15px 16px 19px;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
	}
	&__list {
		background: white;
		padding: 43px 20px 37px 86px;
		box-sizing: border-box;
		margin: 0;
	}
	&__link {
		font-size: 13px;
		color: #3e50b4;
		font-family: "FrutigerNeueLTW1G-Regular";
		position: relative;
		&:before {
			content: "";
			width: 24px;
			height: 22px;
			left: -39px;
			top: -4px;
			background: url("../img/ask-icon.png");
			position: absolute;
		}
		&-1:before {
			background-position: 0 -12px;
			width: 22px;
		}
		&-2:before {
			background-position: 0 -65px;
		}
		&-3:before {
			background-position: 0 86px;
		}
		&-4:before {
			background-position: 0 34px;
		}
	}
}
.ne,
.ne_1,
.ne_2,
.ne_4 {
	background: url("../img/arr-cal.png");
	width: 19px;
	height: 36px;
	position: absolute;
	left: 20px;
	margin-bottom: -10px;
	bottom: 50%;
	opacity: 0.5;
	transition: all 0.3s;
	&:hover {
		opacity: 1;
	}
}
.pr,
.pr_1,
.pr_2,
.pr_4 {
	background: url("../img/arr-cal.png");
	width: 19px;
	height: 36px;
	position: absolute;
	right: 20px;
	margin-bottom: -10px;
	bottom: 50%;
	opacity: 0.5;
	transform: rotate(180deg);
	transition: all 0.3s;
	&:hover {
		opacity: 1;
	}
}
.ne_4 {
	left: 32px;
	margin-bottom: 0;
	bottom: 17px;
	background-size: cover;
	width: 11px;
}
.pr_4 {
	right: 32px;
	margin-bottom: 0;
	bottom: 17px;
	background-size: cover;
	width: 11px;
}
.pr_1 {
	right: 88px;
}
.ne_1 {
	left: 88px;
}
.block-for-but {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -585px;
	margin-top: -10px;
}
.fotorama_2 .fotorama__nav-wrap,
.fotorama_3 .fotorama__nav-wrap {
	margin-top: 26px;
}
.fotorama_2 {
	margin: 48px 15px 15px;
}
.fotorama-2 {
	&__txt {
		font-size: 23px;
		font-family: "GaramondPremrPro-Med";
		color: #ffffff;
		position: absolute;
		top: 111px;
		width: 280px;
		text-align: center;
		left: 50%;
		margin-left: -140px;
	}
	&__span {
		font-size: 117px;
		font-family: "GaramondPremrPro-MedIt";
		display: block;
		line-height: 110px;
		margin-bottom: 8px;
	}
}
.list-way-sec__number,
.list-way-sec__txt {
	transition: all 0.3s;
}
.list-way-sec {
	margin: 51px 0 48px;
	padding: 0;
	&__link {
		color: #004580;
		font-size: 13px;
		font-family: "FrutigerNeueLTW1G-Regular";
		position: relative;
		display: block;
		height: 200px;
		transition: all 0.3s;
		&:hover {
			.list-way-sec__number {
				z-index: 4;
				color: #3e50b4;
				position: relative;
			}
			.list-way-sec__txt {
				text-decoration: underline;
			}
		}
	}
	&__number {
		font-family: "GaramondPremrPro-MedIt";
		font-size: 99px;
		color: #eeeeee;
		display: block;
		margin-top: 32px;
	}
	&__item {
		width: 155px;
		display: inline-block;
	}
}
.list-way-sec__item:nth-child(2n) .list-way-sec__txt {
	position: absolute;
	top: 160px;
	left: 22px;
	line-height: 20px;
}
.list-way-sec__item:nth-child(2n) .list-way-sec__number {
	position: absolute;
	bottom: 7px;
	left: 15px;
	width: 60px;
}
.list-way-sec__item:nth-child(2n+1) .list-way-sec__txt {
	position: absolute;
	top: 14px;
	left: 23px;
	line-height: 20px;
	width: 109px;
}
.swap-color-2 {
	.b-tab__link {
		margin-top: 15px;
	}
}
.list-way-sec__item:nth-child(2n+1) .list-way-sec__number {
	position: absolute;
	top: 85px;
	left: 16px;
	line-height: 20px;
	width: 60px;
}
.list-way-sec__item:nth-child(2n) .list-way-sec__link:hover {
	margin-bottom: -40px;
}
.list-way-sec__item:nth-child(2n+1) .list-way-sec__link:hover {
	transform: translateY(-40px);
}
.line-cen {
	height: 3px;
	background: #fe9700;
	width: 98%;
	position: absolute;
	bottom: 28%;
	left: 16px;
	&:before {
		content: "";
		height: 3px;
		background: #fe9700;
		width: 20px;
		right: 0;
		position: absolute;
		transform: rotate(30deg);
		top: -5px;
	}
	&:after {
		content: "";
		height: 3px;
		background: #fe9700;
		width: 20px;
		right: 0;
		position: absolute;
		transform: rotate(-30deg);
		top: 5px;
	}
}
.not-f-page .sort-wrap__search {
	padding-right: 22%;
}
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before {
	background-image: none;
}
.cos-foot {
	margin-top: 87px;
}
.soc-icon {
	float: right;
	margin: 24px 0;
	&__txt {
		color: #424242;
		font-size: 14px;
		font-family: "GaramondPremrPro-Med";
		vertical-align: middle;
		display: inline-block;
		margin-right: 23px;
		letter-spacing: 0.02em;
	}
	&__list {
		display: inline-block;
		vertical-align: middle;
		margin: 0 4px 0 5px;
	}
	&__item {
		display: inline-block;
	}
	&__link {
		height: 27px;
		width: 50px;
		background: url("../img/soc-ic.png");
		display: inline-block;
		transition: all 0.3s;
		background-position: 0 26px;
		&:hover {
			background: url("../img/soc-ic.png");
			background-position: 0 2px;
		}
		&-2 {
			background-position: 100px 28px;
			transition: all 0.3s;
			&:hover {
				background-position: 100px 1px;
			}
		}
		&-3 {
			background-position: 47px 28px;
			transition: all 0.3s;
			&:hover {
				background-position: 47px 1px;
			}
		}
	}
}
.b-life-un {
	font-size: 0;
	&__item {
		width: 359px;
		height: 303px;
		float: left;
		margin: 15px;
	}
	&__link {
		display: inline-block;
	}
	&__txt {
		color: #424242;
		font-size: 15px;
		font-family: "GaramondPremrPro-Med";
		padding: 25px 29px;
		border: 1px solid #e0e0e0;
		border-top: none;
		box-sizing: border-box;
		margin: 0;
		background: #ffffff;
	}
	&__img {
		display: inline-block;
		width: 100%;
	}
}
.sentr-but {
	text-align: center;
	.item-news {
		height: auto;
		float: none;
		margin: 52px auto 20px;
	}
}
.some-ho-kl {
	display: none;
}

.new-meta {
	position: absolute;
	background: #e6e6e6;
	z-index: -1;
    width: 100%;
    left: 0;
    font-size: 0;
    padding: 80px 0 120px;
    opacity: 0;
    &__title {
    	font-family: "FrutigerNeueLTW1G-Bold";
    	font-size: 11px;
    	line-height: 35px;
    	letter-spacing: 0.09em;
    	text-transform: uppercase;
    	border-bottom: 1px solid #cccccc;
    }
    &__cont {
    	width: 228px;
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 60px;
    }
    &__cont-big {
    	width: 522px;
    	font-size: 0;
    	.new-meta__list {
    		width: 50%;
    		display: inline-block;
    		vertical-align: top;
    	}
    }
    &__item a{
    	font-family: "FrutigerNeueLTW1G-Regular";
    	font-size: 12px;
    	line-height: 35px;
    	letter-spacing: 0.01em;
    	color: #3e50b4;
    }
}
.b-nav-menu__link {
	position: relative;
}
.b-nav-menu__item:hover .b-nav-menu__link {
	color: #3e50b4;
}

.sow-ol:hover .b-nav-menu__link:after {
	content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid white;
    z-index: 3;
    transform: translateX(-50%);
    transition: all 0;
}
.b-nav-menu__item:hover .new-meta{
	z-index: 2;
	opacity: 1;
	transition: all .5s;
}

.time-lost .adve-block:last-child {
	border-bottom: none;
}
.send-b__block {
	background: #3e50b4;
	border: 1px solid #3e50b4;
}
.send-b {
	color: #ffffff;
}
.fotorama-3 {
	text-align: center;
	&__foto {
		margin-top: 51px;
		margin-right: 5px;
		border-radius: 50%;
	}
	&__name {
		color: #101010;
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 12px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin-top: 25px;
	}
	&__chair {
		color: #424242;
		font-size: 15px;
		font-family: "GaramondPremrPro-Med";
		margin-top: 21px;
		letter-spacing: 0.02em;
	}
	&__txt {
		color: #3e50b4;
		font-size: 23px;
		font-family: "GaramondPremrPro-Med";
		margin: 40px auto auto;
	}
}
.ne_2 {
	background: url("../img/arr-cal-s.png");
	bottom: auto;
	margin-bottom: 0;
	top: 37px;
	left: 81px;
}
.pr_2 {
	background: url("../img/arr-cal-s.png");
	bottom: auto;
	margin-bottom: 0;
	top: 37px;
	right: 81px;
}
.fotorama-3 .block-for-but {
	top: 70px;
	margin-top: 0;
}
.b-date {
	margin-top: 30px;
	&__item {
		display: inline-block;
		width: 33%;
		position: relative;
		padding: 15px;
		box-sizing: border-box;
		padding-bottom: 30px;
		vertical-align: top;
	}
	&__date {
		position: absolute;
		color: #bdbdbd;
		font-family: "GaramondPremrPro-MedIt";
		font-size: 54px;
		width: 90px;
		line-height: 30px;
		left: 28px;
		top: 30px;
		margin: 0;
		transition: all 0.3s;
		span {
			font-size: 20px;
		}
		&:before {
			content: "";
			height: 1px;
			width: 38px;
			position: absolute;
			right: -4px;
			top: 7px;
			background: #bdbdbd;
			transform: rotate(90deg);
		}
	}
	&__link {
		color: #3e50b4;
		font-size: 20px;
		font-family: "GaramondPremrPro-Med";
		padding-right: 15px;
		padding-left: 112px;
		box-sizing: border-box;
		display: inline-block;
		transition: all 0.3s;
		&:hover {
			text-decoration: underline;
			.b-date__date {
				color: #3e50b4;
			}
		}
	}
}
.fot-mor-it div {
	width: 158px;
	height: 131px;
	border: 1px solid #e0e0e0;
	float: left;
	margin: 15px;
}
.b-date {
	margin-top: 30px;
	&.is-active{
		display: block;
	}
	&__item {
		display: inline-block;
		width: 33%;
		position: relative;
		padding: 15px;
		box-sizing: border-box;
		padding-bottom: 30px;
	}
	&__item.res {
		display: inline-block;
		width: 33%;
		position: relative;
		vertical-align: top;
		padding: 15px;
		box-sizing: border-box;
		padding-bottom: 40px;
		padding-left: 80px;
	}
	&__date {
		position: absolute;
		color: #bdbdbd;
		font-family: "GaramondPremrPro-MedIt";
		font-size: 54px;
		width: 90px;
		line-height: 30px;
		left: 0px;
		top: 11px;
		margin: 0;
		transition: all 0.3s;
		span {
			font-size: 20px;
		}
		&:before {
			content: "";
			height: 1px;
			width: 38px;
			position: absolute;
			right: -10px;
   			top: 12px;
			background: #bdbdbd;
			transform: rotate(90deg);
		}
	}
	&__link {
		color: #3e50b4;
		font-size: 20px;
		font-family: "GaramondPremrPro-Med";
		padding-right: 15px;
		padding-left: 105px;
		box-sizing: border-box;
		display: inline-block;
		transition: all 0.3s;
		position: relative;
		&:hover {
			text-decoration: underline;
			.b-date__date {
				color: #3e50b4;
			}
			&.portal:before {
				background: url("../img/portalhov.png") no-repeat center;
				transition: 0.3s;
			}
			&.min:before {
				background: url("../img/minhov.png") no-repeat center;
				transition: 0.3s;
			}
			&.books:before {
				background: url("../img/bookshov.png") no-repeat center;
				transition: 0.3s;
			}
			&.wiki:before {
				background: url("../img/wikipediahov.png") no-repeat center;
				transition: 0.3s;
			}
		}
	}
	.portal:before {
		content: '';
		position: absolute;
		background: url("../img/portal.png") no-repeat center;
		transition: 0.3s;
		height: 65px;
		width: 65px;
		top: 0;
		left: -70px;
		display: block;
		float: left;
	}
	
	.min:before {
		content: '';
		position: absolute;
		background: url("../img/min.png") no-repeat center;
		transition: 0.3s;
		height: 76px;
		width: 65px;
		top: 0;
		left: -70px;
		display: block;
		float: left;
	}
	.books:before {
		content: '';
		position: absolute;
		background: url("../img/books.png") no-repeat center;
		transition: 0.3s;
		height: 65px;
		width: 65px;
		top: 0;
		left: -70px;
		display: block;
		float: left;
	}
	.wiki:before {
		content: '';
		position: absolute;
		background: url("../img/wikipedia.png") no-repeat center;
		transition: 0.3s;
		height: 65px;
		width: 65px;
		top: 0;
		left: -70px;
		display: block;
		float: left;
	}
}
.ir .b-date__link {
	padding-left: 38px;
}
#resources .b-date__link:after {
	content: "";
	height: 1px;
	width: 38px;
	position: absolute;
	left: -3px;
    top: 23px;
	background: #bdbdbd;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.footer {
	background: #ffffff;
	border-top: 1px solid #e0e0e0;
	&__title {
		font-size: 14px;
		color: #424242;
		font-family: "FrutigerNeueLTW1G-Black";
		font-weight: bold;
		line-height: 20px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin-bottom: 37px;
	}
	&-form {
		width: auto;
		box-sizing: border-box;
		border: 1px solid #e0e0e0;
		margin: 15px;
	}
}
.hide-m-b .b-tab__link {
	margin-top: 15px;
}
.left-col-fot {
	width: 358px;
	margin: 15px;
	float: left;
	&__link {
		color: #3e50b4;
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 12px;
		line-height: 35px;
		letter-spacing: 0.03em;
	}
}
.right-col-fot {
	width: 264px;
	float: right;
	margin: 15px;
	.item-news__b-more {
		padding: 18px 30px;
	}
}
.b-contact {
	&__item {
		color: #424242;
		font-family: "FrutigerNeueLTW1G-Regular";
		font-size: 12px;
		letter-spacing: 0.01em;
		line-height: 30px;
		padding-left: 25px;
		position: relative;
		&:before {
			content: "";
			width: 16px;
			height: 20px;
			background: url("../img/found-icon.png");
			position: absolute;
			left: -3px;
			top: 8px;
		}
		&-2:before {
			width: 18px;
			background-position: 0 48px;
		}
		&-3:before {
			top: 4px;
			background-position: 0 20px;
		}
	}
	&-d {
		margin: 0 0 -10px;
		span {
			width: 45px;
			display: inline-block;
		}
	}
}
.link-contact {
	color: #3e50b4;
	font-family: "FrutigerNeueLTW1G-Regular";
	font-size: 12px;
	display: inline-block;
	margin: 29px 0 79px;
}

.b-find {
	padding: 15px;
	display: inline-block;
	box-sizing: border-box;
	&__but {
		border: none;
		font-size: 0;
		width: 23%;
		height: 80px;
		width: 30%;
    	height: 80px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		border-right: 1px solid #e0e0e0;
		transition: all 0.3s;
		&:hover {
			vertical-align: middle;
			cursor: pointer;
			background-color: #3e50b4;
			&:before {
				background-position: 0 0;
			}
		}
		&:active {
			vertical-align: middle;
			cursor: pointer;
			background: #35459d;
			border-color: #35459d;
			&:before {
				background-position: 0 0;
			}
		}
		&:before {
			content: "";
			background: url("../img/footer-icon-2.png");
			width: 20px;
			height: 20px;
			position: absolute;
			background-position: 0 20px;
			left: 50%;
			top: 50%;
			margin-left: -10px;
			margin-top: -10px;
		}
	}
	&__txt {
		border: none;
		display: inline-block;
		font-size: 17px;
		font-family: "FrutigerNeueLTW1G-Light";
		outline: none;
		width: 69%;
		border-bottom: 1px solid #e0e0e0;
		vertical-align: middle;
		margin: 0 5%;
	}
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
	cursor: pointer;
}
input[type="checkbox"] + label .bu {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -2px 11px 0 0;
    vertical-align:middle;
    cursor:pointer;
    background: url("../img/sprites/sprite-ch.png");
}

input[type="checkbox"]:checked + label .bu {
    background: url("../img/sprites/sprite-ch.png");
    background-position: 0 16px;
}

.bot-form-coll {
	vertical-align: top;
}

.send-m-ic {
	position: relative;
	&:before {
		content: "";
		background: url("../img/footer-icon-3.png");
		width: 20px;
		height: 16px;
		position: absolute;
		background-position: 0 16px;
		left: 50%;
		top: 50%;
		margin-left: -10px;
		margin-top: -6px;
		z-index: 1;
	}
	&:hover {
		.send-m {
			background-color: #3e50b4;
			cursor: pointer;
		}
		&:before {
			background-position: 0 0;
		}
	}
	&:active {
		.send-m {
			background: #35459d;
			border-color: #35459d;
			cursor: pointer;
		}
		&:before {
			background-position: 0 0;
		}
	}
}
.send-m {
	width: 20%;
	box-sizing: border-box;
	border: none;
	height: 80px;
	vertical-align: middle;
	background-color: #ffffff;
	display: inline-block;
	transition: all 0.1s;
	&:hover {
		// background: url("../img/footer-icon-3.png");
		// background-position: center center;
		// background-repeat: no-repeat;
		// vertical-align: middle;
		// background-color: #3e50b4;
		// cursor: pointer;
	}
}
.top {
	width: 23%;
	height: 80px;
	display: inline-block;
	transition: all 0.3s;
	position: relative;
	vertical-align: bottom;
    vertical-align: top;
	&:hover {
		background-color: #3e50b4;
		cursor: pointer;
		&:before {
			background-position: 0 0;
		}
	}
	&:active {
		background: #35459d;
		border-color: #35459d;
		cursor: pointer;
		&:before {
			background-position: 0 0;
		}
	}
	&:before {
		content: "";
		background: url("../img/footer-icon-1.png");
		width: 20px;
		height: 12px;
		position: absolute;
		background-position: 0 12px;
		left: 50%;
		top: 50%;
		margin-left: -10px;
		margin-top: -6px;
	}
}
.b-pc {
	margin: 33px 15px 0;
	&__txt {
		font-size: 13px;
		color: #bdbdbd;
		font-family: "FrutigerNeueLTW1G-Regular";
		float: left;
		margin: 0;
	}
	&__link {
		font-size: 12px;
		color: #004580;
		font-family: "FrutigerNeueLTW1G-Regular";
		margin-left: 28px;
		float: right;
	}
}
#lightSlider_1 div {
	height: 132px;
}
.lightSlider_1 .lSSlideOuter {
	margin-top: 39px;
}
.lightSlider_1 .lSPager.lSpg > li a {
	background-color: #fff;
	border: 1px solid #bdbdbd;
	width: 9px;
	height: 9px;
	vertical-align: middle;
}
.lightSlider_1 .lSPager.lSpg > li.active a {
	width: 16px;
	height: 16px;
	background: #3e50b4;
	border-radius: 10px;
	border-color: #3e50b4;
}
.lightSlider_1 {
	padding: 65px 0 75px;
}
.lightSlider_1 .lSPager {
	margin-top: 28px !important;
}
.b-eror {
	background: url("../img/404.jpg");
	height: 1000px;
	background-size: cover;
}
.wrap-search {
	height: 0;
	padding: 0 185px;
	background: #e6e6e6;
	transition: 0.8s;
	visibility: hidden;
	display: none;

	@media(max-width: 800px){
		padding: 0 15px;
	}
	.search-for {
		width: 93%;
		padding: 10px 0;
		// display: none;
		display: inline-block;
		opacity: 0;
		background: transparent;
		border: none;
		border-bottom: 1px solid #bdbdbd;
		@media (min-width: 300px) and (max-width: 480px) {
			width: 83%;
		}
	}
	.icon-search {
		border: none;
		outline: none;
		padding: 10px 0 0 10px;
		display: inline-block;
		vertical-align: middle;
		background: transparent url("../img/icon.png");
		width: 16px;
		opacity: 0;
		height: 14px;
		background-position: 110px 0;
		cursor: pointer;
		margin: 0px 14px -6px;
	}
	&.active-search {
		height: 80px;
		transition: 0.8s;
		padding: 20px 0px;
		visibility: visible;
		text-align: center;
		display: block;
		.search-for {
			opacity: 1;
			transition: 0.4s;
			transition-delay: 0.6s;

		}
		.icon-search {
			opacity: 1;
			transition: 0.4s;
			transition-delay: 0.6s;
		}
		@media (min-width: 300px) and (max-width: 800px) {
			padding: 8px 0px 18px;
		}
	}
}
.white-k .fotorama__dot{
	background: white !important;
}
.white-k .fotorama__active .fotorama__dot {
	background: #3e50b4 !important;
}

.select-lang {
	// text-transform: uppercase;
	font-size: 12px;
	line-height: 31px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		right: -22px;
		background: url("../img/arr-sel.png") no-repeat;
		width: 9px;
		height: 6px;
		background-position: center center;
	}
	// right: -17px;
	// top: -4px;
	//
	// display: block;
	// position: absolute;
	// right: 0;
	// top: 0;
	// width: 72px;
	// height: 100%;
	// color: #BBB;
	// text-align: center;
	// font: 0/0 a;
	//
	// background-repeat: no-repeat;
	// background-position: center center;
}
.select-lang-dropdown {
	// display: none;
	position: absolute;
	left: -19px;
	top: 34px;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	// min-height: 20px;
	background: #fff;
	width: 60px;
	text-align: center;
	z-index: 6;
	border: 1px solid #e0e0e0;
	display: none;
	li {
		display: block;
		font-size: 12px;
		line-height: 20px;
		min-height: 20px;
		a {
			padding: 10px 0;
			display: block;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #e0e0e0;
		}
	}
}
.selectric .button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 72px;
	height: 100%;
	color: #BBB;
	text-align: center;
	font: 0/0 a;
	background: url("../img/arr-sel.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.bot-form-coll {
	display: inline-block;
	width: 70%;
	text-align: right;
}
.selectric-open {
	.selectric {
		border: 1px solid #3e50b4;
	}
	.button {
		background: none;
	}
	.button:after {
		content: "";
		font-family: "FrutigerNeueLTW1G-Bold" !important;
		background: #3e50b4;
		position: absolute;
		font-size: 20px;
		width: 20px;
		height: 2px;
		transform: rotate(45deg);
		top: 50%;
		margin-top: -2px;
    	right: 26px;
	}
	.button:before {
		content: "";
		font-family: "FrutigerNeueLTW1G-Bold" !important;
		background: #3e50b4;
		position: absolute;
		font-size: 20px;
		width: 20px;
		height: 2px;
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -2px;
    	right: 26px;
	}
}
.top-sel {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
	top: -2px;
	position: relative;
	&:hover {
		opacity: 1;
	}
}
.selectric {
	background: #fff;
	padding: 18px 10px;
	width: 100%;
	padding-bottom: 12px;
	box-sizing: border-box;
}
.slick-initialized .slick-slide {
	outline: none;
}
.selectric-items {
	background: #fff;
	left: 0;
}
.selectric-items li {
	padding: 26px;
}
.top-sel {
	.selectric {
		background: none;
		padding: 0;
		width: auto;
		border: none;
		margin: 0;
	}
	.selectric .button {
		width: 40px;
		height: 40px;
		right: -17px;
		top: -4px;
	}
	.selectric-items {
		left: 0;
	}
	.selectric-items li {
		padding: 0 5px;
	}
	.label {
		margin: 0;
		padding-right: 20px;
		font-size: 12px;
		line-height: 31px;
	}
	.selectric-open .button:after {
		margin-top: -2px;
	}
}
.bread-crumbs {
	margin-bottom: 0;
	&__item:before {
		content: "—";
		color: #626ebe;
		font-size: 10px;
		font-family: "GaramondPremrPro-MedIt";
		position: absolute;
		left: -15px;
	}
	&__item {
		color: #b5b5b5;
		font-size: 10px;
		font-family: "GaramondPremrPro-MedIt";
		display: inline-block;
		position: relative;
		margin: 10px 0 0 14px;
		&:first-child:before {
			content: none;
		}
	}
	&__link {
		color: #3e50b4;
		font-size: 10px;
		font-family: "GaramondPremrPro-MedIt";
		letter-spacing: 0.1em;
		text-decoration: underline;
	}
}
.book-cont {
	-webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
	display: inline-block;
	margin-top: 45px;
}
.footer-search {
	display: inline-block;
}
.list-download {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 70px;
	&__item {
		position: relative;
		margin: 15px 19px 40px;
		&:before {
			content: url("../img/pdf-doc.png");
			position: absolute;
			left: -44px;
			top: 4px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__link {
		font-size: 11px;
		color: #3e50b4;
		font-family: "FrutigerNeueLTW1G-Regular";
		text-transform: uppercase;
	}
	&__date {
		display: block;
		color: #b5b5b5;
		position: absolute;
	}
}



@media (min-width: 300px) and (max-width: 1170px) {
	.ios .right-page .item-news__b-more {
		padding: 28px 22px 26px 33px;
	}
	.content {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	.b-nav-menu__link {
		padding: 17px 14px 17px 13px;
	}
	.item-news {
		width: 31%;
	}
	.text-slider {
		margin-top: 40px;
	}
	.item-news__right {
		margin-left: 12px;
	}
	.item-news__big {
		width: 68%;
	}
	.item-news__right {
		width: 27%;
		margin-top: -364px;
	}
	.item-news__right .item-news__txt {
		height: 322px;
    	margin-bottom: 30px;
	}
	.list-way__item {
		margin: 0 46px;
	}
}
.b-bew-news {
	background: white;
	margin-bottom: 30px;
}
.b-bew-news__item {
	margin-bottom: 30px;
	.item-news__link {
		height: auto;
		width: 100%;
		box-sizing: border-box;
		padding-right: 20px;
	}
	.item-news__time {
		float: left;
		margin-left: 30px;
		margin-top: 2px;
	}
}
.p-t-zero {
	padding-top: 5px;
}
.b-bew-news h4 {
	padding: 34px 60px 0 33px;
	letter-spacing: 1.5px;
	margin: 0;
}
.b-bew-news__item {
	padding: 0 46px 0 28px;
	box-sizing: border-box;
}
.right-news {
	width: 358px;
	margin-left: 17px;
	height: 390px;
	a:hover .item-news__img {
		margin-top: 0;
	}
	.item-news__img {
		height: auto;
		transition: all 0.3s;
	}
}
.b-ads {
	&__link {
		color: #5f72d7;
		font-size: 23px;
		font-family: "GaramondPremrPro-MedIt";
	}
	&__txt {
		color: #424242;
		font-size: 13px;
		font-family: "FrutigerNeueLTW1G-Regular";
	}
}
.link-boc {
	color: #3e50b4;
	font-size: 11px;
	font-family: "FrutigerNeueLTW1G-Regular";
	text-transform: uppercase;
}
#lightSlider {
	margin-bottom: 47px;
	.item-news__time {
		margin-left: 34px;
		margin-top: 8px;
		&:before {
			left: -28px;
		}
	}
}
.link-boc {
	display: block;
	margin: 10px;
	position: relative;
	&:before {
		content: "";
		width: 14px;
		height: 21px;
		background: url("../img/docs.png");
		position: absolute;
		left: -20px;
	}
	&_2:before {
		background-position: 0 21px;
	}
}
.block-c {
	font-size: 0;
	.item-news__b-more {
		width: 50%;
		display: inline-block;
	}
	.count-page {
		width: 50%;
		display: inline-block;
		background: #3e50b4;
		font-family: "GaramondPremrPro-MedIt";
		font-size: 19px;
		text-align: center;
		color: #ffffff;
		line-height: 71px;
	}
}
.numb-list {
	&__item {
		margin: 10px;
	}
	&__link {
		color: #5f72d7;
		font-size: 21px;
		font-family: "GaramondPremrPro-Med";
		transition: all 0.3s;
		&:hover {
			text-decoration: underline;
		}
	}
}
.numb-list li::before {
	content: counter(c, decimal-leading-zero)".";
	position: absolute;
	width: 40px;
	left: 0;
	top: 25px;
	font-family: "GaramondPremrPro-MedIt";
	font-size: 15px;
}
.numb-list li {
	counter-increment: c;
	color: #b5b5b5;
	display: block;
	position: relative;
}
.b-bew-news__item .item-news__link {
	padding: 0;
}
.right-news.item-news {
	margin: 30px 0 0;
	@media (max-width: 1200px) {
		margin-top: 0;
		width: 100%;
		height: 100%;
	}
}
.b-contact__item:before {
	left: 0;
}
.m-15 {
	margin: 15px;
	margin-top: 11px;
}
.fotorama-3__txt {
	width: 730px;
}
.cal {
	display: none;
}
.big-icon-search,
.logo-top__smoll-log {
	display: none;
}
.ask-b__link,
.b-center-head__link,
.b-pc__link,
.left-col-fot__link,
.link-contact,
.link-news,
.mar-tu {
	transition: all 0.3s;
	&:hover {
		text-decoration: underline;
	}
}
.b-labes__link,
.but-link {
	transition: all 0.3s;
	&:hover {
		background: #3e50b4;
		color: #fff;
		border: 1px solid #3e50b4;
	}
	&:active {
		background: #35459d;
		border-color: #35459d;
		color: #fff;
	}
}
.b-labes__link-active,
.item-news__b-more {
	transition: all 0.3s;
	&:hover {
		background: #fe9700;
		border-color: #fe9700;
	}
	&:active {
		background: #e48801;
		border-color: #e48801;
	}
}
.b-nav-menu__list {
	right: - 50%;
	transition: all 1s;
}
.absol-m {
	position: fixed;
	z-index: 50;
	width: 100%;
	height: 100%;
	display: block !important;
	top: 0;
	background: rgba(0,0,0,0.5);
	.b-nav-menu__list {
		background: #fff;
		right: 0;
		width: 50%;
		position: absolute;
		height: 100%;
		margin-bottom: 72px;
		padding: 0;
		margin-top: 71px;
	}
	.b-nav-menu__item {
		border-bottom: 1px solid #e0e0e0;
		display: block;
	}
	.b-nav-menu__link {
		padding: 17px 26px;
	}
    z-index: 50;
    width: 100%;
    height: 100%;
    display: block !important;
    top: 0;
    background: rgba(0,0,0,0.5);
    .b-nav-menu__list {
    	background: #fff;
    	right: 0;
    	width: 50%;
    	position: absolute;
    	height: 100%;
    	margin-bottom: 72px;
    	padding: 0;
    	margin-top: 71px;
    }
    .b-nav-menu__item {
    	border-bottom:1px solid #e0e0e0;
    	display: block;
    }
    .b-nav-menu__link
    {
    	padding: 17px 26px;
    }
}
.datepicker-inline .datepicker {
	width: 359px;
	height: 455px;
}
.fixed-but {
	position: fixed;
	text-align: right;
	padding: 17px 26px;
	box-sizing: border-box;
	top: -2px;
	right: 0;
	width: 50%;
	background: #ffffff;
	z-index: 51;
	height: 71px;
	border-bottom: 1px solid #e0e0e0;
	transition: all 1s;
	.left-txt-fix {
		display: inline-block;
		font-family: "FrutigerNeueLTW1G-Bold";
		font-size: 12px;
		text-transform: uppercase;
		color: #3e50b4;
		margin: 0;
		float: left;
		padding-top: 14px;
	}
	.big-icon-search {
		display: none;
	}
	.menu-but__line:first-child {
		display: none;
	}
	.menu-but__line:nth-child(2) {
		transform: rotate(45deg);
		width: 32px;
		margin-top: 17px;
	}
	.menu-but__line:nth-child(3) {
		width: 32px;
		transform: rotate(-45deg);
		margin-top: -3px;
	}
}
.sow-con .left-txt-fix {
	padding-left: 20px;
}
.fotorama_1 .fotorama__img:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
    padding: 17px 26px;
    box-sizing: border-box;
    top: -2px;
    right: 0;
    width: 50%;
    background: #ffffff;
    z-index: 51;
    height: 71px;
    border-bottom: 1px solid #e0e0e0;
    .left-txt-fix {
    	display: inline-block;
    	font-family: "FrutigerNeueLTW1G-Bold";
	    font-size: 12px;
	    text-transform: uppercase;
	    color: #3e50b4;
	    margin: 0;
    	float: left;
    	padding-top: 14px;
    }
    .big-icon-search {
    	display: none;
    }
    .menu-but__line:first-child {
    	display: none;
    }
    .menu-but__line:nth-child(2){
    	transform: rotate(45deg);
    	width: 32px;
    	margin-top: 17px;
    }
    .menu-but__line:nth-child(3){
    	width: 32px;
    	transform: rotate(-45deg);
    	margin-top: -4px;
    }
}

.fotorama_1 .fotorama__img:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.more_1 {
	width: 60%;
	transition: all 0.3s;
	.sow-con:before {
		left: -11.1%;
		width: -11.1%;
	}
}
.more 
{
	.b-nav-menu__list{
		width: 60%;
		transition: all 0.3s;
	}
	.new-meta:before{
		left: -12%;
		width: 12%;
	}
}

.item-news a:hover .zero-img .item-news__link {
	margin-top: 25px;
}
.style-sel .selectric .button {
	background: url("../img/select-arrow.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.style-sel .selectric-open .button {
	background: none;
}
.left-txt-fix,
.mo-ic-soc {
	display: none;
}
.item-news__right {
	float: right;
	width: 364px;
	margin-left: 12px;
	margin-right: 16px;
}
.footer-form {
	font-size: 0;
	margin-top: 35px;
	text-align: right;
	height: 82px;
	overflow: hidden;
}
.datepicker--cell,
.datepicker--day-name {
	width: 40px;
	margin: 0 2.5px;
}
.style-sel .label {
	font-family: "FrutigerNeueLTW1G-Bold";
	font-size: 13px;
	color: #101010;
}
.meil-hide {
	display: none;
}
.outo-g {
	overflow: hidden;
	width: 77%;
	display: inline-block;
}
.hol{
	&:before {
		background: url("../img/footer-icon-3.png");
		width: 20px;
    	height: 16px;
    	background-position: 0 16px;
	}
	&:hover:before {
		background-position: 0 0px;
	}
}
.footer-search {
	.send-m-ic:before {
		background: url("../img/footer-icon-2.png");
		width: 20px;
    	height: 20px;
    	background-position: 0 20px;
	}
	.send-m-ic:hover:before {
		background-position: 0 0px;
	}
}
.absol-b {
	display: none;
}
@media (min-width: 300px) and (max-width: 1200px) {
	.left-page {
		padding-bottom: 60px;
	}
	.content {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	.b-nav-menu__link {
		padding: 17px 11px 17px 10px;
	}
	.item-news {
		width: 30.8%;
	}
	.text-slider {
		margin-top: 40px;
	}
	.item-news__big {
		width: 64%;
	}
	.item-news__right {
		margin-left: 12px;
		width: 31%;
		margin-top: -215px;
	}
	.item-news__right .item-news__txt {
		padding-right: 10px;
	}
	.list-way__item {
		margin: 0 46px;
	}
	.cont-tab {
		width: 64%;
	}
	.datepicker-here {
		width: 30%;
	}
	.m-15 .datepicker {
		width: 100%;
	}
	.datepicker--day-name {
		height: 32px;
		width: 35px;
	}
	.conteiner-txt {
		width: 63%;
	}
	.ask-b {
		width: 30%;
	}
	.line-cen {
		width: 97%;
		bottom: 37%;
		background: #3e50b4;
		&:after {
			background: #3e50b4;
		}
		&:before {
			background: #3e50b4;
		}
	}
	.list-way-sec {
		font-size: 0;
	}
	.list-way-sec__item {
		width: 13%;
	}
	.b-life-un__item {
		float: none;
		display: inline-block;
	}
	.b-life-un {
		text-align: center;
	}
	.fot-mor-it div {
		width: 13%;
	}
	.left-col-fot {
		width: 29%;
	}
	.b-find {
		padding: 0;
	}
	.b-nav-menu__list {
		font-size: 0;
	}
	.logo-top__txt {
		display: none;
	}
	.logo-top {
		width: 73px;
	}
	.b-labes {
		width: 64%;
	}
	.b-labes__link {
		margin-bottom: 14px;
	}
	.dis-b .b-labes {
		width: auto;
	}
	.datepicker--cells-days {
		padding: 0;
	}
	.datepicker--days-names {
		padding: 5px 19px;
	}
	.b-date__item {
		display: inline-block;
		vertical-align: top;
		float: none;
		text-align: left;
	}
	.b-date {
		text-align: center;
	}
	.block-for-but {
		margin-left: -50%;
	}
	.item-news__list {
		text-align: center;
	}
	.b-labes__link {
		margin: 0 6px;
	}
	.item-news {
		text-align: left;
	}
	.item-news-f {
		margin: 0 -24px;
	}
	.left-page {
		overflow: hidden;
	}
	.new-meta__cont {
	    width: 30%;
	    padding-right: 20px;
		box-sizing: border-box;
		margin: 0;
	}
	.new-meta__cont-big {
		width: 40%;
		padding-right: 20px;
		box-sizing: border-box;
		margin: 0;
	}
	.new-s {
		margin: 0;
	}
}
@media (min-width: 300px) and (max-width: 1140px) {
	.item-news__right {
		margin-top: -246px;
		width: 30%;
	}
	.list-way__item {
		margin: 0 36px;
	}
	.list-way__item:after {
		right: -31px;
	}
	.datepicker--cells-days,
	.datepicker--days-names {
		padding: 0;
	}
	.datepicker--day-name {
		width: 35px;
	}
	.datepicker--cell {
		width: 35px;
		height: 35px;
	}
}
	
@media (min-width: 300px) and (max-width: 1000px) {
	.b-date__item.res {
		width: 50%;
	}
	#resources .b-date__link:after {
		display: none;
	}
	.ask-b__item {
		width: 50%;
	}
	.ask-b__list {
		font-size: 0;
	}
	.item-news a:hover .item-news__link {
		margin-top: 25px;
	}
	.adve-block {
		display: none;
	}
	.adve-block:first-child {
		display: block;
	}
	.main_2.active+.gulgul {
		position: relative;
		left: -30px;
    	top: -175px;
	}
	.sow-con 
	.datepicker--cells-days,
	.datepicker--days-names {
	}
	.new-meta {
		.left-txt-fix {
	    	display: inline-block;
	    	font-family: "FrutigerNeueLTW1G-Bold";
		    font-size: 12px;
		    text-transform: uppercase;
		    color: #3e50b4;
		    margin: 0;
	    	float: left;
	    	padding-top: 14px;
	    }
	    .big-icon-search {
	    	display: none;
	    }
	    .menu-but__line:first-child {
	    	display: none;
	    }
	    .menu-but__line:nth-child(2){
	    	transform: rotate(45deg);
	    	width: 32px;
	    	margin-top: 17px;
	    }
	    .menu-but__line:nth-child(3){
	    	width: 32px;
	    	transform: rotate(-45deg);
	    	margin-top: -4px;
	    }
	}
	.con-me {
		text-align: right;
	    padding: 15px 26px 22px;
	    border-bottom: 1px solid #e0e0e0;
	}
	.b-nav-menu__item:hover .b-nav-menu__link:after {
		content: none;
	}
	.new-meta {
		 width: 90%;
	    left: inherit;
	    right: 0;
	    top: 0;
	}
	.absol-m .b-nav-menu__list {
		overflow: scroll;
	}
	.sow-con {
		display: none;
		background: white;
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 90%;
	    &:before {
			content: "";
			width: 11%;
		    height: 102%;
		    background: rgba(0,0,0,0.5);
		    position: absolute;
		    left: -11%;
		    top: 0;
	    }
	}
	.new-meta:before {
		content: "";
		width: 11%;
		height: 100vh;
		background: rgba(0,0,0,0.5);
		position: absolute;
		left: -11%;
		top: 0;
	}
	.b-nav-menu__item:hover .new-meta {
	    z-index: 60;
	}
	.new-meta__cont {
	    width: 100%;
	    padding-right: 0;
	    padding-left: 40px;
	    box-sizing: border-box;
	    margin: 0;
	}
	.new-meta__title {
		border-bottom: none;
	}
	.new-meta {
		background: white;
		padding: 0;
	}
	.datepicker--days-names, .datepicker--cells-days {
		width: 300px;
		margin: auto;
	}
	.b-center-head,
	.b-nav-menu,
	.icon-list,
	.logo-top__img,
	.move-but,
	.top-sel {
		display: none;
	}
	.m-15 .datepicker {
		height: 469px;
	}
	.logo-top__smoll-log {
		display: block;
		float: left;
	}
	.b-labes {
		width: 55%;
	}
	.block-c .count-page {
		line-height: 70px;
	}
	.logo-top__txt {
		display: inline-block;
		font-family: "SchoolBookC";
		font-size: 22px;
		color: #3e50b4;
		margin-left: 32px;
		margin-top: 5px;
	}
	.big-icon-search {
		display: inline-block;
		background: url("../img/search.svg");
		width: 21px;
		height: 20px;
		background-position: 0;
	}
	.menu-but {
		display: inline-block;
		width: 32px;
		height: 27px;
		margin-left: 32px;
		&__line {
			width: 100%;
			height: 3px;
			background: #424242;
			margin-top: 6px;
		}
	}
	.logo-top {
		float: none;
	}
	.b-right-header {
		margin-top: 2px;
	}
	.header {
		padding: 5px 0;
	}
	.item-news__big {
		width: 53%;
		height: 472px;
		.item-news__footer {
			margin-top: 15px;
		}
	}
	.item-news__right {
		width: 39%;
		margin-top: -178px;
	}
	.item-news__list .item-news {
		width: 48%;
	}
	.item-news__list .item-news:nth-child(3) {
		display: none;
	}
	.item-news__list .item-news {
		width: 45%;
	}
	.cont-tab {
		width: 53%;
	}
	.datepicker-here {
		width: 40%;
	}
	.list-way__item {
		margin: 0 23px;
		width: 17%;
	}
	.conteiner-txt {
		width: 61%;
	}
	.ask-b {
		width: 30%;
	}
	.b-date__item {
		margin: 0;
		padding: 15px;
		box-sizing: border-box;
		width: 50%;
		float: left;
		height: 140px;
	}
	.left-col-fot,
	.right-col-fot {
		width: 100%;
		margin: 0;
		padding: 15px;
		box-sizing: border-box;
	}
	.cos-foot,
	.left-col-fot__list {
		display: none;
	}
	.footer__title {
		background: white;
		margin: 0;
		padding: 24px;
		border: 1px solid #e0e0e0;
	}
	.b-contact,
	.item-news__b-more,
	.link-contact {
		display: none;
	}
	.item-news__right .item-news__b-more {
		display: block;
	}
	.fot-mor-it div {
		display: none;
	}
	.fot-mor-it div:nth-child(1),
	.fot-mor-it div:nth-child(2),
	.fot-mor-it div:nth-child(3) {
		display: inline-block;
		width: 27%;
	}
	.ask-b .item-news__b-more {
		display: block;
	}
	.left-col-fot,
	.right-col-fot {
		background: #eeeeee;
		padding: 0;
	}
	.left-col-fot__item {
		padding: 10px 28px;
	}
	.b-contact,
	.link-contact {
		padding: 0 40px;
	}
	.footer-form {
		margin: 0;
	}
	.top {
		width: 23%;
	}
	.left-col-fot, .right-col-fot {
	background: #eeeeee;
	padding: 0;
}
.left-col-fot__item {
	padding: 10px 28px;
}
.b-contact,.link-contact {
	padding: 0 40px;
}
.footer-form {
	margin: 0;
}
.top{
	width: 23%;
}
.new-meta {
	opacity: 1;
}
.b-nav-menu__item:hover  .new-meta{
    opacity: 1;
}.b-nav-menu__item .new-meta {
		    opacity: 1;
		    display: none;
		        z-index: 60;
		}
	.ios .right-page .item-news__b-more {
		padding: 28px 22px 25px 33px;
	}

}
@media (min-width: 300px) and (max-width: 870px) {
	.item-news__right {
		margin-top: -202px;
	}
	.item-news a:hover .some-hov-txt {
		display: none !important;
	}
}
@media (min-width: 300px) and (max-width: 800px) {
	.main_2.active+.gulgul {
	left: -190px;
	top: -120px;
	}
	.tabl-style .found-stile {
		width: 385px;
	}
	.some-hov-txt {
		display: none;
	}
	.item-news__right .some-hov-txt {
		display: block;
	}
	.b-labes {
		display: none;
	}
	.cont-tab,
	.item-news__big {
		width: 50%;
	}
	.item-news__right {
		width: 46%;
		 margin-top: -247px;
	}
	.item-news__list .item-news {
		width: 46%;
	}
	.datepicker-here {
		width: 41%;
	}
	.ask-b {
		width: 93%;
	}
	.ask-b .item-news__b-more {
		display: block;
	}
	.conteiner-txt {
		width: 100%;
		margin: 15px 0;
	}
	.line-cen {
		bottom: 32%;
	}
	.soc-icon {
		text-align: right;
	}
	.b-life-un__item {
		width: 50%;
		padding: 15px;
		text-align: left;
		margin: 0;
		height: inherit;
	}
	.b-life-un__img {
		width: 100%;
	}
	.b-tab__link {
		margin-right: 26px;
		font-size: 17px;
		padding-bottom: 17px;
	}
	.b-pc__link {
		margin-left: 0;
		float: none;
		display: block;
		margin: 15px 0;
	}
	.b-pc__txt {
		float: none;
		display: block;
	}
	.mo-ic-soc {
		display: block;
		position: absolute;
		right: 0;
		top: 28px;
		margin: 0;
	}
	a.item-news__txt-big {
		width: 100%;
		height: 123px;
	}
	p.item-news__txt-big {
		display: none;
	}
	.cont-tab,
	.item-news__big {
		width: 46%;
	}
	.datepicker-here {
		width: 45%;
	}
	.cont-tab {
		margin-right: 0;
	}
	.send-b {
		padding: 19px 10px;
	}
	.logo-top__smoll-log {
		margin: -3px -3px 3px 16px;
	}
	.menu-but {
		margin-right: 18px;
		margin-top: 2px;
	}
	.big-icon-search {
		width: 29px;
		height: 29px;
		background-size: cover;
		margin: -5px;
		background-position: 0;
	}
	.block-for-but {
		top: 40%;
		margin-top: -12px;
	}
	.text-slider {
		margin-top: 18px;
		font-size: 45px;
		margin-left: 72px;
		margin-bottom: 18px;
	}
	.but-link {
		margin-left: 78px;
	}
	.fotorama_1 .fotorama__nav-wrap {
		padding-bottom: 10px;
		padding-left: 153px;
	}
	.grey-b {
		padding: 68px 0;
	}
	.item-news__right .item-news__txt {
		height: 190px;
		overflow: hidden;
		margin-bottom: 89px;
	}
	.link-news {
		font-size: 12px;
		margin-top: 6px;
		margin-right: 11px;
	}
	.item-news__big {
		margin-left: 17px;
		.item-news__img {
			height: 274px;
		}
	}
	.item-news__big .item-news__footer {
		margin-top: 0;
	}
	.item-news__big {
		height: 455px;
	}
	.item-news__list .item-news {
		text-align: left;
	}
	.paginator {
		margin-top: 12px;
		margin-right: 0;
	}
	.dark-gray {
		padding: 48px 0;
	}
	.list-way__item:after {
		content: none;
	}
	.list-way {
		margin-top: 113px;
	}
	.list-way li:before {
		font-size: 197px;
	}
	.list-way__txt {
		padding-top: 45px;
		padding-left: 10px;
	}
	.list-way__item {
		margin: 0 -6px 0 17px;
		width: 21%;
	}
	.list-way__item:first-child {
		margin-left: 0;
	}
	.list-way__txt:before {
		right: 44px;
	}
	.form-send {
		margin: 43px 19px 20px;
		padding: 49px 29px 47px 31px;
	}
	.form-select {
		padding: 28px 20px 25px;
		background-position: 95% center;
	}
	.form-send__block {
		width: 50%;
	}
	.form-send__block:nth-child(even) {
		padding: 30px 15px 2px 0;
	}
	.form-send__block:nth-child(odd) {
		padding: 30px 0 0 15px;
	}
	.plan-mobl {
		.link-news {
			font-size: 12px;
			margin-top: 5px;
			margin-right: 28px;
		}
		.datepicker-here {
			margin-top: 49px;
			width: 46%;
		}
		.item-news__big {
			height: 470px;
			margin-top: 49px;
		}
		.item-news__img {
			height: 238px;
		}
	}
	.conteiner-txt {
		h2 {
			margin-top: 9px;
		}
		.mar-tu {
			margin-top: 28px;
			margin-bottom: 18px;
		}
		.conteiner-txt__p-1 {
			padding-left: 34px;
		}
		.conteiner-txt__p-2 {
			padding-left: 14px;
			padding-right: 40px;
		}
		.link-news {
			float: left;
			margin-left: 14px;
			margin-top: 10px;
			font-size: 13px;
		}
	}
	.swap-color-2 {
		.b-labes {
			display: inline-block;
			margin-bottom: 23px;
		}
		.soc-icon {
			margin: 26px 11px 0 0;
		}
		.soc-icon__txt {
			margin-right: 35px;
		}
	}
	.hide-m-b {
		h2 {
			line-height: 51px;
		}
		.line-cen {
			bottom: 30%;
			width: 94%;
			left: 26px;
		}
	}
	.b-life-un__item:nth-child(5),
	.b-life-un__item:nth-child(6) {
		display: none;
	}
	.list-way-sec {
		margin: 53px 0 21px;
	}
	.sentr-but .item-news__b-more {
		display: block;
	}
	.sentr-but .item-news {
		margin: 60px auto 20px;
		width: 95%;
	}
	.fotorama-3__foto {
		margin-right: 5px;
	}
	.fotorama-3__txt {
		line-height: 26px;
	}
	.fotorama__nav-wrap {
		margin-top: 4px;
	}
	.hide-m-b {
		.link-news {
			margin-right: 26px;
			margin-top: 24px;
		}
		.b-date__item {
			margin-bottom: 10px;
		}
		.b-date__date:before {
			content: none;
		}
	}
	.lightSlider_1 {
		padding: 0 0 80px;
	}
	.p-t-zero {
		padding-top: 5px;
	}
	.fotorama_2 {
		margin: 0 0 235px;
	}
	.ask-b {
		position: absolute;
		bottom: 20px;
	}
	.dark-gray {
		position: relative;
	}
	.item-news__img {
    	height: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		margin: 0;
		display: block;
		transform: translateX(-50%);
	}
	.main_2 .item-news__big {
	height: auto;
}
}
@media (min-width: 300px) and (max-width: 740px) {
	.item-news__big {
		width: 45%;
	}
	.footer-form {
		height: initial;
	}
	.outo-g {
		width: 100%;
	}
	.list-way__item {
		margin: 0 23px;
		width: 25%;
		height: 263px;
	}
	.bot-form-coll {
		height: 80px;
		overflow: hidden;
	}
	.form-send__block {
		width: 99%;
	}
	.form-select {
		padding: 19px 22px;
	}
	.datepicker--day-name {
		height: 23px;
		width: 35px;
	}
	.b-date__item {
		height: 200px;
	}
	.item-news__right {
		margin-top: -242px;
	}
	.top {
		width: 100%;
		border-top: 1px solid #e0e0e0;
	}
	.footer-form {
		font-size: 0;
	}
	.b-find {
		width: 80%;
		margin-top: 15px;
	}
	.b-find__txt {
		margin-top: 26px;
		margin-left: 16px;
	}
	.send-m {
		float: right;
	}
	.fotorama-3__txt {
		width: auto;
	}
	.b-find__but {
		width: 100%;
		border-bottom: 1px solid #e0e0e0;
	}
	.bot-form-coll {
		width: 100%;
	}
	.b-find__txt {
		width: 65%;
	}
	.send-m {
		width: 26%;
	}
	.send-m-ic {
		position: relative;
		display: inline-block;
		width: 27%;
		vertical-align: top;
	}
	.send-m {
		width: 100%;
	}
	.new-meta:before {
    	height: 100%;
    }
}
@media (min-width: 300px) and (max-width: 670px) {
	.logo-top__txt {
		font-size: 20px;
	}
	.plan-mobl .datepicker-here {
		width: 45%;
	}
	.form-send__block:nth-child(odd) {
	    padding: 30px 0 0 0;
	}
	.form-send__block:nth-child(even) {
		padding: 30px 0 2px 0;
	}
	.form-send__block {
	    width: 100%;
	}
}
@media (min-width: 300px) and (max-width: 620px) {
	.item-news__list {
		// margin-top: 20px;
		margin: 20px 0 0;
	}
	h2 {
		font-size: 30px;
	}
	.form-send .form-send__block {
		padding: 10px 0;
	}
	.footer__title {
		position: relative;
		font-size: 11px;
	}
	.footer__title:after {
		content: url("../img/footer-icon-1.png");
		position: absolute;
		right: 15px;
		transform: rotate(180deg);
	}
	.footer__title-trans:after {
		transform: rotate(0deg);
		top: 15px;
	}
	.form-send__block {
		width: 100%;
	}
	.fotorama_1 .fotorama__nav-wrap {
		display: none;
	}
	.logo-top__txt {
		margin-left: 18px;
		font-size: 13px;
	}
	.logo-top {
		float: left;
	}
	.logo-top__smoll-log {
		display: inline-block;
	}
	.logo-top {
		width: 30%;
	}
	.logo-top__txt {
		width: 50px;
		line-height: 15px;
		margin-top: 0;
	}
	.b-life-un__item {
		text-align: center;
	}
	.cont-tab {
		width: 96%;
	}
	.item-news__right {
		width: 94%;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.item-news,
	.item-news-f .item-news__img {
		display: none;
	}
	.item-news__list .item-news:nth-child(3) {
		display: block;
		.abs-date {
			display: block;
		}
		.some-hov-txt {
			display: none;
		}
		.item-news__link {
			padding-top: 15px;
			margin-bottom: 25px;
		}
	}
	.item-news,
	.item-news__list .item-news {
		width: 90%;
		margin: 0 5% 30px;
	}
	.item-news,
	.ov-h {
		height: auto;
	}
	.list-way li:before {
		padding-top: 128px;
	}
	.fotorama_5 {
		margin-top: 30px;
		text-align: center;
	}
	.fotorama_5 .fotorama__arr {
		display: none !important;
	}
	.conteiner-txt__p,
	.datepicker-here {
		display: none;
	}
	.conteiner-txt .link-news {
		float: none;
	}
	.conteiner-txt {
		text-align: center;
	}
	.hide-m-b {
		display: none;
	}
	.b-life-un__item {
		display: none;
	}
	.b-life-un__item:first-child {
		display: inline-block;
	}
	.list-way li:before {
		padding-top: 91px;
		padding-bottom: 40px;
	}
	.b-life-un__item {
		width: 92%;
	}
	.mo-ic-soc {
		position: relative;
	}
	.b-pc {
		text-align: center;
	}
	.b-find,
	.b-find__but {
		width: 100%;
	}
	.fotorama-3__txt {
		font-size: 16px;
	}
	.logo-top {
		width: 36%;
	}
	.absol-m .b-nav-menu__list,
	.fixed-but {
		width: 100%;
	}
	.text-slider {
		margin: 42px;
		font-size: 29px;
	}
	.but-link {
		margin-left: 23px;
	}
	.b-tab__link {
		font-size: 17px;
	}
	.some-hov-txt {
		margin-bottom: 15px;
	}
	.form-send {
		padding: 21px;
		box-sizing: border-box;
	}
	.b-find__txt {
		width: 64%;
	}
	.b-tab {
		width: 50%;
	}
	.b-find__but {
		border-bottom: 1px solid #e0e0e0;
	}
	.b-tab__link {
		font-size: 12px;
	}
	.ask-b {
		width: 90%;
	}
	.cal {
		margin-top: 30px;
		display: block;
	}
	.swap-color-2 {
		background: #f7f7f7;
	}
	.swap-color-1 {
		background: #e6e6e6;
	}
	.list-way li:before {
		padding-top: 80px;
	}
	.list-way__txt:before {
		right: 28%;
		top: -85px;
	}
	.list-way__item {
		margin-left: -69px !important;
	}
	.list-way__txt {
		padding-top: 22px;
	}
	.list-way__item {
		width: 100%;
		margin: 0;
	}
	.fotorama_5 .fotorama__nav-wrap {
		margin-left: -60px;
	}
	.item-news__co {
		display: none;
	}
	.item-news__right .item-news__co {
		display: block;
	}
	.item-news__right {
		display: block;
		.item-news__txt {
			display: none;
		}
	}
	.main_2.active+.gulgul {
		left: 0px;
		top: 18px;
	}
	.main_2 .item-news__big {
		width: 100%;
		height: inherit;
		margin: 0;
	}
}
@media (min-width: 300px) and (max-width: 480px) {
	.item-news__right .item-news__txt {
		display: none;
	}
	.dark-gray {
		position: relative;
	}
	.item-news__right .item-news__img {
		width: auto;
		height: auto;
	}
	.abs-date,
	.some-hov-txt {
		display: none;
	}
	.item-news__right .abs-date {
		display: block;
	}
	.send-m-ic:hover {
		&:before {
			background-position: 0 16px;
		}
		.send-m {
			background: none;
			outline: none;
		}
	}
}
@media (min-width: 300px) and (max-width: 430px) {
	.ask-b__item {
		width: 100%;
	}
	.ask-b__link {
		font-size: 11px;
	}
	.ask-b__item {
		padding: 15px 16px 19px;
	}
	.ask-b {
		margin: 0;
		width: 100%;
		padding: 16px 28px 50px;
	}
	.ask-b__list {
		padding: 15px 10px 12px 43px;
	}
	.plan-mobl+.dark-gray > .content {
		padding: 0;
	}
	.fotorama_2 {
	    margin: 0 0 320px;
	}
	.b-find__txt {
		width: 63%;
		font-size: 12px;
		margin-top: 33px;
	}
	.b-tab {
		width: 60%;
	}
	.plan-mobl .b-tab {
		width: 50%;
	}
	.fotorama_1 {
		.text-slider {
			text-align: left;
		}
		.content {
			text-align: center;
		}
		.but-link {
			margin: 0;
		}
	}
	.fotorama-2__span {
		font-size: 70px;
	}
	.fotorama-2__txt {
		font-size: 14px;
	}
	.pr_1,
	.pr_2 {
		right: 40px;
		opacity: 1;
	}
	.ne_1,
	.ne_2 {
		left: 40px;
		opacity: 1;
	}
	.item-news__title {
		padding-right: 33px;
	}
	.item-news__right .item-news__link {
		padding-right: 36px;
	}
}
@media (min-width: 300px) and (max-width: 350px) {
	.item-news__time:before {
		content: none;
	}
	.swap-color-2 {
		position: relative;
	}
	.swap-color-2 .b-labes {
		position: absolute;
		right: 5px;
		top: 49px;
	}
	.swap-color-2 .b-tab__link {
		font-size: 15px;
	}
	.swap-color-2 .soc-icon__txt {
		margin-right: 0;
	}
	.sentr-but .item-news {
		width: 80%;
	}
	.dis-b .cont-tab {
		width: 100%;
		margin-left: 0;
	}
	.logo-top__smoll-log {
		margin: 6px 0 3px 18px;
	}
	.menu-but {
		width: 22px;
		margin-left: 19px;
		margin-top: 5px;
	}
	.fixed-but .menu-but {
		margin-top: -3px;
	}
	.big-icon-search {
		width: 22px;
		height: 22px;
		margin: 0;
		background-position: 0 -22px;
	}
	.logo-top__txt {
		width: 29px;
		margin-left: 11px;
		margin-top: 3px;
		margin-bottom: 0;
	}
	.header {
		padding: 0;
	}
	.ne {
		left: 28px;
		margin-bottom: -17px;
	}
	.pr {
		right: 28px;
		margin-bottom: -17px;
	}
	.text-slider {
		margin: 52px 61px;
	}
	.but-link {
		width: 264px;
		margin-left: 18px;
	}
	.grey-b {
		padding: 43px 0;
	}
	.item-news__right {
		.item-news__img {
			width: auto;
			height: auto;
		}
		.abs-date {
			top: 2px;
			left: 24px;
		}
		.item-news__title {
			padding-left: 20px;
			margin-top: 23px;
		}
		.item-news__link {
			font-size: 22px;
			margin-top: 10px;
			padding-left: 21px;
			margin-bottom: 26px;
		}
		.item-news__txt {
			display: none;
		}
	}
	.b-tab__link {
		margin-left: 4px;
		margin-right: 12px;
		font-size: 13px;
		padding-bottom: 7px;
	}
	.b-tab {
		width: 62%;
	}
	.cont-tab {
		margin-top: 15px;
	}
	.link-news {
		font-size: 10px;
		margin-top: 5px;
		margin-right: 20px;
	}
	.link-news:after {
		top: 0;
	}
	.item-news-f {
		.item-news {
			width: 88%;
			margin-top: 16px;
			margin-left: 17px;
		}
		.item-news__link {
			height: 123px;
			padding-left: 20px;
		}
	}
	.paginator {
		margin-top: 7px;
	}
	.grey-b {
		padding: 43px 0 39px;
	}
	h2 {
		font-size: 24px;
		line-height: 4px;
	}
	.form-select {
		padding: 16px 22px;
	}
	.border-co {
		padding: 10px 19px 18px;
	}
	.form-send .form-send__block {
		padding: 12px 0 0;
	}
	.send-b {
		padding: 14px 10px 9px;
	}
	.plan-mobl {
		padding: 0;
		margin-top: -28px;
		padding-top: 23px;
		.b-tab {
			width: 50%;
		}
		.link-news {
			font-size: 10px;
			margin-top: 17px;
			margin-right: 39px;
		}
	}
	.b-tab__item {
		padding-bottom: 2px;
	}
	.cal {
		width: 73%;
		margin: 29px auto 41px;
	}
	.conteiner-txt {
		margin-top: -9px;
	}
	.mar-tu {
		font-size: 19px;
		margin-top: 33px;
		margin-bottom: 18px;
	}
	.send-m {
		width: 100%;
		margin-top: 0;
	}
	.b-find__txt {
		width: 175px;
		font-size: 11px;
		margin-top: 29px;
	}
	.con-me {
		padding: 17px 26px 25px;
	}
}
