.big-inf {
    .papab__title {
        &:before {
            content: none;
        }
    }
}

.infrma-st {
    .left-page__title {
         margin-bottom: 41px;
    }
    .profile-info__link {
         letter-spacing: 0.13em;
         margin-right: 8px;
    }
    &__txt {
        font-family: 'FrutigerNeueLTW1G-Book';
        font-size: 15px;
        color: #424242;
        line-height: 26px;
        letter-spacing: 0.01em;
        margin-top: 28px;
    }
}

.fotorama_5 .fotorama__dot{
    background: #e6e6e6;
}

.infogr {
     margin-top: 87px;
    &__year {
        font-family: "GaramondPremrPro-BdIt";
        color: #3e50b4;
        font-size: 76px;
        z-index: 2;
        position: relative;
        margin: 0;
        &-span {
            font-size: 36px;
            margin-left: -8px;
        }
    }
    &__txt {
        font-family: "FrutigerNeueLTW1G-Regular";
        color: #616161;
        font-size: 13px;
        margin: 0;
        line-height: 18px;
        width: 121px;
        margin-top: -2px;
        letter-spacing: 0.03em;
    }
    &__item {
        position: relative;
        width: 31%;
        float: left;
        margin-right: -3px;
        &:last-child {
            margin-left: -9px;
        }
    }
    &__img {
        position: absolute;
        top: -15px;
    }
}

.enterance {
    margin-top: 65px;
    &-left {
        width: 179px;
        float: left;
        &__item {
            font-family: "FrutigerNeueLTW1G-Regular";
            color: #424242;
            font-size: 17px;
            position: relative;
            padding: 29px 4px 2px 48px;
            &:before {
                content: "";
                width: 33px;
                height: 41px;
                background: url("../img/kem-ic.png");
                position: absolute;
                left: -3px;
                top: 16px;
            }
            &-2:before {
                background-position: 0 88px;
            }
            &-3:before {
                background-position: 0 41px;
            }
        }
    }
    &-right {
        width: 360px;
        float: right;
    }
    &__title {
        font-family: "GaramondPremrPro-Bd";
        color: #101010;
        font-size: 17px;
        text-transform: uppercase;
        min-height: 41px;
    }
}
.cor-b {
    margin-top: 73px;
    border-bottom: 1px solid #e6e6e6;
}
.in-block {
    margin-bottom: 82px;
    &:last-child {
        margin-bottom: 66px;
    }
    &__title {
        font-family: "GaramondPremrPro-BdIt";
        color: #3e50b4;
        font-size: 23px;
        letter-spacing: 0.02em;
        text-transform: none;
        margin: 0;
    }
    &__bold {
        font-family: "FrutigerNeueLTW1G-Bold";
        font-size: 15px;
        color: #424242;
        margin-top: 35px;
        line-height: 23px;
        letter-spacing: 0.02em;
        margin-bottom: 14px;
    }
    &__item {
        font-family: 'FrutigerNeueLTW1G-Book';
        font-size: 14px;
        color: #424242;
        text-indent: 15px;
        position: relative;
        margin: 6px 0 6px;
        line-height: 21px;
        &:before {
            content: "";
            height: 1px;
            width: 7px;
            background: #5766bd;
            position: absolute;
            left: 0;
            top: 11px;
        }
    }
    &__list {
        margin: 0;
    }
}
.infrma-st {
     .slid-new{
        margin-top: 78px;
     }
    .st-reviews__img {
        margin: 7px 0;
    }
    .st-reviews__name {
        margin-top: 15px;
    }
}

.list-s-st {
    margin-top: 75px; 
    .list-way li:before {
        font-size: 142px;
        color: #e6e6e6;
    }
    .list-way {
        padding-left: 0;
        margin-top: 102px;
    }
    .list-way__txt:before {
        width: 62px;
        height: 77px;
        background-size: contain;
        right: 68px;
        top: -56px;
    }
    .list-way__item:after {
        content: url("../img/arrow-right-s.png");
    }
    .list-way__item:first-child {
        margin-left: -5px;
    }
    .list-way__txt {
        font-size: 12px;
        padding-top: 62px;
        padding-left: 5px;
        letter-spacing: 0.06em;
    }
    .list-way__item {
        width: 151px;
        margin: 0 0px 0 42px;
    }
    .list-way__item:after {
        right: -2px;
    }
     .list-way__item:last-child:after  {
        content: none;
    }
}
.inf-start__list .slick-dots {
    position: absolute;
    right: 46%;
    top: 101%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.form-card.form-card__new-st {
    text-align: center;
    margin-top: 89px;
    .form-card__block {
        width: 33.3%;
        padding: 12px;
    }
    .form-card__input {
        width: 100%;
        font-family: 'FrutigerNeueLTW1G-Book';
        font-size: 11px;
        padding: 18px 19px 16px;
    }
    .form-card__b {
        margin: 16px -12px 0 -12px;
    }
    .form-card__send {
        padding: 17px 25px;
        margin-left: 3px;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 10px;
    }
}

.inf-start {
    margin-top: 117px;
    &__list {
        margin: 0 -12px 33px;
    }
    &__item {
        padding: 7px 12px;
        width: 50%;
        box-sizing: border-box;
        float: left;
    }
    &__el {
        background: #fff;
        border: 1px solid #e0e0e0;
        border-top: 2px solid #3e50b4;
        font-size: 0;
    }
    &__stat {
        font-family: "GaramondPremrPro-Med";
        color: #424242;
        font-size: 12px;
        margin: 26px 25px 15px;
    }
    &__link {
        font-family: "GaramondPremrPro-MedIt";
        font-size: 21px;
        display: inline-block;
        color: #3e50b4;
        padding: 3px 15px 0 25px;
        line-height: 23px;
        height: 91px;
    }
    &__line {
        width: 25px;
        height: 1px;
        background: #fe9700;
        margin-left: 25px;
    }
    &__p {
         font-family: "FrutigerNeueLTW1G-Regular";
         color: #b5b5b5;
         font-size: 9px;
         text-transform: uppercase;
         width: 50%;
         float: left;
         box-sizing: border-box;
         padding-left: 16px;
         margin-top: 11px;
         margin-bottom: 29px;
         &:first-child {
            width: 43%;
            padding-left: 26px;
         }
    }
    &__span {
        color: #212121;
        text-transform: none;
        display: block;
        font-size: 11px;
        margin-top: 7px;
    }
    .st-reviews__title {
        margin-bottom: 35px;
    }
}
@media (max-width: 1200px) and (min-width: 300px) {
    .list-s-st .list-way {
        text-align: center;
    }
    .inf-start__list {
        margin: 0 0 33px;
    }
    .n-s-hide {
        display: none;
    }
}

@media (max-width: 780px) and (min-width: 300px) {
    .infrma-st .left-page__title {
        margin-left: 21px;
    }
    .infrma-st .profile-info {
        left: 0;
        margin: 0px 0px 0px 16px;
    }
    .infogr__item {
        width: 32%;
        margin-right: -5px;
    }
    .enterance-right {
        width: 352px;
    }
    .form-card.form-card__new-st {
        margin-left: -16px;
    }
    .list-s-st .list-way__item {
        width: 146px;
    }
    .list-s-st .list-way__item:after {
        right: -28px;
    }
    .list-s-st .list-way__txt:before {
        right: 20px;
    }
}

@media (max-width: 760px) and (min-width: 300px) {
    .list-s-st .list-way__item:after {
        content: none;
    }
}

@media (max-width: 580px) and (min-width: 300px) {
    .enterance-left, .enterance-right{
        width: 100%;
    }
    .infogr__item {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .infogr {
        text-align: center;
    }
    .infogr__txt, .inf-start__item {
        width: 100%;
    }
    .list-s-st .list-way {
        padding-left: 30px;
        padding-right: 0;
    }
}
@media (max-width: 500px) and (min-width: 300px) {
    .form-card.form-card__new-st .form-card__block {
        width: 100%;
    }
    .form-card__title {
        font-size: 25px;
    }
    .inf-start__list .slick-dots {
         right: 50%;
         margin-right: -60px;
    }
}