.list-wrapper {
    padding-left: 63px;
}

.columns {
    counter-reset: c;
    position: relative;
    padding-top: 58px;
    display: inline-block;
    li {
        &:nth-child(odd) {
            margin-right: 80px;
        }
        position: relative;
        padding-bottom: 65px;
        counter-increment: c;
        list-style: none;
        width: 300px;
        // margin-right: 25px;
        vertical-align: top;
        display: inline-block;
        &:before {
            content: counter(c, decimal-leading-zero);
            color: #eee;
            font-size: 92px;
            font-family: "GaramondPremrPro-MedIt";
            position: absolute;
            top: -40px;
            left: -65px;
        }
        .list-title {
            color: #3e50b4;
            position: relative;
            z-index: 1;
            font-size: 21px;
            font-family: "GaramondPremrPro-MedIt";
            transition: .4s;
            a {
                color: #3e50b4;
                &:hover {
                    text-decoration: underline;
                    transition: .4s;
                }
            }
            &:after {
                content: '';
                width: 40px;
                height: 2px;
                background: #fe9700;
                display: block;
                margin-top: 10px;
            }
        }
        .list-content {
            padding-top: 30px;
            a {
                display: block;
                font-size: 13px;
                color: #424242;
                padding-bottom: 12px;
                font-family: "FrutigerNeueLTW1G-Light";
                transition: .4s;
                &:hover {
                    color: #3e50b4;
                    transition: .4s;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .columns li {
        width: 45%;
        &:nth-child(odd) {
            margin-right: 60px;
        }
    }
}

@media (max-width: 768px) {
    .columns li {
        width: 45%;
        &:nth-child(odd) {
            margin-right: 40px;
        }
    }
}

@media (max-width: 630px) {
    .columns li {
        width: 100%;
        &:nth-child(odd) {
            margin-right: 0px;
        }
    }
}
