.filter-wrap {
    margin:40px 0 0;
    &__title{
        display: inline-block;
        vertical-align: middle;
        font: 10px/20px "FrutigerNeueLTW1G-Bold";
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #616161;
        margin-right: 13px;
    }
    &__title_m-l{
        margin-left: 13px;
    }
    .selectric-wrapper{
        display: inline-block;
        vertical-align: middle;
    }
    &__select-wrapper {
        float: left;
        margin: 0 35px 20px 0;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 680px) {
            display: block;
            float: none;
            width: 100%;
            margin:0 0 15px;
        }
    }
    &__select-wrapper_w-278{
        width: 100%;
        max-width: 278px;
        .selectric-wrapper{
            width: 100%;
        }
        @media (max-width: 680px) {
            max-width: 100%;
        }
    }
    .selectric-items {
        left: 0;
        li {
            padding: 15px;
        }
    }
    .selectric-open {
        .selectric {
            .button {
                transform: rotateZ(180deg);
            }
        }
    }
    &__select {
        .selectric {
            width: 100%;
            height: 50px;
            margin: 0;
            padding: 0;
            .label {
                height: 50px;
                padding-left: 13px;
                letter-spacing: 0.8px;
                line-height: 50px;
            }
            .button {
                width: 50px;
                height: 50px;
                background: url("../img/select-arrow.png") no-repeat center center;
                &:after {
                    display: none;
                }
            }
        }
    }
    .select {
        width: auto;
        max-width: 45%;
        margin: 0;
        padding-right: 18px;
    }
}
/* @group Lists specific
  --------------------------------------------------------------------------- */
.list {}

.list_unstyled {
    padding: 0;
    list-style: none;

    >.list__item {
        background-image: none;
        padding: 0;
    }
}
.filter-wrap .selectric-open .selectric .button:before {
    content: none;
}
.list_flat {
    margin: 0;
    padding: 0;
    list-style: none;

    >.list__item {
        background: none;
        margin: 0;
        padding: 0;
    }
}

.list_inline {

    >.list__item {
        display: inline-block;
        vertical-align: top;

        .ie6-7 & {
            display: inline;
            zoom: 1;
        }
    }
}

/* @end */
.i-ico {
    display: inline-block;
    vertical-align: middle;

    .ie6-7 & {
        display: inline;
        zoom: 1;
    }
}
.i-ico_photo{
    width: 16px;
    height: 13px;
    background: url(../img/ico-photo.png) no-repeat;
}

.list_multimedia{
    position: relative;
    margin: 0 -13px;
    font-size: 0;
    @media (max-width: 1200px) and (min-width: 300px) {
        margin: 0 -10px;
    }
    @media (max-width: 480px) {
        margin: 0;
    }
    >.list__item{
        width: 50%;
        //max-width: 387px;
        @media (max-width: 1200px) and (min-width: 768px) {
           width: 33.33%;
        }
        @media (max-width: 768px) and (min-width: 480px) {
           width: 50%;
        }
        @media (max-width: 480px) {
            width: 100%;
            //max-width: 100%;
        }
    }
}
.multimedia-item{
    //width: 348px;
    margin: 20px 26px 19px 13px;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    @media (max-width: 1200px) and (min-width: 480px) {
        margin: 20px 29px 19px 10px;
    }
    @media (max-width: 480px) {
        max-width: 348px;
        margin: 20px auto 19px;
    }
    &__main{
        display: block;
        text-decoration: none;
        &:hover{
            .multimedia-item__preview{
                img{
                    -moz-transform: scale(1.03);
                    -webkit-transform: scale(1.03);
                    transform: scale(1.03);
                }
            }
        }
    }
    &__pic-wrap{
        display: block;
        position: relative;
        padding-bottom: 10px;
        &:before{
            position: absolute;
            top: 10px;
            right: -10px;
            bottom: 0;
            left: 10px;
            background: #eeeeee;
            content:'';
        }
    }
    &__preview{
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        img{
            display: block;
            max-width: 100%;
            height: auto;
            -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
            -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
            -webkit-backface-visibility: hidden;
        }
        video, object, iframe, embed{
            max-width: 100%; 
        }
    }
    &__type{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font: 15px/23px "GaramondPremrPro-SmbdIt";
        color: #fff;
        padding: 15px 20px;
        .i-ico{
            margin-right: 11px;
            vertical-align: baseline;
        }
    }
    &__title{
        display: block;
        font: 17px/23px "GaramondPremrPro-Med";
        color: #3e50b4;
        margin: 20px 0 10px;
    }
    &__label{
        margin: 10px 0;
    }
    &__label__item{
        font: 9px/20px 'FrutigerNeueLTW1G-Book';
        color: #bdbdbd;
        margin-right: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}