.clearfix {
    clear: both;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.pre-newspic-mod {
    width: 265px;
    .pic-info {
        padding: 15px 30px;
    }
}

.pre-newslead-mod {
    width: 455px;
    .time-date {
        float: none;
    }
}

.news-detal-mod {
    margin-top: 70px;
}

.fln {
    float: none;
}

.feedback {
    position: relative;
}

.feedback-line:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #fbaf5d;
}

.border-mod {
    border: none;
}

.news-inner-mod {
    width: 365px;
    margin-right: 6px;
}

.date-mod {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-family: "GaramondPremrPro-MedIt";
    .number {
        font-size: 61px;
        line-height: 45px;
    }
    .month {
        font-size: 21px;
    }
}

.btn {
    display: none;
}

.bold {
    font-weight: 700;
    font-family: "FrutigerNeueLTW1G-Bold";
}

.selectric-pad-mod {
    .selectric {
        padding: 6px 2px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .pre-newslead-mod {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .news-pic-wrapper {
        margin-right: 15px;
    }
    .pre-newslead-mod {
        width: 435px;
    }
}



@media (max-width:768px) {
    .daterangepicker.ltr .ranges,
    .daterangepicker.ltr .calendar {
        float: none;
    }
}

.daterangepicker {
    display: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.grey-b-mod {
    padding: 1px 0;
}

.filter .date-pad-mod {
    float: right;
    a {
        float: right;
    }
}
.filter .date {
    padding-left: 45px;
}
.float-wrap {
    text-align: right;
    font-family: "FrutigerNeueLTW1G-LightIt";
    color: #b5b5b5;
    font-size: 9px;
    padding-bottom: 5px;
}

.feedback-mod {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -35px;
        left: 0;
        width: 97px;
        height: 3px;
        background: #fbaf5d;
    }
}
.pad-top {
    padding-top: 40px;
}

// .is-active {
//     display: block;
// }

// .no-date:before {
//     display: none;
// }


.height-mod {
    height: auto;
}
.width-mod {
    width: 670px;
}
@media (max-width: 800px) {
    .filter .date {
        padding-left: 15px;
    }
    .filter a {
        margin-left: 10px;
    }
    }
@media (max-width: 630px) {
    .news-pic-wrapper,
    .news-article-wrapper,
    .pre-newspic-mod,
    .pre-newslead-mod {
        width: 100%;
    }
    .pre-newslead-mod,
    .news-article-wrapper {
        padding-top: 20px;
    }
    .subscribe a {
        float: none;
        margin-top: 30px;
    }
    .filter .date {
        padding-left: 0;
        width: 375px;
    }
    .filter .date .i-calendar {
        top: 47%;
        right: 12px;
    }
    .filter a {
        margin-left: 15px;
        margin-top: 0px;
    }
    .filter .date input {
        width: 212px;
    }
    .filter .filter-title {
        float: none;
    }
    .not-f-s .block-but {
        float: none;
    }
}

@media (max-width: 400px) {
        .filter .date {
            width: 100%;
            font-size: 0;
        }
        .period-wrapper {
            width: 56px;
        }
        .filter a {
           margin-left: 0;
        }
        .filter .date input {
            width: 100%;
            padding-left: 10px;
            box-sizing: border-box;
        }
        .filter .period-wrapper {
            width: 100%;
        }
        .filter .date .i-calendar {
            top: 72%;
        }
    }