
.main-week {
    margin-top: 40px;
    border: 1px solid #3e50b4;
    border-left: none;
    border-right: none;
    padding-bottom: 40px;
    .week-theme {
        padding: 25px 0 20px 0;
        font-family: "GaramondPremrPro-Smbd";
        font-size: 20px;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }
}

.news-pic-wrapper {
    width: 360px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    .news-pic img {
        display: block;
        width: 100%;
    }
    .pic-info {
        background: #fff;
        border: 1px solid #e0e0e0;
        border-top: none;
        padding: 25px 30px;
        .pic-title {
            font-family: "FrutigerNeueLTW1G-Bold";
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 1.5px;
            display: inline-block;
        }
    }
}

.pic-title {
    font-family: "FrutigerNeueLTW1G-Bold";
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    display: inline-block;
}

.time-date {
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #424242;
    font-family: "GaramondPremrPro-Med";
    color: #b5b5b5;
    padding-top: 2px;
    &:before {
        content: '';
        display: inline-block;
        margin-right: 6px;
        vertical-align: top;
        background: url('../img/time.png');
        width: 12px;
        height: 12px;
    }
}

.news-article-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    .title {
        color: #3e50b4;
        font-size: 23px;
        font-family: "GaramondPremrPro-MedIt";
    }
    .lead {
        line-height: 20px;
        font-size: 13px;
        font-family: 'FrutigerNeueLTW1G-Book';
    }
}

.news-links {
    padding-top: 10px;
    .news-link {
        color: #3e50b4;
        text-decoration: underline;
        font-size: 9px;
        display: inline-block;
        padding-right: 15px;
        text-transform: uppercase;
        font-family: 'FrutigerNeueLTW1G-Book';
        letter-spacing: 1.2px;
        &:hover {
            text-decoration: none;
        }
    }
}

.subscribe {
    margin-top: 35px;
    background: #fff;
    padding: 30px 32px;
    .text {
        float: left;
        .title {
            text-transform: uppercase;
            font-weight: normal;
            font-family: 'FrutigerNextLTW1G-Black';
            font-size: 15px;
            color: #424242;
            padding-top: 5px;
        }
        .desc {
            font-size: 15px;
            padding-top: 15px;
            color: #3e50b4;
            font-family: "GaramondPremrPro-BdIt";
        }
    }
    a {
        float: right;
        display: inline-block;
        border: 1px solid #3e50b4;
        color: #3e50b4;
        font-size: 13px;
        font-family: "FrutigerNeueLTW1G-Bold";
        padding: 18px 62px;
        transition: .4s;
        &:hover {
            background:#3e50b4;
            color: #fff;
            transition: .4s;
        }
        &:active {
            background: #35459d;
            border-color: #35459d;
            color: #fff;
            transition: .4s;
        }
    }
}

.news-block {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    &:not(:first-child) {
        padding-top: 20px;
    }
}

//detal
.detal {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 30px;
    padding-top: 22px;
    padding-bottom: 15px;
    .time-date {
        padding-right: 65px;
    }
    .img-wrap {
        padding-top: 1em;
        img {
            width: 100%;
        }
    }
}

.dat {
    display: inline-block;
    margin-top: 30px;
    vertical-align: baseline;
    font-family: "GaramondPremrPro-Med";
    line-height: 47px;
    font-size: 12px;
    margin-right: 65px;
    color: #b5b5b5;
    position: relative;
    padding-left: 20px; 
    span {
        color: #616161;
    }
    &:before {
        content: url("../img/dat.png");
        position: absolute;
        left: 0;
        top: 1px;
    }   
}

.google-link a{
    font-family: "FrutigerNeueLTW1G-Regular";
    color: #616161;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-size: 11px;
    position: relative;
    padding-left: 18px;
    &:hover {
        color: #3e50b4;
    }
    &:before {
        content: url("../img/g.jpg");
        position: absolute;
        left: 0;
        top: -1px;
    }
}

.news-back {
    text-decoration: underline;
    font-size: 13px;
    font-family: "FrutigerNeueLTW1G-Bold";
    color: #3e50b4;
    &:hover {
        text-decoration: none;
    }
}

.top-text {
    font-size: 17px;
    font-family: "FrutigerNeueLTW1G-Light";
    line-height: 30px;
}

.img-caption {
    font-family: "GaramondPremrPro-Med";
    font-size: 15px;
    padding-top: 15px;
    color: #757575;
}

.after-pic {
    font-family: 'FrutigerNeueLTW1G-Book';
    font-size: 13px;
    padding: 45px 0;
    line-height: 24px;
    color: #424242;      
    p:not(:first-child) {
        padding-top: 25px;
    }
}

.photo-block {
    .title {
        font-family: "FrutigerNeueLTW1G-Bold";
        font-size: 16px;
        padding-bottom: 30px;
    }
}

.photo-wrapper {
    display: inline-block;
    margin: 0 9px 10px 0;
    img {
        display: block;
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.other-news {
    padding-top: 85px;
    .item-news {
        margin: 0;
        &:nth-child(odd) {
            margin-right: 10px;
        }
    }
    &:not(:first-child) {
        padding-top: 95px;
    }
    .wrapper {
        // border-bottom: 1px solid #e0e0e0;
        padding-bottom: 15px;
    }
    .title-wrapper {
        border-bottom: 1px solid #e0e0e0;

    }
    .title {
        font-size: 20px;
        font-family: "FrutigerNeueLTW1G-Regular";
        float: left;
        padding-bottom: 15px;
    }
    .show-more {
        float: right;
        a {
            color: #004580;
            font-size: 14px;
            font-family: "FrutigerNeueLTW1G-Regular";
        }
        &:after {
            content: '';
            display: inline-block;
            background: url(../img/arr-r.png) no-repeat center center;
            width: 11px;
            height: 7px;
            vertical-align: middle;
        }
    }
    .news-inner-wrapper {
        padding-top: 55px;
    }
}

.main-title {
    font-size: 20px;
    font-family: "GaramondPremrPro-Med";
    padding-bottom: 35px;
    color: #3e50b4;
}

.top-link {
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #3e50b4;
    display: block;
    font-family: 'FrutigerNextLTW1G-Black';
    letter-spacing: 1.4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background: #3e50b4;
    color: #fff;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    color: #000;
}
.daterangepicker td.in-range {
    background-color: #b5b5b5;
    color: #fff;
    }
.daterangepicker td.active, .daterangepicker td.active {
    background: #3e50b4;
    color: #fff;
}

.filter {
    padding-top: 60px;
    vertical-align: middle;
    .filter-title {
        font-size: 36px;
        font-family: "GaramondPremrPro-BdIt";
        float: left;
    }
    .date {
        float: left;
        padding-left: 58px;
        line-height: 45px;
        position: relative;
        .period {
            font-family: "FrutigerNeueLTW1G-Bold";
            font-size: 10px;
            color: #616161;
            letter-spacing: 1.7px;
        
            text-transform: uppercase;
            line-height: 15px;
        
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
        }
        input {
            font-size: 13px;
            font-family: "FrutigerNeueLTW1G-Light";
            color: #ababab;
            padding-left: 20px;
            width: 235px;
            height: 51px;
            border: 1px solid #DDD;
        }
        .i-calendar {
            position: absolute;
            width: 20px;
            height: 22px;
            display: block;
            top: 50%;
            transform: translate(0,-50%);
            right: 20px;
            background: url('../img/range-date.png') no-repeat center center;
            cursor: pointer;
        }
    }
            a {
            float: left;
            text-decoration: underline;
            font-size: 11px;
            color: #3e50b4;
            display: block;
            line-height: 51px;
            font-family: "GaramondPremrPro-MedIt";
            margin-left: 20px;
            &:hover {
                text-decoration: none;
            }
        }
}
.period-wrapper {
    position: relative;
    width: 100px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    // float: left;
}

.other-news .title-wrapper {
    margin-bottom: 20px;
}



@media (max-width:630px) {
    .photo-block {
        text-align: center;
    }
    .subscribe {
        text-align: center;
    }
    .other-news .item-news {
        width: 100%;
    }
    .other-news {
        display: none;
    }
    .filter .date {
        padding-left: 0;
        width: 76%;
    }
    .filter .date .i-calendar {
        top: 74%;
    }
}
@media (max-width:1200px) {
    .news-article-wrapper {
        width: 60%;
    }
}
@media (max-width:1000px) {
    .other-news .title-wrapper {
        margin-bottom: 25px;
    }
    .news-article-wrapper {
        width: 55%;
    }
}
@media (max-width:870px) {
    .news-article-wrapper {
        width: 45%;
    }
}