.left-page {
    &__title {
        letter-spacing: 0.8px;
        margin-top: 0px;
        @media (max-width: 680px) {
            font-size: 26px;
            line-height: 30px;
                margin-top: 0;
        }
    }
}
.personal {
    padding-bottom: 0;
    .left-page {
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }
}
.personal-select {
    margin-top: 60px;
    margin-bottom: 29px;
    font-family: "FrutigerNeueLTW1G-Bold";
    &__link {
        display: inline-block;
        padding: 8px 11px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #616161;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        background: #fff;
        font-size: 10px;
        &:hover {
            background: #3e50b4;
            color: #fff;
            transition: all 0.3s;
        }
        &:active {
            background: #35459d;
            border-color: #35459d;
            color: #fff;
            transition: all 0.3s;
        }
        @media (max-width: 680px) {
            margin-bottom: 10px;
        }
        &:first-child {
            margin-right: 7px;
        }
        &.is-active {
            color: #fff;
            border-color: #3e50b4;
            background: #3e50b4;
            &:hover {
                background: #fe9700;
                border-color: #fe9700;
                transition: all 0.3s;
            }
            &:active {
                
                background: #e48801;
                border-color: #e48801;
                transition: all 0.3s;
            }
        }
    }
}
.ie-edge{
    .sort-wrap {
        &__form {
            position: static;
        }
        &__submit {
            float: right;
            position: relative;
            margin-top: -50px;
        }
    }
}

.ios{
    .sort-wrap {
        &__search {
            // padding-top: 10px;
            &::-webkit-input-placeholder {
                position: relative;
                top: 5px;
            }
        }
    }
}
.sort-wrap {
    margin-bottom: 20px;

    &__form {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        @media (max-width: 680px) {
            display: block;
            float: none;
        }
        // &:after {
        //     display: block;
        //     content: '';
        //     background: url("../img/search-icon.png") no-repeat;
        //     @include size(17px,17px);
        //     @include position(absolute,17px 24px null null);
        // }
    }
    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent url("../img/search-icon.png") no-repeat center center;
        color: transparent;
        border: none;
        outline: none;
        width: 65px;
        height: 50px;
        cursor: pointer;
    }
    &__search {
        box-sizing: border-box;
        padding-right: 12%;
        padding-left: 3.2%;
        border: 1px solid #e0e0e0;
        background: #fff;
        @include size(100%,50px);
        // position: relative;
        &::-webkit-input-placeholder {
            transition: opacity 0.2 ease;
            color: #bdbdbd;
            font-family: "FrutigerNeueLTW1G-LightIt";
            font-size: 13px;
        }
        &::-moz-placeholder {
            transition: opacity 0.2 ease;
            color: #bdbdbd;
            font-family: "FrutigerNeueLTW1G-LightIt";
            font-size: 13px;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            transition: opacity 0.2 ease;
            color: #bdbdbd;
            font-family: "FrutigerNeueLTW1G-LightIt";
            font-size: 13px;
        }
        /* Firefox 18- */
        &::-ms-input-placeholder {
            transition: opacity 0.2 ease;
            color: #bdbdbd !important;
            font-family: "FrutigerNeueLTW1G-LightIt";
            font-size: 13px;
            position: relative;
        }
        &:-ms-input-placeholder {
            transition: opacity 0.2 ease;
            color: #bdbdbd !important;
            font-family: "FrutigerNeueLTW1G-LightIt";
            font-size: 13px;
            position: relative;
        }

        &:focus::-webkit-input-placeholder {
            transition: opacity 0.2 ease;
            opacity: 0;
        }
        &:focus::-moz-placeholder {
            transition: opacity 0.2 ease;
            opacity: 0;
        }
        &:focus:-moz-placeholder {
            transition: opacity 0.2 ease;
            opacity: 0;
        }
        &:focus:-ms-input-placeholder {
            transition: opacity 0.2 ease;
            opacity: 0;
        }
    }
    &__select-wrapper {
        width: 252px;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
        @media (max-width: 680px) {
            &:first-child,
            &:last-child {
                display: block;
                float: none;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    .selectric-items {
        left: 0;
        li {
            padding: 15px;
        }
    }
    .selectric-open {
        .selectric {
            .button {
                transform: rotateZ(180deg);
            }
        }
    }
    &__select {
        .selectric {
            width: 100%;
            height: 50px;
            margin: 0;
            padding: 0;
            .label {
                height: 50px;
                padding-left: 13px;
                letter-spacing: 0.8px;
                line-height: 50px;
            }
            .button {
                width: 50px;
                height: 50px;
                background: url("../img/select-arrow.png") no-repeat center center;
                &:after {
                    display: none;
                }
            }
        }
    }
}
.tab-body {
    display: none;
    &.active {
        display: block;
    }
}
.people-list {
    &__schedule {
        width: 109px;
        text-transform: none;
        color: #3e50b4;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 11px;
        line-height: 14px;
        @include position(absolute,0 69px null null);
        @media (max-width: 1200px) {
            right: 54px;
        }
        @media (max-width: 680px) {
            position: relative;
            right: 0;
            float: left;
            margin-top: 20px;
            margin-left: 21px;
        }
        &:hover {
            text-decoration: underline;
        }
        &::before {
            content: '';
            @include position(absolute,1px null null -22px);
            @include sprite($schedule);
        }
    }
    &__person {
        position: relative;
        margin-bottom: 19px;
        padding: 30px 0 35px 213px;
        transition: 0.3s ease;
        border: 1px solid #e0e0e0;
        @media (max-width: 680px) {
            padding: 30px 30px 35px;
        }
        .person-contact-wrap {
            position: relative;
            min-height: 134px;
        }
        .person-image {
            position: absolute;
            left: 29px;
            @media (max-width: 680px) {
                position: relative;
                left: 0;
                display: block;
                margin: 0 auto 20px;
            }
        }
        &:hover {
            transition: 0.3s ease;
            background: #fff;
            box-shadow: 0 15px 27px -14px rgba(106,106,106,0.5);
        }
    }
    &__name {
        display: block;
        margin-bottom: 24px;
        letter-spacing: 0.7px;
        color: #3e50b4;
        font-family: "GaramondPremrPro-BdIt";
        font-size: 27px;
        @include position(relative, -6px null null 2px );
        @media (max-width: 680px) {
            text-align: center;
            font-size: 20px;
        }
    }
    &__position {
        text-transform: uppercase;
        color: #616161;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 10px;
        .position__name {
            margin-top: 7px;
            letter-spacing: 0.13px;
            text-transform: none;
            color: #3e50b4;
            font-family: "FrutigerNeueLTW1G-Light";
            font-size: 13px;
            line-height: 18px;
        }
    }
    &__academic {
        width: 100%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #616161;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 10px;
        @include position(absolute,null null 0 0);
        @media (max-width: 680px) {
            position: relative;
            margin-bottom: 10px;
        }
        .academic__name {
            margin-top: 6px;
            text-transform: none;
            color: #616161;
            font-family: "FrutigerNeueLTW1G-Light";
            font-size: 13px;
            line-height: 18px;
            @media (max-width: 680px) {
                width: 50%;
            }
        }
    }
    .center-info-wrapper {
        float: left;
        width: 56%;
        @media (max-width: 680px) {
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .person-contact {
        float: right;
        width: 145px;
        margin-top: -3px;
        margin-right: 52px;
        @media (max-width: 1200px) {
            margin-right: 37px;
        }
        @media (max-width: 680px) {
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }
        &__info {
            position: relative;
            margin-bottom: 12px;
            padding-left: 20px;
            color: #616161;
            font-family: "FrutigerNeueLTW1G-Regular";
            font-size: 13px;
            a {
                color: #616161;
            }
            &::before {
                position: absolute;
                top: 0;
                left: -2px;
                content: '';
            }
            &.phone {
                &::before {
                    @include sprite($phone);
                }
            }
            &.email {
                &::before {
                    top: 3px;
                    left: -3px;
                    @include sprite($email);
                }
            }
            &.location {
                &::before {
                    @include sprite($location);
                }
            }
        }
    }
}
#page-body>div:first-child {
    padding-top: 1px!important;
}
.btn-rect {
    display: inline-block;
    box-sizing: border-box;
    width: 260px;
    height: 50px;
    text-align: center;
    color: #3e50b4;
    border: 1px solid #3e50b4;
    font-family: "FrutigerNeueLTW1G-Bold";
    font-size: 13px;
    line-height: 50px;
    &.blue {
        background: #3e50b4;
        color: #fff;
        transition: all 0.3s;
        &:hover {
            background: #fe9700;
            border-color: #fe9700;
            transition: all 0.3s;
        }
        &:active {
            background: #e48801;
            border-color: #e48801;
            transition: all 0.3s;
        }
    }
    &:hover {
        background: #3e50b4;
        color: #fff;
        transition: all 0.3s;
    }
    &:active {
        background: #35459d;
        border-color: #35459d;
        color: #fff;
        transition: all 0.3s;
    }
    @media(max-width: 767px) {
        display: block;
        margin: 0 auto;
    }
}
.pagination {
    margin-top: 52px;
    @media (max-width: 1200px) {
        margin-top: 38px;
        margin-bottom: 88px;
    }
    &__info {
        float: right;
        margin-top: 18px;
        text-align: right;
        letter-spacing: 0.3px;
        color: #424242;
        font-family: "FrutigerNeueLTW1G-Light";
        font-size: 13px;
    }
}
//Personal Detail Page
.profile {
    margin-top: 61px;
    margin-bottom: 16px;
    @media (max-width: 1200px) {
        margin-top: 64px;
    }
    &__img-wrapper {
        float: left;
        width: (240*100/748)+%;
        @media (max-width: 650px) {
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__info-wrapper {
        float: left;
        width: (100-(240*100/748))+%;
        padding: 3px 0 0 50px;
        @media(max-width: 1200px) {
            padding: 3px 0 0 55px;
        }
        @media (max-width: 650px) {
            float: none;
            width: 100%;
            padding: 0;
        }
    }
    &__position {
        text-transform: uppercase;
        color: #616161;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 10px;
        .position__name {
            margin-top: 7px;
            letter-spacing: 0.13px;
            text-transform: none;
            color: #3e50b4;
            font-family: "FrutigerNeueLTW1G-Light";
            font-size: 13px;
            line-height: 18px;
            width: 70%;
            margin-bottom: 24px;
        }
    }
    &__academic {
        width: 100%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #616161;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 10px;
        margin-bottom: 26px;
        .academic__name {
            margin-top: 6px;
            text-transform: none;
            color: #616161;
            font-family: "FrutigerNeueLTW1G-Light";
            font-size: 13px;
            line-height: 18px;
        }
    }
    &__time {
        width: 100%;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #616161;
        font-family: "FrutigerNeueLTW1G-Regular";
        font-size: 10px;
        margin-bottom: 51px;
        .time__info {
            margin-top: 6px;
            text-transform: none;
            color: #616161;
            font-family: "FrutigerNeueLTW1G-Light";
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0;
            a {
                color: #3e50b4;
            }
        }
    }
    &__contact {
        // margin-top: -3px;
        // margin-right: 28px;
        position: relative;
        // margin-left: 4px;
        margin: -3px 23px 0 4px;
        .contact__info {
            display: block;
            position: relative;
            margin-bottom: 12px;
            padding-left: 20px;
            color: #616161;
            font-family: "FrutigerNeueLTW1G-Regular";
            font-size: 13px;
            a {
                color: #616161;
            }
            &::before {
                position: absolute;
                top: 0;
                left: -2px;
                content: '';
            }
            &.phone {
                &::before {
                    @include sprite($phone);
                }
            }
            &.email {
                &::before {
                    top: 3px;
                    left: -3px;
                    @include sprite($email);
                }
            }
            &.location {
                &::before {
                    @include sprite($location);
                }
            }
            &.schedule {
                color: #3e50b4;
                font-size: 11px;
                position: absolute;
                top: 0;
                right: 0;
                letter-spacing: 0.2px;
                &::before {
                    @include sprite($schedule);
                }
                &:hover {
                    text-decoration: underline;
                }
                @media (max-width: 1200px) {
                    position: relative;
                    margin-top: 26px;
                    left: -2px;
                }
            }
        }
    }
    &__return-link {
        color: #3e50b4;
        font-family: "FrutigerNeueLTW1G-Bold";
        font-size: 13px;
        position: relative;
        letter-spacing: 0.3px;
        margin-left: 5px;
        &:before {
            content: '';
            @include position(absolute,null null 0 0);
            @include size(100%,1px);
            background: #3e50b4;
            transition: 0.3s ease;
        }
        &:hover {
            &:before {
                opacity: 0;
                transition: 0.3s ease;
            }
        }
    }
}
.profile-btns {
    margin-bottom: 76px;
    @media (max-width: 1200px) {
        position: relative;
        top: -38px;
        margin-bottom: 97px;
    }
    @media (max-width: 650px) {
        top: 0;
        margin-bottom: 40px;
    }
    .btn-rect {
        display: block;
        width: 240px;
        @media (max-width: 767px) {
            width: 100%;
        }
        &.feedback {
            margin-top: 0;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &.feedback {
            // display: none;
        }
    }
}

.ie-edge{
    .profile-info.informatic {
        position: static;
        // HACK: IE edge placeholder fix
    }
}

.profile-info {
    position: relative;
    left: -2px;
    &__link {
        font-family: "FrutigerNeueLTW1G-Bold";
        display: inline-block;
        padding: 7px 9px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #616161;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        background: #fff;
        font-size: 10px;
        &:hover {
            background: #3e50b4;
            color: #fff;
            transition: all 0.3s;
        }
        &:active {
            background: #35459d;
            border-color: #35459d;
            color: #fff;
            transition: all 0.3s;
        }
        &:not(:last-child) {
            margin-right: 11px;
        }
        @media (max-width: 680px) {
            margin-bottom: 10px;
            padding: 7px 5px;
            &:not(:last-child) {
                margin-right: 2px;
            }
        }
        &.is-active {
            color: #fff;
            border-color: #3e50b4;
            background: #3e50b4;
            &:hover {
                background: #fe9700;
                border-color: #fe9700;
                transition: all 0.3s;
            }
            &:active {
                background: #e48801;
                border-color: #e48801;
                transition: all 0.3s;
            }
        }
    }
    .tab-info {
        display: none;
        &.active {
            display: block;
            padding: 0 6px;
        }
    }
    .main-info,
    .publication {
        max-width: 552px;
        padding-top: 36px;
        @media (max-width: 1200px) {
            max-width: none;
        }
        &__title {
            font-family: "GaramondPremrPro-BdIt";
            font-size: 23px;
            color: #3e50b4;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 13px;
            color: #424242;
            position: relative;
            line-height: 20px;
            margin-bottom: 39px;
            padding-left: 2px;
            letter-spacing: 0.15px;
            .years {
                width: 100px;
                position: absolute;
                left: 0;
            }
            .years-info {
                padding-left: 97px;
                display: inline-block;
            }
            .years-list {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
        &__list {
            margin-bottom: 40px;
            li {
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 0;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    @include position(relative,-2px null null null);
                    @include size(5px,5px);
                    margin-right: 12px;
                    background: #3e50b4;
                    border-radius: 50%;
                }
            }
        }
    }
    .publication {
        .main-info {
            &__list {
                margin-bottom: 65px;
                li {
                    &:not(:last-child) {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}
.feedback {
    margin-top: 41px;
    &__btn {
        @media (max-width: 1200px) {
            margin: 41px auto;
            display: block;
        }
    }
    &__item {
        position: relative;
        padding-left: 97px;
        padding-top: 7px;
        border-bottom: 1px solid #e0e0e0;
        width: 86%;
        padding-bottom: 23px;
        margin-bottom: 29px;
    }
    &__avatar {
        @include size(75px,75px);
        overflow: hidden;
        border-radius: 50%;
        background: #3e50b4;
        @include position(absolute,0 null null 0);
        img {
            @include position(absolute,0 0 0 0);
            max-width: 100%;
            margin: auto;
        }
    }
    //todo - ШРИФТ не такой как в макете. потом поставить нужный !!!!
    &__autor {
        font-family: "FrutigerNeueLTW1G-Bold";
        font-size: 12px;
        text-transform: uppercase;
        color: #101010;
        letter-spacing: 1.3px;
        margin-bottom: 14px;
        &:before {
            content: '';
            display: inline-block;
            @include sprite($feedback);
            background-position: 32px 1px;
            margin-right: 12px;
            position: relative;
            top: 5px;
        }
    }
    &__autor-position {
        font-family: "GaramondPremrPro-Med";
        font-size: 15px;
        color: #424242;
        letter-spacing: 0.15px;
        margin-bottom: 14px;
    }
    &__text {
        font-family: "GaramondPremrPro-Med";
        color: #3e50b4;
        line-height: 1.25;
        font-size: 17px;
        letter-spacing: 0.16px;
    }
}
.share {
    margin-bottom: 60px;
    &__title {
        font-family: "GaramondPremrPro-BdIt";
        font-size: 17px;
        color: #616161;
        position: relative;
        margin-top: 96px;
        margin-bottom: 17px;
        letter-spacing: 0.4px;
        &:before {
            content: '';
            @include position(absolute,-17px null null 0);
            @include size(70px,2px);
            background: #fbaf5d;
        }
    }
}
.sort-wrap .selectric-open .selectric .button:before {
    content: none;
}
@media (max-width: 700px) {
    .pagination__info {
        float: none;
        text-align: center;
    }
}
