.left-page__title_long{
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.32px;
    margin-bottom: 19px;
    @media (max-width: 680px) {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.26px;
    }
}
.photoalbum{
    &__main{
        padding: 20px 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    &__num{
        font: 15px/23px "GaramondPremrPro-SmbdIt";
        color: #bdbdbd;
        margin: 0 0 20px;
        .i-ico_photo{
            margin-right: 11px;
            vertical-align: baseline;
            background: url(../img/ico-photo-2.png) no-repeat;
        }
    }
    &__label{
        margin: 40px 0 0;
    }
    &__label__item{
        font: 9px/20px 'FrutigerNeueLTW1G-Book';
        color: #3e50b4;
        margin-right: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    .share__title {
        margin-top: 70px;
    }
    &__return-link{
        font-size: 13px;
        font-family: "FrutigerNeueLTW1G-Bold";
        letter-spacing: 0.13px;
        color: #3e50b4;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    &__other{
        margin-top: 100px;
    }
}

.list_photoalbum{
    margin: 0 -13px 0 0;
    font-size: 0;
    @media (max-width: 1200px) and (min-width: 480px) {
       margin: 0 -10px 0 0;
    }
    @media (max-width: 480px) {
        margin: 0;
    }
    >.list__item{
        @media (max-width: 480px) {
            width: 100%;
        }
    }
}
.photoalbum-item{
    display: block;
    overflow: hidden;
    width: 240px;
    margin: 0 13px 10px 0;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    @media (max-width: 1200px) and (min-width: 480px) {
        margin: 0 10px 10px 0;
    }
    @media (max-width: 480px) {
        max-width: 240px;
        margin: 0 auto 10px;
    }
    &:hover{
        img{
            -moz-transform: scale(1.03);
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }
    }
    
    img{
        display: block;
        max-width: 100%;
        height: auto;
        -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -webkit-backface-visibility: hidden;
    }
}
.section-title{
    font:20px/24px "FrutigerNeueLTW1G-Regular";
    color: #101010;
    letter-spacing: 0.2px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 20px;
}
/* @group img-ln
  --------------------------------------------------------------------------- */
.js-fancybox-img {
    display: block;
    position: relative;
    img{
        display: block;
        position: static;
    }
}

.js-fancybox-img__ico {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#000;
    background: rgba(0,0,0,0.7) url(../img/ico-zoom.png) center center no-repeat;
    opacity: 0;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    &:hover{
        opacity:1;
    }
    .ie6-8 & {
        zoom:1;
        visibility: hidden;
        &:hover{
            visibility: visible;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 30)";
            filter: alpha(opacity=30);
        }
    }
}
.fancybox-title__text,
.photo-download{
    display: table-cell;
    vertical-align: middle;
    @media (max-width: 600px) {
        display: block;
    }
}
.fancybox-title__text{
    font-size: 12px;
    line-height:18px;
    font-family: "FrutigerNeueLTW1G-Light";
    letter-spacing: 0.3px;
    color: #616161;
    margin: 0;
    padding:5px 19px 5px 0;
}
.photo-download{
    border-left: 1px solid #bdbdbd;
    padding-left: 19px;
    &:hover{
        text-decoration: underline;
    }
    @media (max-width: 600px) {
        border-left: none;
        padding-left: 0;
        margin-top: 10px;
    }
}
.photo-download__link{
    display: block;
    white-space: nowrap;
    min-height: 22px;
    font: 9px/12px "FrutigerNeueLTW1G-Light";
    padding-left: 30px;
    color: #3e50b4;
    letter-spacing: 0.3px;
    background: url(../img/ico-load.png) no-repeat top left;
}
.i-br{
    display: block;
}
/* @end */