.schedule{
	overflow: hidden;
	margin: 0 0 -75px;
	@media (max-width: 350px) and (min-width:300px) {
       margin: 0 0 -39px;
    }
	&__preview{
		max-width: 1190px;
		margin: 0 auto;
		padding: 30px 25px 70px;
		font-family: "FrutigerNeueLTW1G-Light";
		color: #424242;
		.b-btn{
			float: left;
			clear: left;
			&:active {
				background: #35459d;
				border-color: #35459d;
			}
			@media (max-width: 1040px) and (min-width:300px) {
		       margin-top: 30px;
		    }
		}
		@media (max-width: 1040px) and (min-width:300px) {
	       padding-top: 20px;
	       padding-bottom: 60px;
	    }
	}
	&__content{
		background: #eeeeee;
		border-top: 1px solid #e0e0e0;
		padding: 70px 0;
	}
	&__main{
		max-width: 1190px;
		margin: 0 auto;
		padding: 0 25px;
	}
	&__left{
		float: left;
		width: 49%;
		@media (max-width: 1040px) and (min-width:300px) {
	       float: none;
	       width: auto;
	    }
	}
	&__right{
		float: right;
		width: 49%;
		@media (max-width: 1040px) and (min-width:300px) {
	       float: none;
	       width: auto;
	    }
	}
	&__descr{
		width: 81%;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 0.13px;
		margin-bottom: 40px;
		>p{
			margin: 0 0 10px;
		}
		@media (max-width: 1040px) and (min-width:300px) {
	       margin-bottom: 30px;
	    }
	    @media (max-width: 768px) and (min-width:300px) {
	       width:100%;
	    }
	}
	.personal-select{
		margin: 0 0 40px;
		@media (max-width: 600px) and (min-width:300px) {
	       margin-bottom: 20px;
	    }
	}
}
.b-btn{
	display:inline-block;
	vertical-align: top;
	text-decoration: none;
	cursor: pointer;
	margin:0;
	border:1px solid #3e50b4;
	padding:14px 30px;
	min-width: 260px;
	color:#3e50b4;
	font: 13px/20px "FrutigerNeueLTW1G-Bold";
	letter-spacing:0.3px;
	text-align: center;
	outline:none;
	-moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
	&:hover,
	&:active{
		background-color: #3e50b4;
		color:#fff;
	}
	.ie6-7 & {
		display: inline;
		zoom: 1;
	}
}
.schedule__call{
	color: #616161;
	&__preview{
		font: 21px/30px "GaramondPremrPro-Med";
		margin: 0 0 26px;
	}
	&__info{
		position: relative;
		padding-bottom: 6px;
		&:before{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 40px;
			height: 3px;
			background: #fe9700;
			content: '';
		}
		@media (max-width: 480px) and (min-width:300px) {
	       display:block;
	       margin-bottom:10px;
	    }
	}
	&__type{
		font-family: "GaramondPremrPro-SmbdIt";
		border-bottom: 1px dashed #3e50b4;
		margin-left: 12px;
		cursor: pointer;
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
		&:hover{
			border-bottom-color:transparent;
		}
		@media (max-width: 480px) and (min-width:300px) {
	       margin-right: 12px;
	       margin-left: 0;
	    }
	}
	&__type_selected{
		color: #3e50b4;
		border-bottom: 1px solid #3e50b4;
		cursor: default;
		&:hover{
			border-bottom-color:#3e50b4;
		}
	}
	&__item{
		position: relative;
		display: table;
	}
	&__main{
		display: table-cell;
		vertical-align: top;
	}
	&__title{
		font: 10px/20px "FrutigerNeueLTW1G-Bold";
		color: #000;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		margin: 0 0 2px;
	}
}
.list_schedule-call{
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 0.11px;
	margin-right: 30px;
	columns: auto 2;
	-webkit-columns: auto 2;
	-moz-columns: auto 2;
	-webkit-column-gap: 26px;  
    -moz-column-gap: 26px;  
    column-gap: 26px;
    >.list__item{
    	-webkit-column-break-inside: avoid;  
		-moz-break-inside: avoid; 
		break-inside:avoid;
		-webkit-column-break-before: avoid;  
		-moz-break-before: avoid; 
		break-before:avoid;
		-webkit-column-break-after: avoid;  
		-moz-break-after: avoid; 
		break-after:avoid;
    }
    @media (max-width: 480px) and (min-width:300px) {
       	columns: auto 1;
		-webkit-columns: auto 1;
		-moz-columns: auto 1;
		-webkit-column-gap: 0px;  
	    -moz-column-gap: 0px;  
	    column-gap: 0px;
	    margin-right: 20px;
    }
}
.shedule-list{
	.filter-wrap{
		margin-bottom: 20px;
		.selectric-open .selectric .button {
		    -webkit-transform: rotateZ(0);
		    -ms-transform: rotate(0);
		    transform: rotateZ(0);
		    background: url("../img/select-close.png") no-repeat center center;
		}
		.selectric-items li {
			font-size: 13px;
		    padding: 4px 23px;
		}
		.select {
		    max-width: 100%;
		}
		@media (max-width: 600px) and (min-width:300px) {
	       margin-top: 20px;
	    }
	}
	.filter-wrap__search,
	.filter-wrap__select{
		width: 30%;
		float: left;
		margin-right: 20px;
		@media (max-width: 1040px) and (min-width:600px) {
	       width: 45%;
	    }
	    @media (max-width: 600px) and (min-width:300px) {
	       width: 100%;
	       margin-right: 0;
	    }
	}
	.filter-wrap__select-wrapper{
		float: none;
	}
	.selectric-wrapper{
		display: block;
	}
}
.list_course{
}
.course-item{
	margin-bottom: 35px;
	&__title{
		font:23px/29px "GaramondPremrPro-BdIt";
		color: #3e50b4;
		letter-spacing: 0.23px;
		margin: 0 0 30px;
	}
}
.list_group{
	margin: 0 -10px 0 0;
	font-size: 0;
	>.list__item{
		width: 14.285%;
		min-width: 93px;
	}
}
.group-item{
	display: table;
	width: 100%;
	padding: 0 10px 10px 0;
	&__title{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 60px;
		text-align: center;
		background: #fff;
		color: #616161;
		padding: 3px 10px;
		font: 17px/18px "FrutigerNeueLTW1G-Light";
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
	    &:hover{
	    	background: #3e50b4;
	    	color: #fff;
	    }
	    &:active{
	    	background: #35459d;
			border-color: #35459d;
	    	color: #fff;
	    }
	    @media (max-width: 1040px) and (min-width:300px) {
	       	font-size:13px;
	    	line-height:16px;
	       	height: 50px;
	       	padding:1px 5px;
	    }
	}
}
.list_letter{
	margin: 0 0 40px;
	>.list__item{
		float: left;
		position: relative;
		min-width: 23px;
		line-height: 23px;
		text-align: center;
		margin: 0 3px 3px 0;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			content: '';
			z-index: -1;
			background: url(../img/bg-letter-select.png) no-repeat center center;
		}
		&.letter-item_active{
			&:before{
				opacity: 1;
				z-index: 1;
			}
		}
	}
}
.letter-item{
	display: inline-block;
	vertical-align: middle;
	font: 17px/19px "GaramondPremrPro-BdIt";
	color:#616161;
	letter-spacing: 0.85px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	-moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
	&:hover{
		color:#3e50b4;
	}
	.letter-item_active &{
		color:#3e50b4;
		border-bottom-color: #3e50b4;
		cursor: default;
	}
	.letter-item__disable &{
		color:#bdbdbd;
		cursor: default;
		&:hover{
			color:#bdbdbd;
		}
	}
}
.list_teacher{
	font-size: 0;
	margin-right: -25px;
	>.list__item{
		width: 25%;
		@media (max-width: 1023px) and (min-width:680px) {
	       	width: 33.33%;
	    }
	    @media (max-width: 680px) and (min-width:480px) {
	       	width: 50%;
	    }
	    @media (max-width: 480px) and (min-width:300px) {
	       	width: 100%;
	    }
	}
}
.teacher-item{
	position: relative;
	z-index: 1;
	margin: 0 30px 45px 0;
	&:before{
		position: absolute;
		top: -30px;
		left: -25px;
		width: 59px;
		height: 89px;
		background: url(../img/bg-section.png) no-repeat;
		z-index: -1;
		opacity: 0;
		content: '';
	}
	&__section{
		position: relative;
		font: 32px/32px "GaramondPremrPro-BdIt";
		color:#3e50b4;
		letter-spacing: 0.32px;
		text-transform: uppercase;
		padding-bottom: 5px;
		margin: 0 0 15px;
		&:before{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 40px;
			height: 2px;
			background: #fe9700;
			opacity: 0;
			content: '';
		}
		.teacher-item_selected &{
			&:before{
				opacity: 1;
			}
		}
	}
	&.teacher-item_selected{
		&:before{
			opacity: 1;
		}
	}
}
.list_teacher-name{
	>.list__item{
		margin-bottom: 11px;
	}
}
.teacher-name-item{
	font:13px/21px "FrutigerNeueLTW1G-Light";
	color: #616161;
	text-decoration: none;
	margin-bottom: 13px;
	&:hover{
		text-decoration: underline;
	}
	@media (max-width: 1023px) and (min-width:300px) {
       	font-size:12px;
       	line-height:20px;
       	margin-bottom: 10px;
    }
}
.lecture-item{
	margin-bottom: 35px;
	&__title{
		font:23px/29px "GaramondPremrPro-BdIt";
		color: #3e50b4;
		letter-spacing: 0.23px;
		margin: 0 0 30px;
	}
}
.list_lecture-num{
	margin: 0 -10px 0 0;
	font-size: 0;
	>.list__item{
		width: 14.285%;
		min-width: 93px;
	}
}
.lecture-num-item{
	display: table;
	width: 100%;
	padding: 0 10px 10px 0;
	&__title{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 60px;
		text-align: center;
		background: #fff;
		color: #616161;
		padding: 3px 10px;
		font: 17px/18px "FrutigerNeueLTW1G-Light";
		-moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	    transition: all linear 0.2s;
	    &:hover{
	    	background: #3e50b4;
	    	color: #fff;
	    }
	    @media (max-width: 1040px) and (min-width:300px) {
	    	font-size:13px;
	    	line-height:16px;
	       	height: 50px;
	       	padding:1px 5px;
	    }
	}
}