.st-search {
    margin-top: 44px;
    margin-bottom: 0;
    .sort-wrap__form {
        width: 420px;
    }
    .sort-wrap__select-wrapper {
        width: 310px;
    }
    &__title {
        font-family: "GaramondPremrPro-Smbd";
        color: #212121;
        text-transform: uppercase;
        font-size: 23px;
        margin-top: 28px;
        margin-bottom: 21px;
        letter-spacing: 0.07em;
    }
    &__line {
        width: 60px;
        height: 4px;
        background: #fe9700;

    }
    &__st {
        .numb-list__link {
            display: block;
            margin-bottom: 11px;
            line-height: 23px;
        }
        .numb-list__item {
            font-family: 'FrutigerNeueLTW1G-Book';
            font-size: 13px; 
            color: #424242;
            padding: 31px 47px 17px;
            line-height: 21px;
        }
        li::before {
            top: 33px;
            color: #b5b5b5;
        }
    }
}
.st-mr {
    font-family: "FrutigerNeueLTW1G-Regular";
    font-size: 12px;
    color: #3e50b4;
    display: inline-block;
    margin: 70px 0;
    position: relative;
    transform: rotate(0deg);
    &:hover:before {
        transform: rotate(180deg);
        top: -6px;
            transition: all .3s;
    }
    &:before {
        content: url("../img/st-mr.png");
        position: absolute;
        left: -42px;
        top: -3px;
    }
}
.b-cen {
    display: block;
    text-align: center;
}