.list-lvl-1 {
    padding-left: 470px;
}
.sitemap .left-page__title {
    margin-top: 4px;
    margin-left: 14px;
}
.main-list {
    padding-top: 46px;
    float: left;
    @media (max-width: 800px) and (min-width: 300px) {
        padding-top: 47px;
        padding-right: 20px;
        .main-list__link {
            letter-spacing: -.5px;
        }
    }
    &__link {
        font-family: "GaramondPremrPro-Med";
        font-size: 25px;
        line-height: 25px;
        color: #3e50b4;
        display: inline-block;
        letter-spacing: 0.01em;
        &:hover {
            text-decoration: underline;
        }
    }
    &__item {
        margin: 0 9px 27px;
        @media (max-width: 800px) and (min-width: 300px) {
            margin: 0 9px 21px;
        }
    }
}
.list-lvl-1 {
    padding-top: 21px;
    padding-bottom: 8px;
    &__item {
        margin-bottom: 53px;
    }
    &__title {
        font-family: "GaramondPremrPro-Med";
        font-size: 21px;
        line-height: 30px;
        color: #3e50b4;
        text-transform: none;
        font-weight: normal;
        margin: 29px 25px;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
        &:before {
            content: url("../img/list-img.png");
            position: absolute;
            left: -29px;
            bottom: -49px;
            z-index: -1;
        }
        &:after {
            content: "";
            width: 40px;
            height: 2px;
            background: #fe9700;
            position: absolute;
            left: 2px;
            bottom: -15px;
        }
    }
}
.list-lvl-2 {
    margin: 44px 26px;
    &__item {
        padding: 4px 0;
    }
    &__link {
        font-family: "FrutigerNeueLTW1G-Light";
        color: #424242;
        font-size: 13px;
        letter-spacing: 0.01em;
        &:hover {
            text-decoration: underline;
            color: #3e50b4;
        }
    }
}
.list-lvl-3 {
    margin: 11px 30px 22px;
    &__item {
        padding: 0;
    }
    &__link {
        font-family: "FrutigerNeueLTW1G-Light";
        color: #757575;
        font-size: 13px;
        letter-spacing: 0.01em;
        line-height: 22px;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media (max-width: 800px) and (min-width: 300px) {
    .list-lvl-1 {
        padding-left: 303px;
    }
    // .main-list__item {
    //     margin: 22px 9px;
    // }
    .main-list {
        width: 320px;
    }
}
@media (max-width: 700px) and (min-width: 300px) {
    .main-list {
        width: 100%;
        float: none;
        padding-left: 40px;
    }
    .list-lvl-1 {
        padding-left: 20px;
    }
}
@media (max-width: 400px) and (min-width: 300px) {
    .main-list__link {
        font-size: 20px;
    }
    .list-lvl-1 {
        padding-left: 0;
    }
    .main-list {
        padding-left: 20px;
    }
}
